<div class="block-card-5__item bg--light bg--light-white">
  <div class="block-card-5__image">
    {{ card5Item.image }}
  </div>
  <div class="block-card-5__group">
    <h3 class="block-card-5__title">{{ card5Item.title }}</h3>
    <div class="block-card-5__description">{{ card5Item.description }}</div>
    <div class="block-card-5__links">{{ card5Item.links }}</div>
  </div>
</div>
