{% block navigationdropdown %}
<nav id="header-navigation-dropdown" class="header__navigation-dropdown">
  <div class="navigation-selects">
    <div class="navigation-selects__language">
      <label>Language:</label>
      <div class="form-type-select">
        <select>
          <option value="US">English (US)</option>
          <option value="UK">English (Uk)</option>
          <option value="Español">Español</option>
          <option value="Português">Português</option>
          <option value="Dansk">Dansk</option>
          <option value="Deutsch">Deutsch</option>
          <option value="Français">Français</option>
          <option value="Italiano">Italiano</option>
          <option value="Русский">Русский</option>
        </select>
      </div>
    </div>
    <div class="navigation-selects__global">
      <label>Region:</label>
      <div class="form-type-select">
        <select>
          <option value="Western Europe">Western Europe</option>
          <option value="North America">North America</option>
          <option value="Caribbean">Caribbean</option>
          <option value="Latin America">Latin America</option>
          <option value="Eastern Europe">Eastern Europe</option>
          <option value="Asia">Asia</option>
          <option value="Middle East">Middle East</option>
          <option value="Russia & Baltic">Russia & Baltic</option>
        </select>
      </div>
      <label>Country:</label>
      <div class="form-type-select">
        <select>
          <option value="Germany">Germany</option>
          <option value="Austria">Austria</option>
          <option value="Belgium">Belgium</option>
          <option value="Czech Republic">Czech Republic</option>
          <option value="France">France</option>
          <option value="Greece">Greece</option>
          <option value="Hungary">Hungary</option>
          <option value="Italy">Italy</option>
          <option value="Luxembourg">Luxembourg</option>
          <option value="Netherlands">Netherlands</option>
          <option value="Norway">Norway</option>
          <option value="Poland">Poland</option>
          <option value="Portugal">Portugal</option>
          <option value="Romania">Romania</option>
          <option value="Slovenia">Slovenia</option>
          <option value="Spain">Spain</option>
          <option value="Sweden">Sweden</option>
        </select>
      </div>
    </div>
  </div>
  <ul class="navigation-dropdown hidden-on-mobile">
    <li class="navigation-dropdown__global">
      <a href="#">Global</a>
      <ul>
        <li>
          <a href="#">North America</a>
          <ul>
            <li>
              <a href="#">Canada</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Caribbean</a>
        </li>
        <li>
          <a href="#">Latin America</a>
        </li>
        <li class="active">
          <a href="#">Western Europe</a>
          <ul>
            <li>
              <a href="#">Austria</a>
            </li>
            <li>
              <a href="#">Belgium</a>
            </li>
            <li>
              <a href="#">Czech Republic</a>
            </li>
            <li>
              <a href="#">France</a>
            </li>
            <li class="active">
              <a href="#">Germany</a>
            </li>
            <li>
              <a href="#">Greece</a>
            </li>
            <li>
              <a href="#">Hungary</a>
            </li>
            <li>
              <a href="#">Italy</a>
            </li>
            <li>
              <a href="#">Luxembourg</a>
            </li>
            <li>
              <a href="#">Netherlands</a>
            </li>
            <li>
              <a href="#">Norway</a>
            </li>
            <li>
              <a href="#">Poland</a>
            </li>
            <li>
              <a href="#">Portugal</a>
            </li>
            <li>
              <a href="#">Romania</a>
            </li>
            <li>
              <a href="#">Slovenia</a>
            </li>
            <li>
              <a href="#">Spain</a>
            </li>
            <li>
              <a href="#">Sweden</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Eastern Europe</a>
        </li>
        <li>
          <a href="#">Asia</a>
        </li>
        <li>
          <a href="#">Middle East</a>
        </li>
        <li>
          <a href="#">Russia & Baltic</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Eng</a>
      <ul>
        <li class="active">
          <a href="#">English (US)</a>
        </li>
        <li>
          <a href="#">English (UK)</a>
        </li>
        <li>
          <a href="#">Español</a>
        </li>
        <li>
          <a href="#">Português</a>
        </li>
        <li>
          <a href="#">Dansk</a>
        </li>
        <li>
          <a href="#">Deutsch</a>
        </li>
        <li>
          <a href="#">Français</a>
        </li>
        <li>
          <a href="#">Italiano</a>
        </li>
        <li>
          <a href="#">Русский</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
{% endblock %}

