{% block navigation %}
<nav class="header__navigation__left">
  {# ul level 1 #}
  <ul class="main-menu main-menu--left">
    <li class="expanded med-menu-item">
      <a class="link-red" href="#">Medical</a>
      <span class="expanded-menu-icon js-expanded-menu"></span>
      {# ul level 2 #}
      <ul>
        <li>
          <a href="#">Piccolo Xpress</a>
        </li>
        <li>
          <a href="#">Panels</a>
        </li>
        <li class="expanded">
          <a href="#">Care Providers</a>
          <span class="expanded-menu-icon js-expanded-menu"></span>
          {# ul level 3 #}
          <ul>
            <li>
              <a href="#">Primary Care</a>
            </li>
            <li>
              <a href="#">Urgent Care</a>
            </li>
            <li>
              <a href="#">Internal Medicine</a>
            </li>
            <li>
              <a href="#">Oncology</a>
            </li>
            <li>
              <a href="#">Hospitals</a>
            </li>
            <li>
              <a href="#">Pediatrics</a>
            </li>
            <li>
              <a href="#">Government</a>
            </li>
            <li>
              <a href="#">Other</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">News</a>
        </li>
        <li>
          <a href="#">Events</a>
        </li>
        <li>
          <a href="#">Reference Center</a>
        </li>
      </ul>
    </li>
    <li class="expanded veterinary-menu-item">
      <a class="link-blue" href="#">Veterinary</a>
      <span class="expanded-menu-icon js-expanded-menu"></span>
      {# ul level 2 #}
      <ul>
        <li class="expanded">
          <a href="#">Fields of Interest</a>
          <span class="expanded-menu-icon js-expanded-menu"></span>
          {# ul level 3 #}
          <ul>
            <li>
              <a href="#">Companion Animals</a>
            </li>
            <li>
              <a href="#">Large Mammals</a>
            </li>
            <li>
              <a href="#">Equine</a>
            </li>
            <li>
              <a href="#">Small Mammals</a>
            </li>
            <li>
              <a href="#">Biomedical</a>
            </li>
            <li>
              <a href="#">Exotic</a>
            </li>
            <li>
              <a href="#">Wildlife</a>
            </li>
          </ul>
        </li>
        <li class="expanded">
          <a href="#">Products</a>
          <span class="expanded-menu-icon js-expanded-menu"></span>
          {# ul level 3 #}
          <ul>
            <li>
              <a href="#">VetScan VS2</a>
            </li>
            <li>
              <a href="#">VetScan HM5</a>
            </li>
            <li>
              <a href="#">VetScan VSPro</a>
            </li>
            <li>
              <a href="#">VetScan i-Stat1</a>
            </li>
            <li>
              <a href="#">VetScan Rapid Tests</a>
            </li>
            <li>
              <a href="#">VetScan Vue</a>
            </li>
          </ul>
        </li>
        <li class="expanded">
          <a href="#">Consumables</a>
          <span class="expanded-menu-icon js-expanded-menu"></span>
          {# ul level 3 #}
          <ul>
            <li>
              <a href="#">VS2 Chemistry Profiles</a>
            </li>
            <li>
              <a href="#">VSPro Cartridges</a>
            </li>
            <li>
              <a href="#">I-Stat1 Cartridges</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">News</a>
        </li>
        <li>
          <a href="#">Events</a>
        </li>
        <li>
          <a href="#">VetCom</a>
        </li>
        <li>
          <a href="#">Abaxis University</a>
        </li>
        <li>
          <a href="#">Reference Center</a>
        </li>
        <li>
          <a href="#">Catalog</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<nav class="header__navigation__right">
  <ul class="main-menu main-menu--right">
    <li class="expanded about-menu-item">
      <a href="#">About</a>
      <span class="expanded-menu-icon js-expanded-menu"></span>
      <ul>
        <li>
          <a href="#">History</a>
        </li>
        <li>
          <a href="#">Products</a>
        </li>
        <li>
          <a href="#">Management & Directors</a>
        </li>
        <li>
          <a href="#">Locations</a>
        </li>
        <li>
          <a href="#">Patents</a>
        </li>
        <li>
          <a href="#">Supply Chains & Suppliers</a>
        </li>
        <li>
          <a href="#">Corporate Charter</a>
        </li>
        <li>
          <a href="#">Distributors</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">News</a>
    </li>
    <li>
      <a href="#">Events</a>
    </li>
    <li>
      <a href="#">Investor Relations</a>
    </li>
    <li class="expanded careers-menu-item">
      <a href="#">Careers</a>
      <span class="expanded-menu-icon js-expanded-menu"></span>
      <ul>
        <li>
          <a href="#">Benefits</a>
        </li>
        <li>
          <a href="#">Culture</a>
        </li>
        <li>
          <a href="#">Locations</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Support</a>
    </li>
  </ul>
</nav>
{% endblock %}
