<h3 class="footer-panel__title">Contact info</h3>

<div class="footer-panel__body">
  220 Panama St.
  <br>Stanford University
  <br>Stanford, CA 94305-4101
  <br>
  <br>800-372-3749 (option 3)
  <br>summerinstitutes@stanford.edu
</div>

<div class="social-links icon-bg-white">
  <ul>
    <li>
      <a class="icon-twitter" href="#" title="Twitter">Twitter</a>
    </li>
    <li>
      <a class="icon-envelope" href="#" title="Mail">Mail</a>
    </li>
  </ul>
</div>
