<div class="footer-global__logo">
  <img src="../../images/footer-stanford-logo@2x.png" alt=" Footer logo" width="105" height="49">
</div>
<div class="footer-global__nav">
  <ul>
    <li>
      <a href="http://www.stanford.edu">SU Home</a>
    </li>
    <li>
      <a href="http://visit.stanford.edu/plan/maps.html">Maps &amp; Directions</a>
    </li>
    <li>
      <a href="http://www.stanford.edu/search/">Search Standford</a>
    </li>
    <li>
      <a href="http://www.stanford.edu/site/terms.html">Terms of Use</a>
    </li>
    <li>
      <a href="http://emergency.stanford.edu/">Emergency Info</a>
    </li>
  </ul>
</div>
<div class="footer-global__copyright">
  <p>&copy; Stanford University, Stanford, California 94305.
    <a href="#">Copyright Complaints</a>
  </p>
</div>
