<h3 class="footer-panel__title">support us</h3>
<div class="support-us">
  <p>Your gift funds the Institute's research, teaching and outreach activities.</p>
  <a class="btn btn--small btn--ripe-lemon" href="#">Make a gift</a>
</div>
