<h3 class="footer-panel__title">Who we are</h3>

<div class="logo-footer branding">
  <a class="logo" href="#">
    <img src="../../images/footer_logo.svg" alt="Footer logo" width="160" height="34">
  </a>
</div>

<div class="who-we-are">
  <p>Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In males. Porttitor blandit accumsan.</p>
  <a href="">Explore our programs</a>
</div>
