<form>
  <div class="form-type-textfield form-item">
    <label for="search" class="element-invisible">Search</label>
    <input id="search" class="form-control form-text" type="text" maxlength="128" size="60" placeholder="Search...">
  </div>
  <div class="form-actions">
    <input class="form-submit" type="submit" value="Search">
  </div>
</form>
