.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* Breakpoints: */
/* Colors. */
/* Cross-browser display: inline-block. */
.dib, .node-type-impact .node-impact .field-name-field-rel-people-multiple .field-name-field-first-name, .node-type-impact .node-impact .field-name-field-rel-people-multiple .field-name-field-last-name, .node-type-impact .node-impact .field-name-field-rel-people-multiple .field-name-field-first-name div, .node-type-impact .node-impact .field-name-field-rel-people-multiple .field-name-field-last-name div { display: inline-block; zoom: 1; *display: inline; }

/* Fonts */
.sr, .node-type-impact .field-name-field-impact-footer .field-item h2 { font-family: "ss", Arial, "Helvetica Neue", Helvetica, sans-serif; font-style: normal; font-weight: normal; }

.ssb, .node-type-impact .node-impact .field-name-field-rel-people-multiple .field-type-text, .node-type-impact .field-collection-item-field-impact-content-group table tbody td p, .impact-toggled-link, .impact-toggled-link:before { font-family: "ss_semibold", Arial, "Helvetica Neue", Helvetica, sans-serif; font-style: normal; font-weight: bold; }

.list-no-margin-left { margin-left: 0; }

@media screen and (min-width: 1025px) { .narrow-col, .node-type-impact #content-head .container-fluid, .node-type-impact .node-impact { width: 56%; margin-left: auto; margin-right: auto; } }
@media screen and (max-width: 1025px) { .narrow-col, .node-type-impact #content-head .container-fluid, .node-type-impact .node-impact { margin: 0 auto; width: 76%; } }
@media screen and (max-width: 320px) { .narrow-col, .node-type-impact #content-head .container-fluid, .node-type-impact .node-impact { width: 100%; } }

.node-type-impact #content-head { text-align: center; }
@media screen and (max-width: 760px) { .node-type-impact #content-head .container { float: none; } }
.node-type-impact #content-head .title { border-bottom: 1px solid #414141; font-size: 46px; font-family: 'crimson_roman',Arial,sans-serif; font-weight: lighter; color: #414141; line-height: 1.2; margin: 25px 0 23px; padding: 0 0 20px 0; }
.node-type-impact .field-name-field-subtitle .field-item { font-size: 40px; line-height: 1.2; text-align: center; width: 144%; margin: 0 -22%; margin-bottom: 15px !important; }
.node-type-impact .node-impact { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.node-type-impact .node-impact .field-item p { font-size: 17px; }
.node-type-impact .node-impact .field-item p a { color: #bb2222; }
.node-type-impact .node-impact .field-name-field-subtitle { font-size: 40px; font-family: 'crimson_roman',Arial,sans-serif; line-height: 1.1; color: #8e130e; }
.node-type-impact .node-impact .pp-image-style-description-description { background-color: #dad7cb; padding: 10px; font-size: 12px; color: #4d4f53; line-height: 1; max-width: 850px; }
.node-type-impact .node-impact .impact-image-right { float: right; margin: 10px 0 10px 30px; }
@media screen and (max-width: 760px) { .node-type-impact .node-impact .impact-image-right { float: none; margin: 0 auto; } }
@media screen and (max-width: 760px) { .node-type-impact .node-impact .impact-image-right .pp-image-style-description-right, .node-type-impact .node-impact .impact-image-right .pp-image-style-description { margin: 10px auto; } }
@media screen and (max-width: 760px) { .node-type-impact .node-impact .impact-image-right iframe { width: 100% !important; margin: 10px 0 20px; } }
.node-type-impact .node-impact .field-name-field-rel-people-multiple { background-color: #f5f5f2; margin: 15px -20px 25px; padding: 20px; overflow: hidden; }
.node-type-impact .node-impact .field-name-field-rel-people-multiple > .field-items > .field-item { width: 43%; float: left; margin-bottom: 40px; }
.node-type-impact .node-impact .field-name-field-rel-people-multiple > .field-items > .field-item.even { clear: left; margin-right: 8%; }
.node-type-impact .node-impact .field-name-field-rel-people-multiple .content { line-height: 10px; }
.node-type-impact .node-impact .field-name-field-rel-people-multiple h2 { display: none; }
.node-type-impact .node-impact .field-name-field-rel-people-multiple .field-name-field-image-media-single { float: left; margin-right: 20px; }
.node-type-impact .node-impact .field-name-field-rel-people-multiple .field-type-text { font-size: 14px; line-height: 1.4; }
.node-type-impact .node-impact .field-name-field-rel-people-multiple .field-name-field-first-name, .node-type-impact .node-impact .field-name-field-rel-people-multiple .field-name-field-last-name { font-size: 16px; font-family: "ss_bold", "Arial", sans-serif; line-height: 1.2; }
.node-type-impact .node-impact .field-name-field-rel-people-multiple .field-name-field-first-name a, .node-type-impact .node-impact .field-name-field-rel-people-multiple .field-name-field-last-name a { line-height: 1; }
.node-type-impact .node-impact .field-name-field-slideshow-slide { margin: 20px 0; }
.node-type-impact .node-impact .field-name-field-slideshow-slide .field-slideshow-wrapper { overflow: hidden; }
.node-type-impact .node-impact .field-name-field-slideshow-slide .field-slideshow { margin: 0 auto 20px; height: 309px !important; }
.node-type-impact .node-impact .field-name-field-slideshow-slide .field-slideshow-caption { position: absolute; bottom: -1px; width: 100%; background: #dad7cb; padding: 10px; }
.node-type-impact .node-impact .field-name-field-slideshow-slide .field-slideshow-caption > span { font-size: 12px; line-height: 1.5; color: #4d4f53; line-height: 1.5; display: block; background: none; padding: 0; }
.node-type-impact .node-impact .field-name-field-slideshow-slide .field-slideshow-caption > span a { color: #4d4f53; font-family: 'ss', Arial, sans-serif; }
.node-type-impact .node-impact .field-name-field-slideshow-slide .field-slideshow-caption .field-slideshow-caption-text { position: static; }
@media screen and (max-width: 979px) { .node-type-impact .node-impact .field-name-field-slideshow-slide .field-slideshow-caption { position: static; } }
.node-type-impact .node-impact .field-name-field-slideshow-slide .field-slideshow-pager { padding: 0 15%; }
.node-type-impact .node-impact .field-name-field-slideshow-slide .field-slideshow-pager li { width: auto; margin-right: 20px; }
.node-type-impact .node-impact .field-name-field-slideshow-slide .field-slideshow-controls .prev { left: 10%; background: url(/sites/all/themes/fsi/images/tabSliderLeft.png) no-repeat 0 0; }
.node-type-impact .node-impact .field-name-field-slideshow-slide .field-slideshow-controls .next { right: 10%; background: url(/sites/all/themes/fsi/images/tabSliderRight.png) no-repeat 0 0; }
.node-type-impact .node-impact .field-name-field-slideshow-slide .field-slideshow-controls .pause { display: none; }
@media screen and (min-width: 1025px) { .node-type-impact .node-impact { padding: 0 50px; }
  .node-type-impact .node-impact .impact-image-right { margin-right: -14%; }
  .node-type-impact .node-impact .field-name-field-slideshow-slide { margin: 20px -14%; } }
.node-type-impact .node-impact .iframe-wrapper { position: relative; padding-bottom: 44%; padding-top: 35px; height: 0; overflow: hidden; }
.node-type-impact .node-impact .iframe-wrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.node-type-impact #main { overflow: hidden; }
.node-type-impact .impact-audio-player { width: 660px; margin: 35px -50px; }
@media screen and (min-width: 1025px) and (max-width: 1300px) { .node-type-impact .impact-audio-player { width: 150%; margin: 35px -25%; } }
@media screen and (max-width: 1025px) { .node-type-impact .impact-audio-player { width: 100%; margin: 25px auto; } }
.node-type-impact .impact-audio-player .impact-audio-audio { position: relative; }
.node-type-impact .impact-audio-player .media-element-container { background: #4d5357; }
.node-type-impact .impact-audio-player .media-element-container .field-label { display: none; }
.node-type-impact .impact-audio-player .media-element-container .field-item { color: #fff; font-size: 16px; padding: 10px 20px; }
.node-type-impact .impact-audio-player .media-element-container .mejs-container { background: #4d5357; display: block; width: 93% !important; margin: 0 auto 6% auto; }
.node-type-impact .impact-audio-player .media-element-container .mejs-container .mejs-time-rail { width: 63% !important; }
@media screen and (max-width: 1025px) { .node-type-impact .impact-audio-player .media-element-container .mejs-container .mejs-time-rail { width: 60% !important; } }
@media screen and (max-width: 760px) { .node-type-impact .impact-audio-player .media-element-container .mejs-container .mejs-time-rail { width: 40% !important; } }
.node-type-impact .impact-audio-player p { margin: 0; }
.node-type-impact .impact-audio-player .impact-audio-transcription-controls { display: block; position: absolute; bottom: 1%; width: 100%; }
.node-type-impact .impact-audio-player .impact-audio-transcription-controls label { color: #fff; float: left; font-size: 14px; padding: 0 20px; }
.node-type-impact .impact-audio-player .impact-audio-transcription-controls b { cursor: pointer; float: right; display: block; margin: 8px 20px 0; width: 9px; height: 9px; }
.node-type-impact .impact-audio-transcription { background: #ecebe5; display: none; max-height: 300px; overflow-y: scroll; padding: 15px 20px; }
.node-type-impact .impact-image-left { margin-left: -14%; float: left; padding: 30px 20px; }
@media screen and (max-width: 760px) { .node-type-impact .impact-image-left { float: none; margin-left: 0; padding: 20px 5px 0; } }
.node-type-impact .impact-image-left img { float: none !important; }
@media screen and (max-width: 640px) { .node-type-impact .impact-image-left .pp-image-style-description-left { text-align: center; margin: auto; } }
.node-type-impact .impact-image-left .pp-image-style-description-description { text-align: center; }
.node-type-impact .impact-image-right img { float: none !important; }
.node-type-impact .impact-image-right .pp-image-style-description-description { float: none; text-align: center; }
.node-type-impact .field-name-field-impact-content-group > .field-items > .field-item .field-name-field-subtitle .field-item { width: 100%; margin: 0 auto; }
.node-type-impact .field-name-field-impact-content-group > .field-items > .field-item:first-child .field-name-field-subtitle .field-item { width: 144%; margin: 0 -22%; }
.node-type-impact .field-collection-item-field-impact-content-group table { border-top: 1px solid #dddfdf; border-bottom: 1px solid #dddfdf; border-left: 1px solid #fff; border-right: 1px solid #fff; margin: 30px 0; }
.node-type-impact .field-collection-item-field-impact-content-group table tbody td { padding: 15px 0; }
.node-type-impact .field-collection-item-field-impact-content-group table tbody td p a { font-family: 'ss', Arial, sans-serif; }
.node-type-impact section.direction.minusMargin, .node-type-impact footer.footer { display: none; }
.node-type-impact .field-name-field-impact-footer { position: relative; background: #f4f1ea; width: 124%; margin: 0 -12%; }
@media screen and (min-width: 1025px) and (max-width: 1300px) { .node-type-impact .field-name-field-impact-footer { margin: 0 -20%; width: 140%; } }
.node-type-impact .field-name-field-impact-footer .logo-impact { position: absolute; bottom: 60px; left: -300px; width: 200px; height: 21px; }
@media screen and (min-width: 1025px) and (max-width: 1300px) { .node-type-impact .field-name-field-impact-footer .logo-impact { left: -240px; } }
@media screen and (max-width: 1025px) { .node-type-impact .field-name-field-impact-footer .logo-impact { display: none; } }
.node-type-impact .field-name-field-impact-footer .field-item .impact-footer { float: left; margin-right: 8%; width: 28%; }
.node-type-impact .field-name-field-impact-footer .field-item .impact-footer:last-child { margin-right: 0; }
.node-type-impact .field-name-field-impact-footer .field-item ul { margin: 0; }
.node-type-impact .field-name-field-impact-footer .field-item ul a { color: #414141; font-size: 14px; display: block; padding-bottom: 10px; }
.node-type-impact .field-name-field-impact-footer .field-item h2 { color: #8e130e; font-size: 16px; margin-top: 45px; margin-bottom: 10px; text-transform: uppercase; }
.node-type-impact .field-name-field-impact-footer:before, .node-type-impact .field-name-field-impact-footer:after { content: ''; display: block; position: absolute; top: 0; width: 100%; height: 100%; background: #f4f1ea; }
.node-type-impact .field-name-field-impact-footer:before { left: -100%; }
.node-type-impact .field-name-field-impact-footer:after { right: -100%; }
.node-type-impact.diplomacy .impact-toggled-link { font-size: 0; }
.node-type-impact.diplomacy .impact-toggled-link:before { content: 'FSI Faculty Experts on International Security'; }

.impact-image-regular .pp-image-style-description, .impact-image-center .pp-image-style-description { width: auto !important; }
@media screen and (max-width: 640px) { .impact-image-regular .pp-image-style-description, .impact-image-center .pp-image-style-description { text-align: center; } }

.impact-image-center { margin: 20px 0 40px; }
.impact-image-center .pp-image-style-description { margin: 0 auto; max-width: 100%; }
@media screen and (min-width: 1025px) { .impact-image-center { margin: 20px -28% 40px; } }

.impact-top-header { font-size: 19px; font-family: 'crimson_roman',Arial,sans-serif; line-height: 1.3; width: 122%; margin: 0 -11%; }
@media screen and (max-width: 320px) { .impact-top-header { width: 100%; margin: 0; } }
.impact-top-header strong { font-size: 20px; font-family: 'crimson_roman',Arial,sans-serif; }

.impact-author { font-family: 'ss_light',Arial,sans-serif; font-size: 16px; color: #5f584e; padding-bottom: 15px; border-bottom: 1px solid #b8b9ba; margin: 20px 25% 35px; }

.impact-about-author { width: 124%; margin: 0 -12%; margin-bottom: 20px; position: relative; }
@media screen and (max-width: 640px) { .impact-about-author { width: 100%; margin: 10px 0; } }
.impact-about-author .impact-image-regular { float: left; }
@media screen and (max-width: 640px) { .impact-about-author .impact-image-regular { float: none; } }
.impact-about-author .impact-top-italic { float: right; width: 52%; padding-top: 3px; }
@media screen and (min-width: 1025px) and (max-width: 1300px) { .impact-about-author .impact-top-italic { width: 55%; margin-right: -18%; } }
@media screen and (max-width: 1025px) { .impact-about-author .impact-top-italic { width: 62%; } }
@media screen and (max-width: 979px) { .impact-about-author .impact-top-italic { width: 50%; } }
@media screen and (max-width: 640px) { .impact-about-author .impact-top-italic { float: none; padding-top: 13px; width: 100%; } }
.impact-about-author .impact-top-italic p { font-size: 12px !important; font-style: italic; }
.impact-about-author .pp-image-style-description-description { background: none !important; position: absolute; top: 0; left: 323px; font-size: 14px !important; }

.impact-toggled-link, .impact-toggled-link:before { text-align: center; background-color: #f5f5f2; padding: 20px; margin: 35px -20px; color: #8e130e; font-size: 16px; cursor: pointer; }
.impact-toggled-link:after, .impact-toggled-link:before:after { content: ''; display: inline-block; width: 0; height: 0; border-style: solid; border-width: 5px 8px; border-color: transparent transparent transparent #8e130e; margin-left: 15px; }

.page-impact .view-fsi-frontpage-sliders .views-row { position: relative; margin-bottom: 30px; }
.page-impact .view-fsi-frontpage-sliders .views-row .right-side span.field-content { position: absolute; bottom: 40%; width: 100%; right: 0; text-align: center; }
.page-impact .view-fsi-frontpage-sliders .views-row .right-side span.field-content a { padding: 15px 40px; font-family: 'ss_bold',Arial,sans-serif; font-size: 60px; color: white; background: #b49a59; background: rgba(180, 154, 89, 0.85); }
