// block-awards
.block-awards {
  padding: rem(35px 0 20px);

  @include susy-media(tablet) {
    padding: rem(45px 0 30px);
  }

  @include susy-media(desktop) {
    padding: rem(84px 0 93px);
  }

  .section-title {
    @include susy-media(desktop-wide) {
      margin-bottom: rem(52px);
    }
  }

  &__list {
    @extend %clearfix;
  }

  &__item {
    @include gallery(2 of $susy);
    margin-bottom: rem(20px);
    display: block;

    @include susy-media(tablet) {
      @include gallery(2 of 10);
    }
  }

  &__text,
  &__image {
    max-width: rem(180px);
    width: 100%;
  }

  &__image {
    align-content: stretch;
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    height: rem(80px);
    justify-content: center;
    margin-bottom: rem(20px);
  }

  &__text {
    border-top: rem(1px) solid $teal-dc;
    color: $gray-c4;
    font-size: rem(13px);
    line-height: 1.33;
    padding-top: rem(13px);

    p {
      margin-bottom: 0;
    }
  }
}
