.show-hide {
  padding: rem(25px) 0 rem(30px);

  @include susy-media(tablet) {
    padding: rem(45px) 0 rem(49px);
  }

  &__title {
    @include susy-media(tablet) {
      @include span(4 of $susy-desktop no-gutters);
      margin-bottom: 0;
      padding-right: rem(50px);
    }
  }

  &__accordion {
    @include susy-media(tablet) {
      @include span(8 of $susy-desktop wide last);
      margin-top: rem(-12px);
    }
  }
}
