{% block blockInspired %}
<div class="block-inspired">
  <div class="container">
    <h2 class="section-title text-white no-margin">Be Inspired</h2>
    <h3 class="section-description text-white">Watch these video stories to discover undoubted <br> benefits and true value of our products</h3>
    <div class="grid-video--3-video js-video-slide">
      <div class="grid-video--3-video__large">
        <div class="vidyard-video">
          <script type='text/javascript' id='vidyard_embed_code_9AH0tVdgZmvapbLHy3cFlg' src='//play.vidyard.com/9AH0tVdgZmvapbLHy3cFlg.js?v=3.1.1&type=inline'></script>
        </div>
      </div>
      <div class="grid-video--3-video__small">
        <div class="vidyard-video">
          <script type='text/javascript' id='vidyard_embed_code_7B31oDZ6wwLoZtEGt0FVFQ' src='//play.vidyard.com/7B31oDZ6wwLoZtEGt0FVFQ.js?v=3.1.1&type=inline'></script>
        </div>
      </div>
      <div class="grid-video--3-video__small">
        <div class="vidyard-video">
          <script type='text/javascript' id='vidyard_embed_code_GEZ1R8kGK950tJo26Vqtiw' src='//play.vidyard.com/GEZ1R8kGK950tJo26Vqtiw.js?v=3.1.1&type=inline'></script>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
