{% block blockDistributor %}
<div class="block-distributor">
  <div class="container">
    <div class="block-distributor__group chosen--no-boder">
      <div class="block-distributor__left">
        <h2 class="block-distributor__title">Schedule a Demonstration</h2>
        <div class="block-distributor__content-left">
          <p>Contact with an Abaxis Representative to get information about all products and services</p>
        </div>
        <div class="block-distributor__link-left">
          <a title="link" href="#" class="btn btn--medium btn--bg-red">Schedule</a>
        </div>
      </div>
      <div class="block-distributor__right">
        <form>
          <h2 class="block-distributor__title">Find the nearest Distributor</h2>
          <div class="form-type-select">
            <select>
              <option value="Country">Your country</option>
              <option value="Country1">Country</option>
            </select>
          </div>
          <div class="form-type-select">
            <select>
              <option value="State">Your state</option>
              <option value="State1">State</option>
            </select>
          </div>
          <div class="block-distributor__link-right">
            <a title="link" href="#" class="btn btn--medium btn--bg-blue">Show</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
