{% block blockPositions %}
<div class="block-positions">
  <div class="container">
    <form>
      <div class="form-type-select">
        <select>
          <option value="Manufactioring">Manufactioring / Operations</option>
          <option value="Positions">Positions</option>
        </select>
      </div>
      <div class="form-type-select">
        <select>
          <option value="Select location">Select location</option>
          <option value="Location">Location</option>
        </select>
      </div>
    </form>
  </div>
</div>
{% endblock %}
