{% block blockDetail %}
<div class="block-detail bg-blue-ea">
  <div class="container-narrow">
    <h3>Mauris consequat tellus purus</h3>
    <p>Nec sodales enim elementum sed. Nulla facilisi. Nam laoreet maximus neque ultricies volutpat. Nunc scelerisque nunc in lectus tincidunt, non viverra ipsum tincidunt. Phasellus at ligula sed erat condimentum pellentesque eget a ex. In eleifend mauris eget dignissim pharetra. Duis eget sem lectus. Curabitur sed dictum est. Sed vel sapien euismod, vulputate est ac, tempor neque. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec posuere, lacus at tempus dignissim, erat nunc porta orci, mattis viverra erat sapien in eros. Fusce interdum tempus mollis.</p>
    <h3>Ut molestie, magna id viverra</h3>
    <p>Sapien justo ultricies augue, sit amet pulvinar nisi velit sed odio. Vivamus at lectus arcu. Aliquam sapien tortor, pulvinar non ipsum ultrices, tincidunt sollicitudin turpis. Phasellus hendrerit turpis et tortor elementum, sit amet tempus orci maximus.</p>
  </div>
</div>
{% endblock %}
