{# Block Vetcom Archive #}

  <div id= "vetCom" class="block-vetcom-archive">
    <div class="container">
      <div class="block-vetcom">
        <h2 class="title-border-bottom">VetCom</h2>
        <div class="block-vetcom__left">
          <img src="../../images/images-pages/vetcom-img.png" alt="">
          <a href="#">
            <span class="text">Volume 56, 2015</span>
            <i class="files-pdf"></i>
          </a>
        </div>
        <div class="block-vetcom__right">
          <p>Vetcom, an international publication, read by veterinarians, veterinary technicians and office staff from all over the world.</p>
          <span>Vetcom Offers Readers:</span>
          <ul class="list--check">
            <li>Case Studies</li>
            <li>Practice Tips</li>
            <li>Educational Opportunities</li>
          </ul>
          <form class="subscribe-form">
            <label>SUBSCRIBE now</label>
            <div class="subscribe-form__inner">
              <input type="text" placeholder="Your email..." class="form-text required" name="email" value="">
              <input type="submit" class="btn btn--bg-light-blue form-submit" value="OK">
            </div>
          </form>
        </div>
      </div>

      <div class="block-archive">
        <h2 class="title">VETCOM ARCHIVE</h2>
        <ul class="list--caret-right">
          <li><a href="#" title="">Volume 55 - 2015 (EN)</a></li>
          <li><a href="#" title="">Volume 55 - 2015 (SP)</a></li>
          <li><a href="#" title="">Volume 55 - 2015 (PR)</a></li>
          <li><a href="#" title="">Volume 54 - 2014</a></li>
          <li><a href="#" title="">Volume 53 - 2014</a></li>
          <li><a href="#" title="">Volume 52 - 2013</a></li>
          <li><a href="#" title="">Volume 51 - 2013</a></li>
          <li><a href="#" title="">Volume 50 - 2012</a></li>
          <li><a href="#" title="">Jan/Feb 2012</a></li>
        </ul>
      </div>
    </div>
</div>
