{% block blockMoreCareers %}
<div class="block-more-careers bg-gray-f8">
  <div class="block-more-careers__content container-narrow">
    <h3>Careers</h3>
    <p>Abaxis is an Equal Opportunity Employer. Abaxis is a federal government contractor and as such, it has certain obligations with respect to various federal laws, regulations, and executive orders and must take affirmative action to ensure equality of opportunity in all aspects of employment. Abaxis will recruit, hire, train, and promote in all job titles without regard to race, color, national origin, religion, sex, disability, age, marital status, or status as a disabled veteran, veteran of the Vietnam era or other protected veteran.</p>
    <p>Abaxis is a Federal Contractor and requests priority referrals for Veterans and Individuals with Disabilities. All qualified applicants will receive consideration for employment without regard to race, sex, color, religion, sexual orientation, gender identity, national origin, protected veteran status, or on the basis of disability.</p>
    <p>Abaxis does not provide reimbursement for relocation expenses.</p><br/>
    <h3>Disability Access</h3>
    <p>Abaxis is committed to providing reasonable accommodation to applicants with physical or mental disabilities. If you require a reasonable accommodation for any part of the application or hiring process you may contact HR, using information below (Only those calls pertaining to disability assistance will be returned). Reasonable accommodation requests will be assessed on a case-by-case basis.</p><br/>
    <p><a class="link-blue" href="fax:(510) 675-6565"><i class="icon-fax"></i>(510) 675-6565</a></p>
    <p><a class="link-red"href="mailto:careers@abaxis.com"><i class="icon-mail"></i>careers@abaxis.com</a></p>
  </div>
</div>
{% endblock %}
