{% block blockJob %}
<div class="block-job">
  <div class="container">
    <div class="block-job__content padding-two-columns">
      <h1 class="block-job__title">Calibration Chemist Lead - 3rd shift</h1>
      <div class="container-narrow">
        <div class="block-job__link"><a href="#" target="_blank">3240 Whipple Rd, Union City, CA 94587, United States</a></div>
        <div class="block-job__body">
          <h3>Description:</h3>
          <ul>
            <li>To provide senior level resource, leadership and troubleshooting support for Lateral Flow Reagent Chemistry and Manufacturing processes, as well as production and process transfer support for new Lateral Flow equipment, processes and products.</li>
            <li>To assess rotor start-up for accuracy and acceptable calibration; be alert to developing trends and proactively notify management of emerging issues.</li>
            <li>Perform assigned rotor testing using biological samples; compile summaries and perform statistical analysis on test results.</li>
            <li>Assist with developing, reviewing, and improving calibration templates and documents; provide input for continuous improvement for calibration processes.</li>
            <li>Perform routine equipment maintenance and calibration; maintain laboratory in compliance with GMP (Good Manufacturing Practice) and GLP (Good Laboratory Practice).</li>
            <li>Provide troubleshooting support and assistance for calibration performance investigations; provide resource support for qualifications, validations and other requests as assigned.</li>
          </ul>
          <h3>Requirements:</h3>
          <ul>
            <li><b>BSc/Msc in Chemistry</b> or related field.</li>
            <li><b>At least 5 years</b> experience as a Chemist, or related field, in the medical device industry.</li>
            <li>Strong technical, scientific and laboratory skills including statistical analysis, experimental design, lab protocols/reports, calibration; lab safety, bio-hazard and chemical handling, and diagnostic product performance knowledge.</li>
            <li>Demonstrated organization, prioritization, and time management skills; ability to multi-task and work independently.</li>
            <li>Job will require working as late as 3:00 a.m.</li>
          </ul>
        </div>
        <div class="block-job__action">
          <a class="btn btn--medium btn--bg-red" href="#" title="link">Apply for job</a>
        </div>
        <div class="block-job__node">
          <h4>Please Node:</h4>
          <p>Resumes that are mailed or faxed will not be considered.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
