{% block blockGuide %}
<div class="block-guide">
  <div class="container">
    <h2 class="section-title">Simple Operation </h2>
    <h3 class="section-description">With Results You Can Count On</h3>

    <div class="block-guide__contents">
      <div class="block-guide__contents__item">
        <img src="../../images/images-pages/simple-step1.png" alt="Step 1">
        <h3 class="block-guide__body__title">Insert Sample</h3>
      </div>
      <div class="block-guide__contents__item">
        <img src="../../images/images-pages/simple-step2.png" alt="Step 2">
        <h3 class="block-guide__body__title">Insert Rotor</h3>
      </div>
      <div class="block-guide__contents__item">
        <img src="../../images/images-pages/simple-step3.png" alt="Step 3">
        <h3 class="block-guide__body__title">Read Results</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}
