<div class="block-slideshow">
  <div class="block-slideshow__slide js-block-slideshow__slide slick-dots-white">
    {% for item in slideShow.items %}
      <div>
        {{ item }}
      </div>
    {% endfor %}
  </div>
</div>
