{# Block Tasb #}
{% set FAQs = [
  {
    'FAQs__title' : 'Can the analyzer be connected to an external computer, printer, LIS or EMR?',
    'FAQs__body' : '<p>The Piccolo Xpress has 5 USB ports located on the back of the analyzer. These USB ports are bi-directional and can be connected to peripherals like a printer, keyboard, barcode scanner, computer or EMR/LIS system. Available data formats are ASCII, ASTM and XML. Data parsing and translation may be required to work with your system. Contact your IT department, systems provider or Abaxis Technical Service at 1-800-822-2947 for assistance.</br>
    Existing customers can also download Abaxis Data Manager for free by clicking here. Data Manager is a free, unsupported utility that connects your Piccolo to a 32-bit Windows computer and formats the Piccolo results into a PDF and XML file. Many practices have found these files useful as an interim solution to full connectivity.</p>',
  },
  {
    'FAQs__title' : 'What are the power requirements needed to operate the analyzer?',
    'FAQs__body' : '<p>The analyzer requires 100-240 volts AC, 50-60 Hz or 15 volts DC, 5.0A.</p>',
  },
  {
    'FAQs__title' : 'Is surge protection or an uninterruptible power supply required for the Piccolo Xpress?',
    'FAQs__body' : "<p>Abaxis recommends that the Piccolo be plugged into a surge protector designed for use with a computer. A suitable Belkin surge protector is provided with each analyzer. If an uninterruptible power supply is required for your operation, one is available from Abbott Point of Care Customer Service at 1-800-323-9100, or by clicking here to send a support request.</p>",
  },
  {
    'FAQs__title' : 'What do the black symbols on the results print out mean?',
    'FAQs__body' : '<p>"The three black “~~~” symbols mean that the results for that particular chemistry were suppressed. The analyzer is designed to deliver accurate results. If the analyzer is unable to provide accurate results, it will suppress those results rather than print them. Collect a new sample and re-run the test. If results for the second sample are suppressed, contact Abaxis Technical Support at 1-800-822-2947, or by clicking here to send a support request."</p>',
  },
  {
    'FAQs__title' : 'Should controls be run on the Piccolo Xpress?',
    'FAQs__body' : '<p>"CLIA Waived Testing
                    <ul class="list list--lower-alpha">
                      <li>At least every 30 days or with each new lot number of disc panels (whichever comes first).</li>
                      <li>Whenever laboratory conditions have changed significantly.</li>
                      <li>When training or retraining of personnel is indicated.</li>
                      <li>When test results do not match patient symptoms or clinical findings.</li>
                    </ul>
                    CLIA Moderately Complex Testing
                    <ul class="list list--lower-alpha">
                      <li>At least every 30 days.</li>
                      <li>Whenever laboratory conditions have changed significantly.</li>
                      <li>When training or retraining of personnel is indicated.</li>
                      <li>When test results do not match patient symptoms or clinical findings.</li>
                    </ul>
                    Please see Section 2.4, “Testing Procedure and Interpretation of Results,” in the Piccolo Xpress Operator’s Manual.</br>
                    The controls are analyzed the same as the patient samples; the only difference is that the results are stored in a memory separate from the sample results memory. It makes recalling control results easier. See Section 6, “Calibration and Quality Control,” in the Piccolo Xpress Operator’s Manual."</p>',
  },
  {
    'FAQs__title' : 'Where can control samples be purchased?',
    'FAQs__body' : '<p>"Controls can be ordered directly from Abbott Point of Care customer service, or through your Piccolo distributor. For additional information call Abbott Point of Care toll free at 1-800-323-9100."</p>',
  },
  {
    'FAQs__title' : 'What if I need technical support?',
    'FAQs__body' : '<p>"If you are experiencing difficulty, or have any questions about your Piccolo analyzer, contact Abaxis Technical Service at 1-800-822-2947. Or, you can click here to submit a support request."</p>',
  }
]
%}

{% set Specifications = [
  {
    'Specifications__title' : 'Analyzer Weight',
    'Specifications__body' : '<p>5.1 kg (11.2 lbs)</p>',
    'Specifications__class__body' : 'is-active',
    'Specifications__class__title' : 'is-active',
  },
  {
    'Specifications__title' : 'Power Adapter Weight       ',
    'Specifications__body' : '<p>0.7 kg (1.6 lbs)</p>',
  },
  {
    'Specifications__title' : 'Power Requirements',
    'Specifications__body' : '<p>100-240 volts AC; 50-60 Hz; or 15 volts DC, 5.0A</p>',
  },
  {
    'Specifications__title' : 'Sample Size ',
    'Specifications__body' : '<p>0.1cc (100 µl)</p>',
  },
  {
    'Specifications__title' : 'Sample Type ',
    'Specifications__body' : '<p>Lithium heparin, whole blood, serum or plasma</p>',
  },
  {
    'Specifications__title' : 'Test Time',
    'Specifications__body' : '<p>Approximately 12 minutes</p>',
  },
  {
    'Specifications__title' : 'Quality Control Features        ',
    'Specifications__body' : '<p>Built-in intelligent Quality Control (iQC®) system</p>',
  }
  ,
  {
    'Specifications__title' : 'Communication',
    'Specifications__body' : '<p>Bi-directional input/output</p>',
  }
  ,
  {
    'Specifications__title' : 'Consumables        ',
    'Specifications__body' : '<p>8-cm diameter, single-use, self-contained plastic chemistry reagent discs. Each disc contains all reagents needed to perform a panel of tests on a single sample</p>',
  }
  ,
  {
    'Specifications__title' : 'Data Input Display        ',
    'Specifications__body' : '<p>10-digit numeric –VGA color touchscreen</p>',
  }
  ,
  {
    'Specifications__title' : 'Printer',
    'Specifications__body' : '<p>Built in thermal printer with adhesive backed paper
External Printer/LIS/EMR capable</p>',
  }
  ,
  {
    'Specifications__title' : 'Memory Capacity        ',
    'Specifications__body' : '<p>Up to 5000 patient and quality control results</p>',
  }
  ,
  {
    'Specifications__title' : 'Mode of Operation        ',
    'Specifications__body' : '<p>Continuous</p>',
  }
]
%}


{% block contactInfoSupport %}
  <div class="grid-two-cols">
    <div class="container">
      <div class="grid-two-cols__content">
        <div class="grid-two-cols__left">
          {# Block Tasb #}
          {% block tabs %}
            <div class="block-tabs">
              <div class="container">
                <div class="block-tabs__inner-wrapper">
                  <ul class="tabs-header js-tabs hidden-on-mobile">
                    <li><a href="#" class="is-active">FAQs</a></li>
                    <li><a href="#">Specifications</a></li>
                  </ul>
                  <div class="form-type-select hidden-on-tablet">
                    <select class="js-select">
                      <option value="FAQ" selected="selected">FAQs</option>
                      <option value="Specifications">Specifications</option>
                    </select>
                  </div>
                  <div class="block-tabs__content js-tabs__content">
                    <div class="block-faqs js-tabs__content__item is-active">
                      {% for item in FAQs %}
                        <div class="block-faqs__item {% if loop.index == 1 %} is-active {% endif %}">
                          <h2 class="block-faqs__item__title">{{item.FAQs__title}}</h2>
                          <div class="block-faqs__item__body">{{item.FAQs__body}}</div>
                        </div>
                      {% endfor %}
                    </div>
                    <div class="block-faqs js-tabs__content__item">
                      {% for item in Specifications %}
                        <div class="block-faqs__item {% if loop.index == 1 %} is-active {% endif %}">
                          <h2 class="block-faqs__item__title">{{item.Specifications__title}}</h2>
                          <div class="block-faqs__item__body">{{item.Specifications__body}}</div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endblock %}

        </div>
        <div class="grid-two-cols__right">
          {% set ClassBlock = 'block-contact-info--has-border' %}
          {% set margin_class = 'bottom-space' %}
          {% set contactInfo = [
              {
                'title': 'NEEDS HELP?',
                'body': 'For Piccolo tectnical support call Abaxis Medical at',
                'phone': '(800) 822-2947, prompt 2',
                'link' : 'SUPPORT PAGE',
                'class' : 'bottom-large-space'
              },
              {
                'title': 'ORDERING/CUSTOMER SERVICE',
                'body': 'For Piccolo US costumer service call ABaxis Medical at',
                'phone': '(800) 822-2947, prompt 3',
                'body_one': 'More options and local representatives can be found in the contact us section',
                'link_one' : 'CONTACT US'
              }
            ]
          %}
          {% include "blocks/block-contact-info.twig" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
