{% set block_cta = [
  {
    'block_cta__class' : 'block-cta block-cta--width-large block-cta--position-center ',
    'block_cta__image' : '',
    'block_cta__title' : 'Abaxis Mission',
    'block_cta__body' : 'Abaxis provides leading edge technology, tools and services that support best medical practices, enabling physicians and veterinarians to respond to the health needs of their clients at the point of care while operating economical and profitable practices.',
    'block_cta__link' : '<a class="btn btn--medium btn--border-blue" href="#" title="link">More About Us</a>'
  }
]
%}
{% include "blocks/block-call-to-action.twig" %}

{% set block_cta = [
  {
    'block_cta__class' : 'block-cta block-cta--with-image block-cta--light block-cta--height-small block-cta--width-large block-cta--position-center margin-bottom',
    'block_cta__image' : '../images/images-pages/bg-referent-center.png',
    'block_cta__title' : 'Abaxis Mission',
    'block_cta__body' : 'Abaxis provides leading edge technology, tools and services that support best medical practices, enabling physicians and veterinarians to respond to the health needs of their clients at the point of care while operating economical and profitable practices.',
    'block_cta__link' : '<a class="btn btn--medium btn--bg-red" href="#" title="link">More About Us</a>'
  }
]
%}
{% include "blocks/block-call-to-action.twig" %}

{% set block_cta = [
  {
    'block_cta__class' : 'block-cta block-cta--with-image block-cta--light block-cta--height-large block-cta--width-large block-cta--position-center',
    'block_cta__image' : '../images/work-with-us-banner.jpg',
    'block_cta__title' : 'Abaxis Mission',
    'block_cta__body' : 'Abaxis provides leading edge technology, tools and services that support best medical practices, enabling physicians and veterinarians to respond to the health needs of their clients at the point of care while operating economical and profitable practices.',
    'block_cta__link' : '<a class="btn btn--medium btn--bg-blue" href="#" title="link">More About Us</a>'
  }
]
%}
{% include "blocks/block-call-to-action.twig" %}

{% set block_cta = [
  {
    'block_cta__class' : 'block-cta block-cta--with-image block-cta--height-small block-cta--width-small block-cta--position-left',
    'block_cta__image' : '../images/bg-cta.png',
    'block_cta__title' : 'Abaxis Mission',
    'block_cta__body' : 'Abaxis provides leading edge technology, tools and services that support best medical practices, enabling physicians and veterinarians to respond to the health needs of their clients at the point of care while operating economical and profitable practices.',
    'block_cta__link' : '<a class="btn btn--medium btn--border-red" href="#" title="link">More About Us</a>'
  }
]
%}
{% include "blocks/block-call-to-action.twig" %}

{% set block_cta = [
  {
    'block_cta__class' : 'block-cta block-cta--with-image block-cta--height-small block-cta--width-large block-cta--position-right',
    'block_cta__image' : '../images/bg-cta-left.png',
    'block_cta__title' : 'Abaxis Mission',
    'block_cta__body' : 'Abaxis provides leading edge technology, tools and services that support best medical practices, enabling physicians and veterinarians to respond to the health needs of their clients at the point of care while operating economical and profitable practices.',
    'block_cta__link' : '<a class="btn btn--medium btn--border-red" href="#" title="link">More About Us</a>'
  }
]
%}
{% include "blocks/block-call-to-action.twig" %}

{% set block_cta = [
  {
    'block_cta__class' : 'block-cta block-cta--with-image block-cta--height-small block-cta--width-small block-cta--position-left block-cta--align-right',
    'block_cta__image' : '../images/bg-cta.png',
    'block_cta__title' : 'Abaxis Mission',
    'block_cta__body' : 'Abaxis provides leading edge technology, tools and services that support best medical practices, enabling physicians and veterinarians to respond to the health needs of their clients at the point of care while operating economical and profitable practices.',
    'block_cta__link' : '<a class="btn btn--medium btn--border-red" href="#" title="link">More About Us</a>'
  }
]
%}
{% include "blocks/block-call-to-action.twig" %}

{% set block_cta = [
  {
    'block_cta__class' : 'block-cta block-cta--with-image block-cta--height-small block-cta--width-small block-cta--position-right block-cta--align-left',
    'block_cta__image' : '../images/bg-cta-left.png',
    'block_cta__title' : 'Abaxis Mission',
    'block_cta__body' : 'Abaxis provides leading edge technology, tools and services that support best medical practices, enabling physicians and veterinarians to respond to the health needs of their clients at the point of care while operating economical and profitable practices.',
    'block_cta__link' : '<a class="btn btn--medium btn--border-red" href="#" title="link">More About Us</a>'
  }
]
%}
{% include "blocks/block-call-to-action.twig" %}

{% set block_cta = [
  {
    'block_cta__class' : 'block-cta block-cta--with-image block-cta--height-small block-cta--width-small block-cta--position-right block-cta--align-center',
    'block_cta__image' : '../images/bg-cta-left.png',
    'block_cta__title' : 'Abaxis Mission',
    'block_cta__body' : 'Abaxis provides leading edge technology, tools and services that support best medical practices, enabling physicians and veterinarians to respond to the health needs of their clients at the point of care while operating economical and profitable practices.',
    'block_cta__link' : '<a class="btn btn--medium btn--border-red" href="#" title="link">More About Us</a>'
  }
]
%}
{% include "blocks/block-call-to-action.twig" %}

{% set block_cta = [
  {
    'block_cta__class' : 'block-cta block-cta--with-image block-cta--height-small block-cta--width-small block-cta--position-right block-cta--align-left block-cta--button-right',
    'block_cta__image' : '../images/bg-cta-left.png',
    'block_cta__title' : 'Abaxis Mission',
    'block_cta__body' : 'Abaxis provides leading edge technology, tools and services that support best medical practices, enabling physicians and veterinarians to respond to the health needs of their clients at the point of care while operating economical and profitable practices.',
    'block_cta__link' : '<a class="btn btn--medium btn--border-red" href="#" title="link">More About Us</a>'
  }
]
%}
{% include "blocks/block-call-to-action.twig" %}

{% set block_cta = [
  {
    'block_cta__class' : 'block-cta block-cta--with-image block-cta--height-small block-cta--width-small block-cta--position-right block-cta--align-left block-cta--button-center',
    'block_cta__image' : '../images/bg-cta-left.png',
    'block_cta__title' : 'Abaxis Mission',
    'block_cta__body' : 'Abaxis provides leading edge technology, tools and services that support best medical practices, enabling physicians and veterinarians to respond to the health needs of their clients at the point of care while operating economical and profitable practices.',
    'block_cta__link' : '<a class="btn btn--medium btn--border-red" href="#" title="link">More About Us</a>'
  }
]
%}
{% include "blocks/block-call-to-action.twig" %}

{% set block_cta = [
  {
    'block_cta__class' : 'block-cta block-cta--with-image block-cta--height-small block-cta--width-small block-cta--position-right block-cta--align-left block-cta--button-left',
    'block_cta__image' : '../images/bg-cta-left.png',
    'block_cta__title' : 'Abaxis Mission',
    'block_cta__body' : 'Abaxis provides leading edge technology, tools and services that support best medical practices, enabling physicians and veterinarians to respond to the health needs of their clients at the point of care while operating economical and profitable practices.',
    'block_cta__link' : '<a class="btn btn--medium btn--border-red" href="#" title="link">More About Us</a>'
  }
]
%}
{% include "blocks/block-call-to-action.twig" %}
