<div class="container">
  <ul class="list-icon">
    <li>
      <i class="icon-world"></i>
      <span>icon-world</span>
    </li>
    <li>
      <i class="icon-bars"></i>
      <span>icon-bars</span>
    </li>
    <li>
      <i class="icon-triangle-up"></i>
      <span>icon-triangle up</span>
    </li>
    <li>
      <i class="icon-list"></i>
      <span>icon-list</span>
    </li>
    <li>
      <i class="icon-grid"></i>
      <span>icon-grid</span>
    </li>
    <li>
      <i class="icon-angle-up"></i>
      <span>icon-angle-up</span>
    </li>
    <li>
      <i class="icon-lab"></i>
      <span>icon-lab</span>
    </li>
    <li>
      <i class="icon-clock"></i>
      <span>icon-clock</span>
    </li>
    <li>
      <i class="icon-calendar"></i>
      <span>icon-calendar</span>
    </li>
    <li>
      <i class="icon-angle-left"></i>
      <span>icon-angle-left</span>
    </li>
    <li>
      <i class="icon-angle-double-left"></i>
      <span>icon-angle-double-left</span>
    </li>
    <li>
      <i class="icon-angle-double-right"></i>
      <span>icon-angle-double-right</span>
    </li>
    <li>
      <i class="icon-mail"></i>
      <span>icon-mail</span>
    </li>
    <li>
      <i class="icon-fax"></i>
      <span>icon-fax</span>
    </li>
    <li>
      <i class="icon-location"></i>
      <span>icon-location</span>
    </li>
    <li>
      <i class="icon-arrow-drop-down"></i>
      <span>icon-arrow-drop-down</span>
    </li>
    <li>
      <i class="icon-mail"></i>
      <span>icon-mail</span>
    </li>
    <li>
      <i class="icon-search"></i>
      <span>icon-search</span>
    </li>
    <li>
      <i class="icon-instagram"></i>
      <span>icon-instagram</span>
    </li>
    <li>
      <i class="icon-warning"></i>
      <span>icon-warning</span>
    </li>
    <li>
      <i class="icon-arrow-left"></i>
      <span>icon-arrow-left</span>
    </li>
    <li>
      <i class="icon-arrow-right"></i>
      <span>icon-arrow-right</span>
    </li>
    <li>
      <i class="icon-youtube"></i>
      <span>icon-youtube</span>
    </li>
    <li>
      <i class="icon-linkedin"></i>
      <span>icon-linkedin</span>
    </li>
    <li>
      <i class="icon-caret-right"></i>
      <span>icon-caret-right</span>
    </li>
    <li>
      <i class="icon-twitter"></i>
      <span>icon-twitter</span>
    </li>
    <li>
      <i class="icon-facebook"></i>
      <span>icon-facebook</span>
    </li>
    <li>
      <i class="icon-facebook-f"></i>
      <span>icon-facebook-f</span>
    </li>
    <li>
      <i class="icon-google-plus"></i>
      <span>icon-google-plus</span>
    </li>
    <li>
      <i class="icon-angle-right"></i>
      <span>icon-angle-right</span>
    </li>
    <li>
      <i class="icon-angle-down"></i>
      <span>icon-angle-down</span>
    </li>
    <li>
      <i class="icon-paw"></i>
      <span>icon-paw</span>
    </li>
    <li>
      <i class="icon-cow"></i>
      <span>icon-cow</span>
    </li>
    <li>
      <i class="icon-horseshoe"></i>
      <span>icon-horseshoe</span>
    </li>
    <li>
      <i class="icon-rabbit"></i>
      <span>icon-rabbit</span>
    </li>
    <li>
      <i class="icon-microscope"></i>
      <span>icon-microscope</span>
    </li>
    <li>
      <i class="icon-salamander"></i>
      <span>icon-salamander</span>
    </li>
    <li>
      <i class="icon-gorilla"></i>
      <span>icon-gorilla</span>
    </li>
    <li>
      <i class="icon-cloud"></i>
      <span>icon-cloud</span>
    </li>
    <li>
      <i class="icon-heart"></i>
      <span>icon-heart</span>
    </li>
    <li>
      <i class="icon-hospital"></i>
      <span>icon-hospital</span>
    </li>
    <li>
      <i class="icon-aid-ribbon"></i>
      <span>icon-aid-ribbon</span>
    </li>
    <li>
      <i class="icon-house-cross"></i>
      <span>icon-house-cross</span>
    </li>
    <li>
      <i class="icon-bear-cross"></i>
      <span>icon-bear-cross</span>
    </li>
    <li>
      <i class="icon-three-dots"></i>
      <span>icon-three-dots</span>
    </li>
    <li>
      <i class="icon-building"></i>
      <span>icon-building</span>
    </li>
    <li>
      <i class="icon-link-external"></i>
      <span>icon-link-external</span>
    </li>
    <li>
      <i class="icon-check"></i>
      <span>icon-check</span>
    </li>
    <li>
      <i class="icon-in"></i>
      <span>icon-in</span>
    </li>
  </ul>
</div>
