{% block blockList %}
	<div class="block-list-link">
		<div class="container">
			<div class="list-demo">
				<div class="list-demo__item">
					<h2 class="title-demo">List Default</h2>
					<ul class="list">
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
					</ul>
				</div>
				<div class="list-demo__item">
					<h2 class="title-demo">List Style Care Right</h2>
					<ul class="list list--caret-right bg-gray">
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
					</ul>
				</div>
				<div class="list-demo__item">
					<h2 class="title-demo">List Arrowed Links</h2>
					<ul class="list list--arrowed-links">
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
					</ul>
				</div>
				<div class="list-demo__item">
					<h2 class="title-demo">List Dotted</h2>
					<ul class="list list--dotted">
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
					</ul>
				</div>
				<div class="list-demo__item">
					<h2 class="title-demo">List Flat</h2>
					<ul class="list list--flat">
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
					</ul>
				</div>
				<div class="list-demo__item">
					<h2 class="title-demo">List Ckeck</h2>
					<ul class="list list--check">
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
						<li><a href="#">Nulla et lacus vitae dui faucibus posuere vel in est</a></li>
					</ul>
				</div>
				<div class="list-demo__item">
					<h2 class="title-demo">List Lower Alpha</h2>
					<ul class="list list--lower-alpha">
						<li>Nulla et lacus vitae dui faucibus posuere vel in est</li>
						<li>Nulla et lacus vitae dui faucibus posuere vel in est</li>
						<li>Nulla et lacus vitae dui faucibus posuere vel in est</li>
						<li>Nulla et lacus vitae dui faucibus posuere vel in est</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
