<div class="container">
  <nav class="pager">
    <ul class="pager__items">
      <li class="pager__item pager__item--previous">
        <a href="" title="Go to previous page" rel="prev">
          <i class="icon-angle-left"></i>Prev page
        </a>
      </li>
      <li class="pager__item">
        <a href="" title="Go to page 1">1</a>
      </li>
      <li class="pager__item is-active">
        <a href="?page=1" title="Current page">2</a>
      </li>
      <li class="pager__item">
        <a href="?page=2" title="Go to page 3">3</a>
      </li>
      <li class="pager__item">
        <a href="?page=3" title="Go to page 4">4</a>
      </li>
      <li class="pager__item">
        <a href="?page=4" title="Go to page 5">5</a>
      </li>
      <li class="pager__item">
        <a href="?page=5" title="Go to page 6">6</a>
      </li>
      <li class="pager__item">
        <a href="?page=6" title="Go to page 7">7</a>
      </li>
      <li class="pager__item pager__item--next">
        <a href="?page=2" title="Go to next page" rel="next">
         Next page <i class="icon-angle-right"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
