// Susy grid.
$debug: false; // Set true to show the grid.
$show-image: 'hide';

@if $debug == false {
  $show-image: 'hide';
} @else {
  $show-image: 'show';
}

// Grid definition for all breakpoints. Use http://gridcalculator.dk/#/1200/12/52/20 to generate the grid.
$susy: (
  flow: ltr,
  math: fluid,
  container-position: rem($container-margin * 2),
  container: auto,
  columns: $column-mobile,
  gutters: 15px / 44px,
  column-width: false,
  debug: (
    image: $show-image,
    color: rgba($black, .25),
    output: background,
    toggle: top right,
  )
);

$susy-tablet: (
  container-position: rem($container-margin * 2),
  container: auto,
  columns: $column-tablet,
  gutters: 38px / 59px,
  column-width: false,
  debug: (
    image: $show-image,
    color: rgba($gray, .25),
    output: background,
    toggle: top right,
  ),
);

$susy-desktop: (
  columns: $column-desktop,
  gutters: 36px / 62px,
  container-position: auto,
  container: rem($container),
  debug: (
    image: $show-image,
    color: rgba($silver, .25),
    output: background,
    toggle: top right,
  ),
);

$susy-desktop-small: (
  columns: $column-desktop,
  gutters: 36px / 62px,
  container-position: auto,
  container: rem($container-small),
  debug: (
    image: $show-image,
    color: rgba($silver, .25),
    output: background,
    toggle: top right,
  ),
);

$susy-desktop-wide: (
  columns: $column-desktop,
  gutters: 36px / 62px,
  container-position: auto,
  container: rem($container-desktop),
  debug: (
    image: $show-image,
    color: rgba($silver, .25),
    output: background,
    toggle: top right,
  ),
);

// Pick specific breakpoint.
$susy-media: (
  // max-width: 769px
  mobileOnly: (
    media: screen,
    max-width: $tablet - 1,
  ),

  // max-width: 1999px
  mobileTabletOnly: (
    media: screen,
    max-width: $desktop - 1,
  ),

  // min-width: 480px
  mobileLandscape: $mobile-landscape,

   // max-width: 480px
  mobileLandscapeOnly: (
    media: screen,
    max-width: $mobile-landscape - 1,
  ),

  // min-width: 768px and max-width: 1999px
  tabletOnly: (
    media: screen,
    min-width: $tablet,
    max-width: $desktop - 1,
  ),

  // min-width: 768px
  tablet:$tablet,

  desktop-small: (
    media: screen,
    min-width: $desktop,
    max-width: $desktop-small,
  ),


  // min-width: 1024px
  desktop: $desktop,

  // min-width: 1300px
  desktop-small-minw: $desktop-small,

  // min-width: 1440px
  desktop-wide: $desktop-wide,
);

%container,
.container {
  @include container();

  @include susy-media(tablet) {
    @include container($susy-tablet);
  }

  @include susy-media(desktop) {
    @include container($susy-desktop);
  }

  @include susy-media(desktop-small) {
    @include container($susy-desktop-small);
  }

  @include susy-media(desktop-wide) {
    @include container($susy-desktop-wide);
  }
}
