<section class="footer-bottom">
  <div class="container">
    <div class="footer-logo"><a href="{{ url('<front>') }}" title=""><img src="{{ file_url('themes/custom/abaxis/logo.png') }}" alt="logo" width="115" height="44"></a></div>
    {{ content }}
  </div>
</section>
