<div class="link-column">
  <div class="container">
    <div class="link-column__grid">
      {% for item in linkColumn.items %}
        <div class="link-column__grid__item bg--white text--dark">{{ item }}</div>
      {% endfor %}
    </div>
  </div>
</div>
