<div class="vidyard-thumbnail">
  <a class="colorbox cboxElement" href="/colorbox/vidyard/{{ content.field_video_url.0['#id'] }}">{{ content.field_resource_thumbnail }}</a>
</div>
<h4 class="block-video__title"><a href="/colorbox/vidyard/{{ content.field_video_url.0['#id'] }}" class="colorbox cboxElement">{{ content.title }}</a></h4>
