<div class="block-brochures-filter__item">
  <div class="block-brochures-filter__image"><a target="_blank" href="{{ content.field_pdf }}">{{ content.field_resource_thumbnail }}</a></div>
  <div class="block-brochures-filter__title"><a target="_blank" href="{{ content.field_pdf }}">{{ content.title }}</a></div>
</div>
