<div class="block-banner block-banner--light block-banner--height-big">
  {% if content.field_story_image is not empty %}
    <div class="block-banner__image">{{ content.field_story_image }}</div>
  {% endif %}
</div>
