<a href="{{ url }}" class="block-product-icon__item">
  {% if content.field_icon_class %}
    <i class="block-product-icon__item__icon {{ content.field_icon_class }}"></i>
  {% endif %}
  <h3 class="block-product-icon__item__title">{{ name }}</h3>
</a>