 <div class="container">
  <div class="grid-media-event">
    <div class="grid-media-event__item grid-media-event__half-left">
      {{ content.slide.items.0 }}
    </div>
    <div class="grid-media-event__item grid-media-event__half-right">
      <div class="grid-media-event__half-left">
        {{ content.slide.items.1 }}
      </div>
      <div class="grid-media-event__half-right">
        {{ content.slide.items.2 }}
      </div>
      <div class="grid-media-event__bottom-full">
        {{ content.slide.items.3 }}
      </div>
    </div>
  </div>
</div>
