<div class="block-cta-3 {{ cta3.backgroundColor }}">
  <div class="container">
    <div class="block-cta-3__grid">
      <div class="block-cta-3__description {{ cta3.position }}">
        {{ cta3.description }}
      </div>
      <div class="block-cta-3__links link-btn-wrap">{{ cta3.links }}</div>
    </div>
  </div>
</div>
