<p>Primary font: "gotham_light","Helvetica", "Arial, sans-serif;</p>
<p style="font-family: gotham_thinitalic;">Gotham Thinitalic font: "gotham-thinitalic", "Helvetica", "Arial", sans-serif;</p>
<p style="font-family: gotham_book;">Gotham Book font: "gotham-book","Helvetica", "Arial", sans-serif;</p>
<p style="font-family: gotham_medium;">Gotham Medium font: "gotham_medium", "Helvetica", "Arial", sans-serif;</p>
<p style="font-family: gotham_bold;">Gotham Bold font: "gotham-bold","Helvetica", "Arial", sans-serif;</p>
