{% block blockMedicalEventsList %}
<div class="block-medical-events-list block-event bg-gray-f8 js-show-content contextual-region">
  {{ title_suffix }}
  <div class="container">
    {{ elements.content.tabs }}
    {{ elements.content.medical }}
  </div>
</div>
{% endblock %}