<div class="block-profile container-medium">
  <div class="block-profile__list">
    <div class="block-profile__item">
      <div class="block-profile__image"><img src="../images-demo/profile.jpg" alt=""></div>
      <div class="block-profile__wrapper">
        <div class="block-profile__name">Employee Full Name</div>
        <div class="block-profile__position">Department Position</div>
      </div>
    </div>
    <div class="block-profile__item">
      <div class="block-profile__image"><img src="../images-demo/profile.jpg" alt=""></div>
      <div class="block-profile__wrapper">
        <div class="block-profile__name">Employee Full Name</div>
        <div class="block-profile__position">Department Position</div>
      </div>
    </div>
  </div>
  <div class="block-profile__more"><a href="#abc" class="icon-angle-down">link to block </a></div>
</div>
