{% block listPhoto %}
  <div class="block-list-photo">
    <div class="block-list-photo__item add-image">
      <a href="#"><span>Add an album</span></a>
    </div>
    <div class="block-list-photo__item">
      <div class="block-list-photo__inner">
        <div class="block-list-photo__image"><a href="#"><img src="../images-demo/photo/photo1.jpg"></a></div>
        <div class="block-list-photo__content">
          <h6 class="block-list-photo__title"><a href="#">Team time reflections</a></h6>
          <div class="block-list-photo__user">by Annie Weckesser</div>
        </div>
      </div>
    </div>
    <div class="block-list-photo__item">
      <div class="block-list-photo__inner">
        <div class="block-list-photo__image"><a href="#"><img src="../images-demo/photo/photo2.jpg"></a></div>
        <div class="block-list-photo__content">
          <h6 class="block-list-photo__title"><a href="#">Road trip for Oct 13 office opening!</a></h6>
          <div class="block-list-photo__user">by Jen Wong</div>
        </div>
      </div>
    </div>
    <div class="block-list-photo__item">
      <div class="block-list-photo__inner">
        <div class="block-list-photo__image"><a href="#"><img src="../images-demo/photo/photo3.jpg"></a></div>
        <div class="block-list-photo__content">
          <h6 class="block-list-photo__title"><a href="#">China visit</a></h6>
          <div class="block-list-photo__user">by Alexander Smith</div>
        </div>
      </div>
    </div>
    <div class="block-list-photo__item">
      <div class="block-list-photo__inner">
        <div class="block-list-photo__image"><a href="#"><img src="../images-demo/photo/photo4.jpg"></a></div>
        <div class="block-list-photo__content">
          <h6 class="block-list-photo__title"><a href="#">Another road trip</a></h6>
          <div class="block-list-photo__user">by Andy McDonald</div>
        </div>
      </div>
    </div>
    <div class="block-list-photo__item">
      <div class="block-list-photo__inner">
        <div class="block-list-photo__image"><a href="#"><img src="../images-demo/photo/photo5.jpg"></a></div>
        <div class="block-list-photo__content">
          <h6 class="block-list-photo__title"><a href="#">NYC pub crawl and amazeballs</a></h6>
          <div class="block-list-photo__user">by David Leigh</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
