<div class="box-icon">
  <div class="box-icon__item">
    <a href="#" class="box-icon__icon icon-search">icon search</a>
  </div>
  <div class="box-icon__item">
    <a href="#" class="box-icon__icon icon-star">icon start</a>
  </div>
  <div class="box-icon__item">
    <a href="#" class="box-icon__icon js-open-nav icon-menu-open">icon menu</a>
  </div>
</div>
