{% block heading %}
<div class="container">
  <h1>H1 | BlueSkyStandard-Light | 42px, Desktop | 38px, Tablet | 28px, Mobile 20px</h1>
  <h2>H2 | BlueSkyStandard-Light | 30px, Desktop | 22px, Tablet | 20px, Mobile 20px</h2>
  <h3>H3 | BlueSkyStandard-Light | 24px, Desktop | 18px, Tablet | 16px, Mobile 14px</h3>
  <h4>H4 | BlueSkyStandard-Regular | 18px, Desktop | 14px, Tablet | 13px, Mobile 12px</h4>
  <h5>H5 | BlueSkyStandard-Light | 16px, Desktop | 14pxpx, Tablet | 14px, Mobile 13px</h5>
  <h6>H6 | BlueSkyStandard-Bold | 14px, Desktop | 12px, Tablet | 11px, Mobile 12px</h6>
</div>
{% endblock %}
