{% block footer %}
<footer class="footer bg--baltic-sea">
  <section class="footer-panel">
    <div class="container">
      <div class="footer-panel__top">
        <div class="footer-panel__top__item">
          <div class="nav-footer">
            <h3 class="footer-panel__title">Company Infomation</h3>
            <ul class="menu">
              <li><a href="#">About Proofpoint</a></li>
              <li><a href="#">Investors Center</a></li>
              <li><a href="#">Board of Directors</a></li>
              <li><a href="#">Leadership Team</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">News Center</a></li>
              <li><a href="#">Corporate Blog</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-panel__top__item">
          <div class="nav-footer">
            <h3 class="footer-panel__title">Quick links</h3>
            <ul class="menu">
              <li><a href="#">Daily Ruleset Summary</a></li>
              <li><a href="#">Upgrade from McAfee</a></li>
              <li><a href="#">IP Address Blocked?</a></li>
              <li><a href="#">Webinars</a></li>
              <li><a href="#">Threat Insight blog</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-panel__top__item">
          <div class="list-social">
            <h3 class="footer-panel__title">Contact &#38; Support</h3>
            <ul class="menu">
              <li><a class="icon-phone-ppoint" href="#">See all contacts</a></li>
              <li><a class="icon-mail-ppoint-2"href="#">Send us a message</a></li>
              <li><a class="icon-demo-ppoint" href="#">Chat</a></li>
            </ul>
          </div>
<!--           <div class="list-buttons">
            <ul class="menu">
              <li><a class="" href="#">Sendmail Subpport</a></li>
              <li><a class="" href="#">Support Login</a></li>
            </ul>
          </div> -->
          <ul class="social-list">
            <li><a class="icon-twitter" href="">Twitter</a></li>
            <li><a class="icon-facebook" href="">Facebook</a></li>
            <li><a class="icon-linkedin" href="">Linkedin</a></li>
            <li><a class="icon-google-plus" href="">Google plus</a></li>
            <li><a class="icon-youtube-play" href="">Youtube</a></li>
          </ul>
        </div>
        <div class="footer-panel__top__item">
          <div class="list-region">
            <h3 class="footer-panel__title">Regions</h3>
            <ul class="menu">
              <li><a href="#">United States</a></li>
              <li><a href="#">United Kingdom</a></li>
              <li><a href="#">France</a></li>
              <li><a href="#">Spain</a></li>
              <li><a href="#">Japan</a></li>
              <li><a href="#">Taiwan</a></li>
              <li><a href="#">Australia</a></li>
            </ul>
          <div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer-bottom bg--bunker">
    <div class="container">
      <div class="footer-bottom__logo">
        <a href="#"></a>
      </div>
      <div class="copyright">
        <p>&#169; 2016 All rights reserved.<a href="#">Privacy Policy.</a></p>
      </div>
    </div>
  </section>
</footer>
{% endblock %}
