{% block navigation %}
<ul class="main-menu js-main-menu">
  <li class="expanded-menu">
    <a class="expanded-menu__button js-expanded-menu__button" href="#">Products</a>
    <div class="mega-menu expanded-menu__menu-child">
      <div class="mega-menu__inner">
        <div class="item-list">
          <ul class="mega-menu__nav">
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <li class="expanded-menu">
                  <a href="#">Advanced threat protection</a>
                  <span class="expanded-menu__button js-expanded-menu__button"></span>
                  <ul class="expanded-menu__menu-child">
                    <li>
                      <a href="#">TAP</a>
                    </li>
                    <li>
                      <a href="#">TAP Mobile Defense</a>
                    </li>
                    <li>
                      <a href="#">Threat Response</a>
                    </li>
                    <li>
                      <a href="#">Malvertising Protection</a>
                    </li>
                    <li>
                      <a href="#">Threat intelligenace</a>
                    </li>
                  </ul>
                </li>
                <li class="expanded-menu">
                  <p class="nolink" href="#">Social media protection</p>
                  <span class="expanded-menu__button js-expanded-menu__button"></span>
                  <ul class="expanded-menu__menu-child">
                    <li>
                      <a href="#">Social Discovery (Audits)</a>
                    </li>
                    <li>
                      <a href="#">Social Patrol (Security)</a>
                    </li>
                    <li>
                      <a href="#">Social Sight (Employee Brand Advocacy)</a>
                    </li>
                    <li>
                      <a href="#">Social Syndicate (Content Review)</a>
                    </li>
                    <li>
                      <a href="#">Salesforce Chatter Security</a>
                    </li>
                    <li>
                      <a href="#">Password Lockbox (SSO)</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <li class="expanded-menu">
                  <a href="#">Information protection</a>
                  <span class="expanded-menu__button js-expanded-menu__button"></span>
                  <ul class="expanded-menu__menu-child">
                    <li>
                      <a href="#">Privacy, DIP &#38; Encryption</a>
                    </li>
                    <li>
                      <a href="#">Social DLP</a>
                    </li>
                    <li>
                      <a href="#">Data Discover</a>
                    </li>
                  </ul>
                </li>
                <li class="expanded-menu">
                  <a href="#">Email Protection</a>
                  <span class="expanded-menu__button js-expanded-menu__button"></span>
                  <ul class="expanded-menu__menu-child">
                    <li>
                      <a href="#">Enterprise Protection</a>
                    </li>
                    <li>
                      <a href="#">Sendtrion Sendmail</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <li class="expanded-menu">
                  <a href="#">Information archive</a>
                  <span class="expanded-menu__button js-expanded-menu__button"></span>
                  <ul class="expanded-menu__menu-child">
                    <li>
                      <a href="#">Archive</a>
                    </li>
                    <li>
                      <a href="#">Governance</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="expanded-menu">
    <a class="expanded-menu__button js-expanded-menu__button" href="#">Solutions</a>
    <div class="mega-menu expanded-menu__menu-child">
      <div class="mega-menu__inner">
        <div class="item-list">
          <ul class="mega-menu__nav">
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <li class="expanded-menu">
                  <a href="#">By Industry</a>
                  <span class="expanded-menu__button js-expanded-menu__button"></span>
                  <ul class="expanded-menu__menu-child">
                    <li>
                      <a href="#">Finance</a>
                    </li>
                    <li>
                      <a href="#">Federal &#38; Government</a>
                    </li>
                    <li>
                      <a href="#">SLED</a>
                    </li>
                    <li>
                      <a href="#">Healthcare</a>
                    </li>
                    <li>
                      <a href="#">Pharmaceutical</a>
                    </li>
                    <li>
                      <a href="#">Legal</a>
                    </li>
                    <li>
                      <a href="#">Manufacturing</a>
                    </li>
                    <li>
                      <a href="#">Retail</a>
                    </li>
                  </ul>
                </li>
                <li class="expanded-menu">
                  <a href="#">By Need</a>
                  <span class="expanded-menu__button js-expanded-menu__button"></span>
                  <ul class="expanded-menu__menu-child">
                    <li>
                      <a href="#">Threat Detection, Classification &#38; Response</a>
                    </li>
                    <li>
                      <a href="#">Information Tracking, Classification  &#38; Control</a>
                    </li>
                    <li>
                      <a href="#">Prevent Data Loss, Control</a>
                    </li>
                    <li>
                      <a href="#">Content &#38; Share Security</a>
                    </li>
                    <li>
                      <a href="#">Social</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <li class="expanded-menu">
                  <a href="#">By Role</a>
                  <span class="expanded-menu__button js-expanded-menu__button"></span>
                  <ul class="expanded-menu__menu-child">
                    <li>
                      <a href="#">Security</a>
                    </li>
                    <li>
                      <a href="#">Messaging Operations</a>
                    </li>
                    <li>
                      <a href="#">Legal</a>
                    </li>
                    <li>
                      <a href="#">Compliance</a>
                    </li>
                    <li>
                      <a href="#">Marketing</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Small &#38; MeDium Business Essentials</a>
                </li>
              </ul>
            </li>
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <p class="hidden-on-mobile-tablet"><img src="{{img_path}}mega-menu-image.jpg"></p>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="expanded-menu">
    <a class="expanded-menu__button js-expanded-menu__button" href="#">Emerging threats</a>
    <div class="mega-menu expanded-menu__menu-child">
      <div class="mega-menu__inner">
        <div class="item-list">
          <ul class="mega-menu__nav">
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <li>
                  <a href="#">Emerging Threats Center</a>
                </li>
                <li class="expanded-menu">
                  <a href="#">Core Technology</a>
                  <span class="expanded-menu__button js-expanded-menu__button"></span>
                  <ul class="expanded-menu__menu-child">
                    <li>
                      <a href="#">Products</a>
                    </li>
                    <li>
                      <a href="#">Company Story</a>
                    </li>
                    <li>
                      <a href="#">Emerging Threats</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <li>
                  <a href="#">Incident Prevention</a>
                </li>
                <li>
                  <a href="#">Incident Response</a>
                </li>
                <li>
                  <a href="#">Industry trends and insignts</a>
                </li>
                <li>
                  <a href="#">Threat insight blog</a>
                </li>
              </ul>
            </li>
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <p class="hidden-on-mobile-tablet"><img src="{{img_path}}mega-menu-image.jpg"></p>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="expanded-menu">
    <a class="expanded-menu__button js-expanded-menu__button" href="#">Partners</a>
    <div class="mega-menu expanded-menu__menu-child">
      <div class="mega-menu__inner">
        <div class="item-list">
          <ul class="mega-menu__nav">
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <li>
                  <a href="#">Partner Portal</a>
                </li>
                <li>
                  <a href="#">Become A Partner</a>
                </li>
              </ul>
            </li>
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <li>
                  <a href="#">Partner Programs</a>
                </li>
              </ul>
            </li>
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <p class="hidden-on-mobile-tablet"><img src="{{img_path}}mega-menu-image.jpg"></p>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="expanded-menu">
    <a class="expanded-menu__button js-expanded-menu__button" href="#">Support</a>
    <div class="mega-menu expanded-menu__menu-child">
      <div class="mega-menu__inner">
        <div class="item-list">
          <ul class="mega-menu__nav">
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <li class="expanded-menu">
                  <a href="#">Support Services</a>
                  <span class="expanded-menu__button js-expanded-menu__button"></span>
                  <ul class="expanded-menu__menu-child">
                    <li>
                      <a href="#">Technical Training</a>
                    </li>
                    <li>
                      <a href="#">Professional Services</a>
                    </li>
                    <li>
                      <a href="#">IP address Blocked</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Customer Support Portal</a>
                </li>
              </ul>
            </li>
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <li>
                  <a href="#">Nextgate Support</a>
                </li>
                <li>
                  <a href="#">SendMail Support</a>
                </li>
              </ul>
            </li>
            <li class="expanded-menu">
              <ul class="mega-menu__nav">
                <p class="hidden-on-mobile-tablet"><img src="{{img_path}}mega-menu-image.jpg"></p>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="expanded-menu hidden-on-desktop">
    <a class="expanded-menu__button js-expanded-menu__button" href="#">About Us</a>
    <div class="mega-menu expanded-menu__menu-child">
      <div class="mega-menu__inner">
        <ul class="mega-menu__nav">
          <li><a href="#">New</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Uberflip</a></li>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">Company Story</a></li>
          <li><a href="#">Industry recognition</a></li>
          <li><a href="#">Investors</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
{% endblock %}
