{% block blockExchange %}
<div class="block-exchange">
  <div class="container">
    <div class="block-exchange__group">
      <div class="block-exchange__left">
        <h2 class="block-exchange__title">Exchange NASDAQ</h2>
        <p class="block-exchange__rate">$54.82<span><i class="icon-triangle-up"></i>0.44</span></p>
        <p class="block-exchange__volume">Volume <b>207,895</b></p>
        <div class="block-exchange__time"><span>01 JAN 2016</span><span class="text-blue-53">4:00 p.m ET</span><span>20 minute delay</span></div>
        <div class="block-exchange__link-left">
          <a title="link" href="#" class="btn btn--medium btn--bg-blue">All stock info</a>
        </div>
      </div>
      <div class="block-exchange__right">
        <h2 class="block-exchange__title">Featured Reports</h2>
        <a class="link-download" href="#">
          <div class="inner">
            <i class="files files-pdf"></i>
            <span class="text">Annual Review 2015</span>
          </div>
        </a>
        <a class="link-download" href="#">
          <div class="inner">
            <i class="files files-pdf"></i>
            <span class="text">10-Q 9/30/15</span>
          </div>
        </a>
        <div class="block-exchange__link-right">
          <a title="link" href="#" class="btn btn--medium btn--bg-red">All reports</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
