{% block blockRegistration %}
<div class="block-registration bg-blue-008f">
  <div class="container-narrow">
    <div class="block-registration__text">
      <p>Don’t hesitate to take this opportunity.</p>
      <p>Sign up for this complimentary service right now!</p>
    </div>
    <a href="#" class="btn btn--medium btn--bg-blue-25">Registration</a>
  </div>
</div>
{% endblock %}
