{% block ContactInfoSingleEvent %}
<div class="block-contact-info block-contact-info--two-columns bg-blue-ea">
  <div class="map-iframe">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d27952287.358426195!2d-30.286443000000144!3d64.68424209014077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1450690384673" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="container">
    <div class="block-contact-info__wrap padding-two-columns">
      {% for item in contactInfoEventSingle %}
        <div class="block-contact-info__item">
          <h3 class="block-contact-info__title">{{ item.title }}</h3>
          <div class="block-contact-info__body"><p>{{ item.body }}</p></div>
          <span class="block-contact-info__phone link-blue"><i class="icon-fax"></i>{{ item.phone }}</span>
          <a href="#" class="block-contact-info__email link-red"><i class="icon-mail"></i>{{ item.email }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
