{% block blockEventDetail %}
<div class="block-event-detail">
  <div class="container-narrow">
    <p>Praesent sed suscipit sem. Phasellus viverra condimentum suscipit. Vivamus cursus quam odio, a rhoncus elit facilisis eget. Suspendisse at lacus fermentum, aliquet eros at, aliquet lorem. Sed euismod a ipsum quis porta. Vivamus ut tellus accumsan, pellentesque nulla non, bibendum nisl. Suspendisse sit amet viverra libero.</p>
    <p>Phasellus vel mollis felis, a venenatis justo. Donec lobortis est sit amet ullamcorper porttitor. Duis tincidunt vehicula ante quis rhoncus. Nunc faucibus quam in diam feugiat luctus. Suspendisse rutrum sit amet mi non dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam tincidunt elit mauris, id auctor elit pharetra id. Vivamus laoreet, urna ac rutrum placerat, nisl augue euismod eros, quis dapibus lacus urna eget neque. Nam tristique vel nunc a vestibulum. Mauris sed lorem mi. Pellentesque convallis tellus in ligula lacinia, in venenatis nulla interdum. Nam dolor turpis, euismod ullamcorper nisi id, tempor porttitor metus. Morbi pretium consectetur erat. Mauris dapibus ornare blandit. Suspendisse id iaculis arcu, in fermentum est.</p>
    <div class="style-media style-media--5-of-6">
      <div class="vidyard-video">
        <script type='text/javascript' id='vidyard_embed_code_9AH0tVdgZmvapbLHy3cFlg' src='//play.vidyard.com/9AH0tVdgZmvapbLHy3cFlg.js?v=3.1.1&type=inline'></script>
      </div>
      <p class="style-media__caption">Abaxis presentation on Animal Health Summit 2014</p>
    </div>
  </div>
</div>
{% endblock %}
