{# Block Subscribe form #}

{% block subscribe %}
  <div class="block-subscribe">
    <form class="block-subscribe__form">
      <div class="block-subscribe__form__inner">
        <input type="text" value="" name="email" class="form-text required" placeholder="Your email...">
        <input type="submit" value="OK" class="btn btn--bg-light-blue form-submit">
      </div>
      <div class="suffix">Don’t miss any updates, subscribe now!</div>
    </form>
  </div>
{% endblock %}
