{# Block HeadQuaters #}

{% block headquaters %}
  <div class="block-headquaters">
    <div class="container">
      <div class="block-headquaters__item block-headquaters__grid">
        <div class="block-headquaters__image"><img src="../../images/images-pages/Abaxis-North-America.jpg" alt=""></div>
        <div class="block-headquaters__content">
          <h4 class="block-headquaters__content__title">Headquater</h4>
          <h3 class="block-headquaters__content__local">Abaxis North America</h3>
          <div class="block-headquaters__content__address">3240 Whipple Road Union City, CA 94587 United States of America</div>
        </div>
      </div>
      <div class="block-headquaters__item block-headquaters__grid">
        <div class="block-headquaters__image"><img src="../../images/images-pages/Abaxis-Europe-GmbH.jpg" alt=""></div>
        <div class="block-headquaters__content">
          <h4 class="block-headquaters__content__title">Headquater</h4>
          <h3 class="block-headquaters__content__local">Abaxis Europe GmbH</h3>
          <div class="block-headquaters__content__address">Bunsenstrasse 9-11 64347 Griesheim Germany</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
