{% block blockPresenter %}
<div class="block-presenter bg-gray-f8">
  <div class="container-narrow">
    <div class="block-presenter__content">
      <div class="block-presenter__image">
        <img src="{{img_path}}images-pages/block-presenter.jpg" width="139" height="161" alt="presenter">
      </div>
      <div class="block-presenter__body">
        <h3 class="block-presenter__name">Ross Taylor</h3>
        <p class="block-presenter__position">Chief Financial Officer at Abaxis, Inc.</p>
        <div class="block-presenter__description"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet lorem cursus ante tempor ornare. Phasellus in augue vulputate, dignissim metus et, elementum arcu.</p></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
