{% block blockWorldwidewide %}
<div class="block-worldwide bg-blue-ea hidden-on-mobile">
  <h2 class="section-title">Abaxis Worldwide</h2>
  <h3 class="section-description">Use this map to discover our upcoming events all over the globe.</h3>
  <div class="map-iframe">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d27952287.358426195!2d-30.286443000000144!3d64.68424209014077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1450690384673" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
{% endblock %}
