{% block blockWarning %}
<div class="block-warning bg-blue-ea">
  <div class="block-warning__content container-narrow">
    <h3>Approved Recruiters Only</h3>
    <p>Abaxis utilizes approved recruiters only.<br>Our vendor list is closed until 2017. No solicitation please.</p>
  </div>
</div>
{% endblock %}
