{# Block Time Location #}
{% block block_time_location %}
  <div class="block-time-location">
    <div class="container-narrow">
      <div class="block-time-location__meta">
        <div class="date">Wednesday, December 16, 2015 </div>
        <time>12:55 p.m. ET</time>
      </div>
      <div class="block-time-location__location">
        <div class="link-red">Bank of America Conference Center</div>
        <div class="info">540 Commonwealth Avenue, Boston, MA </div>
      </div>
      <div class="block-time-location__booth text-blue">Booth #18-A</div>
    </div>
  </div>
{% endblock %}
