{% block blockGridMediaFeaturedEvent %}
<div class="container">
  <div class="grid-media-event">
    <div class="grid-media-event__item grid-media-event__half-left">
      <div class="box-content box-content--has-image">
        <a href="#" class="box-content__link"></a>
        <div class="box-content__image">
          <img src="{{img_path}}images-pages/grid-event1.jpg" width="588" height="580" alt="block-stream">
        </div>
        <div class="box-content__group">
          <span class="box-content__date">Nov 19, 2015</span>
          <div class="box-content__categories yellow"><a href="#">Featured event</a></div>
          <h2 class="box-content__title-link"><a href="#">ABAXIS INC at 2015 Canaccord Genuity Medical Technology & Diagnostic Forum</a></h2>
        </div>
      </div>
    </div>
    <div class="grid-media-event__item grid-media-event__half-right">
      <div class="grid-media-event__half-left">
        <div class="box-content box-content--has-image title-link-small">
          <a href="#" class="box-content__link"></a>
          <div class="box-content__image">
            <img src="{{img_path}}images-pages/grid-event2.jpg" width="294" height="290" alt="block-stream">
          </div>
          <div class="box-content__group">
            <span class="box-content__date">Nov 11, 2015</span>
            <div class="box-content__categories yellow"><a href="#">Featured EVENT</a></div>
            <h2 class="box-content__title-link"><a href="#">ABAXIS INC at Stephens Fall Investment </a></h2>
          </div>
        </div>
      </div>
      <div class="grid-media-event__half-right">
        <div class="box-content box-content--has-image title-link-small">
          <a href="#" class="box-content__link"></a>
          <div class="box-content__image">
            <img src="{{img_path}}images-pages/grid-event3.jpg" width="294" height="290" alt="block-stream">
          </div>
          <div class="box-content__group">
            <span class="box-content__date">Dec 16, 2015</span>
            <div class="box-content__categories yellow"><a href="#">Featured EVENT</a></div>
            <h2 class="box-content__title-link"><a href="#">ABAXIS INC at Bank of America Merrill Lynch 2015 Animal Health Summit Conference</a></h2>
          </div>
        </div>
      </div>
      <div class="grid-media-event__bottom-full">
        <div class="box-content box-content--has-image">
          <a href="#" class="box-content__link"></a>
          <div class="box-content__image">
            <img src="{{img_path}}images-pages/grid-event4.jpg" width="588" height="279" alt="block-stream">
          </div>
          <div class="box-content__group">
            <span class="box-content__date">Nov 17, 2015</span>
            <div class="box-content__categories yellow"><a href="#">Featured event</a></div>
            <h2 class="box-content__title-link"><a href="#">ABAXIS INC the Stifel 2015 Healthcare Conference</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
