<div class="container content-sidebar content-sidebar--sidebar-right">
  <div class="content-sidebar__content">
    {{ content.left }}
  </div>
  <div class="content-sidebar__sidebar hidden-on-mobile">
    {{ content.right }}
  </div>
</div>
<div class="bg-gray-f8">
  <div class="container">
    <div class="block-detail block-detail--single-news">
      {{ content.bottom }}
    </div>
  </div>
</div>
