{% block back_top %}
<div id="back-top" class="back-top hidden-on-tablet">
  <div class="back-top__inner">
    <span class="back-top__item back-top__icon js-back-top icon-chevron-up"></span>
    <span class="back-top__item">Top</span>
  </div>
</div>
{% endblock %}
