<div class="block-quote-2 {{ qt2.className }}">
  <div class="container">
    {% if qt2.quote %}
      <blockquote class="block-quote-2__quote">{{ qt2.quote }}</blockquote> 
    {% endif %}
  </div>
</div>