<p>Primary font: "MarkWebPro", "Helvetica", "Arial", sans-serif;</p>
<p style="font-family: MarkWebProBold">Primary font MarkWebProBold: "MarkWebProBold", "Helvetica", "Arial", sans-serif;</p>
<p style="font-family: MarkWebProHeavy">Primary font MarkWebProHeavy: "MarkWebProHeavy", "Helvetica", "Arial", sans-serif;</p>
<p style="font-family: MarkWebProItalic">Primary font MarkWebProItalic: "MarkWebProItalic", "Helvetica", "Arial", sans-serif;</p>
<p style="font-family: MarkWebProLight">Primary font MarkWebProLight: "MarkWebProLight", "Helvetica", "Arial", sans-serif;</p>
<p style="font-family: MarkWebProMedium">Primary font MarkWebProMedium: "MarkWebProMedium", "Helvetica", "Arial", sans-serif;</p>
<p style="font-family: MarkWebProMediumItalic">Primary font MarkWebProMediumItalic: "MarkWebProMediumItalic", "Helvetica", "Arial", sans-serif;</p>