<div class="block-card-6__item">
  <div class="block-card-6__image">
    {{ card6Item.image }}
  </div>
  <div class="block-card-6__group">
    <div class="block-card-6__title">{{ card6Item.title }}</div>
    <div class="block-card-6__description">{{ card6Item.description }}</div>
    <div class="block-card-6__date">{{ card6Item.date }}</div>
  </div>
</div>
