<div class="feature-image-5">
  <div class="container">
    <div class="feature-image-5__list js-slider-photo">
      {% for item in imf5.items %}
        {{ item }}
      {% endfor %}
    </div>
  </div>
</div>
