@import "settings";

.page-topics {
  .pane-fsi-research-reseach-topics-page-regions {
    @include breakpoint($max1025) {
      width: 100% !important;
    }
    h2.pane-title {
      margin-top: 0;
    }
  }
  .pane-content {
    form:first-child {
      h2 {
        padding-top: 0;
      }
    }
  }
}

.topic-page-base-terms h2 {
  font-family: 'ss', Arial, sans-serif;
  font-size: 22px;
  color: #414141;
  padding-top: 10px;
  padding-bottom: 5px;
}

.pane-fsi-research-reseach-topics-page {
  padding-bottom: 20px;
}
.pane-fsi-research-reseach-topics-page .views-field-name a {
  font-size: 16px;
  color: #5f584e;
  display: block;
  line-height: 1.5;
  padding: 0 17px;
  float: left;
  margin-bottom: 12px;
  border: none;
  border-right: 1px #afaba6 solid;
  white-space: nowrap;
}

.topic-page-block {
  > .form-item button {
    font-size: 16px;
    color: #5f584e;
    line-height: 1em;
    padding: 0 17px;
    float: left;
    margin: 5px 0;
    border: none;
  }
  .toggle-arrow {
    margin: 7px 0 7px -8px;
  }
}

.topic-page-other-terms-items {
  clear: both;
  padding-top: 6px;
}
.topic-page-other-terms-items .views-field-name a {
  padding: 0 12px;
}

.topic-page-base-terms {
  clear: both;
}
