@import "settings";

.topic-region-title {
 margin-top: -2px;
 font-size: 34px;
 margin-bottom: 19px;
 color: #4d4f53;
}

h3.topic-region-publications {
 margin-top: 15px;
 padding-bottom: 5px;
 font-size: 24px;
 color: #4d4f53;
 font-weight: normal;
 font-family: 'ss', Arial, sans-serif;
}

.topic-region-list {
  ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
  }
  li {
    &:nth-child(5) {
      margin-top: 25px;
      @include breakpoint($mobile) {
        margin-top: 0;
      }
    }
    li {
      list-style: none;
      padding: 0;
      margin-left: 0;
      @include breakpoint($max640) {
        width: 100%;
      }
    }
    margin-bottom: 18px;
    font-size: 16px;
    color: #555;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .span3 {
      margin-bottom: 0;
      @include breakpoint($max640) {
        width: 100% !important;
      }
      @include breakpoint($max640) {
        margin-bottom: 22px;
      }
      &:last-child {
        @include breakpoint($max640) {
          padding-bottom: 0;
        }
      }
    }
  ul ul {
    margin-top: 19px;
      @include breakpoint($max640) {
        margin-top: 15px;
      }
  }
  li {
    a, li a {
      font-size: 16px;
      color: #00505d;
      font-family: 'ss', Arial, sans-serif;
    }
    &.span3 {
      @include breakpoint($max640) {
        width: 100%;
      }
    }
  }
  .single-topic-wrapper > a {
    font-size: 18px;
    @extend .ssb;
    color: #555;
  }
}

.topic-region-page .span8{
  padding-top: 25px;
}

.region-original-image {
  width: 150%;
  max-width: 150%;
  margin-left: -53%;
  padding-top: 30px;
  @include breakpoint($max1440) {
    margin-left: -70px;
    width: 120%;
  }
  @include breakpoint($max1025) {
    margin-left: -10px;
    width: 100%;
  }
  @include breakpoint($mobile) {
    display: block;
    margin: 0 auto;
    width: auto;
  }
  @include breakpoint($max480) {
    width: 100%;
  }
}
