<div class="block-quote-3 {{ qt3.alignclass }}">
  <div class="container">
    {% if qt3.quote %}
      <blockquote class="block-quote-3__quote">{{ qt3.quote }}</blockquote> 
    {% endif %}
  </div>
</div>
