<div class="grc-1__item">
  <div class="grc-1__item__inner {{ grc1Item.bgcolor }}">
    <div class="extend-box__group">
      <a class="extend-box__link" href="{{ grc1Item.link }}" tabindex="0"></a>
      <h3 class="extend-box__title">{{ grc1Item.title }}</h3>
      <div class="extend-box__body">{{ grc1Item.description }}</div>
    </div>
  </div>
</div>
