<div class="block-card-3 {{ card3.backgroundColor }}">
  <div class="container">
    <div class="block-card-3__grid">
      <div class="block-card-3__grid__left">
        {{ card3.leftSide }}
      </div>
      <div class="block-card-3__grid__right">
        {{ card3.rightSide }}
      </div>
    </div>
  </div>
</div>
