// TYPOGRAPHY
// Define all typographic styles in this file.

h1,
h2,
h3,
h4,
h5,
h6 {
  @include gotham-light;
  font-weight: normal;
  margin-bottom: rem(15px);
}

h1 {
  font-size: rem(26px);

  @include susy-media(tablet) {
    font-size: rem(40px);
  }

  @include susy-media(desktop) {
    font-size: rem(32px);
  }
}

h2 {
  font-size: rem(24px);
}

h3 {
  font-size: rem(12px);

  @include susy-media(tablet) {
    font-size: rem(18px);
  }
}

h4 {
  font-size: rem(16px);
}

h5 {
  font-size: rem(14px);
}

h6 {
  font-size: rem(12px);
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover;
  }

  img {
    display: block;
  }
}

%link-red,
.link-red {
  color: $red-light !important;

  &:hover,
  &:focus {
    color: lighten($red-light, 5%) !important;
  }
}

%link-blue,
.link-blue {
  color: $blue !important;

  &:hover,
  &:focus {
    color: lighten($blue, 5%) !important;
  }
}


// Link with a arrow icon on the right side.
%right-arrow-link,
.right-arrow-link {
  @extend .icon-angle-right;
  color: $gray-62;
  font-size: rem(14px);
  text-decoration: none;

  &:before {
    @extend %icons;
    margin-right: rem(5px);
  }
}

// Link with a caret icon on the right side.
%right-caret-link,
.right-caret-link {
  position: relative;

  &:before {
    @extend %icons;
    font-size: rem(14px);
    left: rem(-17px);
    line-height: 1.3;
    padding-top: rem(2px);
    position: absolute;
  }

  &:hover,
  &.active {
    color: $base-color;
  }
}

p {
  margin-bottom: rem(15px);
}

// List styles defaults.
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul,
ol {
  list-style-position: outside;
  padding-left: rem(18px);

  li {
    margin-bottom: rem(10px);
  }
}

// Lists variations
%list,
.list {
  &--default-menu {
    list-style: none;
    margin-left: rem(17px);
    padding-top: rem(13px);

    li {
      margin-bottom: rem(28px);
    }

    a {
      @extend %right-caret-link;

      &:hover,
      &.active {
        color: $base-color;

        &:before {
          @extend .icon-caret-right:before;
        }
      }
    }
  }

  &--caret-right {
    list-style: none;

    li {
      margin-bottom: rem(17px);
    }

    a {
      @extend .icon-caret-right;
      @extend %right-caret-link;
      color: $white;
      font-size: rem(15px);
      padding-left: rem(12px);
      line-height: rem(23px);

      &:hover {
        color: $blue-light;
      }

      &:before {
        font-size: rem(12px);
        left: 0;
        bottom: rem(2px);
      }
    }
  }

  &--arrowed-links {
    list-style-type: none;
    margin-bottom: rem(20px);

    li {
      margin-bottom: rem(10px);

      a {
        @extend %right-arrow-link;
      }
    }
  }

  &--dotted {
    list-style-type: none;
    margin: rem(17px 0 19px);

    @include susy-media(tablet) {
      margin: rem(25px 0 52px);
    }

    li {
      line-height: rem(18px);
      margin-bottom: rem(19px);
      padding-left: rem(15px);
      position: relative;

      @include susy-media(tablet) {
        line-height: rem(25px);
        padding-left: rem(31px);
        margin-bottom: rem(25px);
      }

      &:before {
        background: $base-color;
        border-radius: 100%;
        content: '';
        height: rem(3px);
        left: rem(0);
        overflow: hidden;
        position: absolute;
        top: rem(6px);
        width: rem(3px);

        @include susy-media(tablet) {
          height: rem(4px);
          width: rem(4px);
          top: rem(10px);
        }
      }
    }
  }

  &--flat {
    @include gotham-medium;
    list-style: none;
    margin-bottom: rem(20px);
    font-size: rem(15px);

    li {
      margin-bottom: rem(19px);
    }
  }

  &--check {
    list-style: none;
    margin-bottom: rem(27px);

    @include susy-media(tablet) {
      margin-bottom: rem(37px);
    }

    li {
      @include gotham-bold;
      background: url($image-path + 'icon-check-2.svg') 0 0 no-repeat;
      background-size: rem(18px 18px);
      font-size: rem(15px);
      line-height: rem(19px);
      margin-bottom: rem(11px);
      padding-left: rem(24px);

      @include susy-media(tablet) {
        padding-left: rem(30px);
      }
    }
  }

  &--lower-alpha {
    list-style-type: lower-alpha;
  }
}

sup {
  font-size: .6em;
  position: relative;
  top: rem(-1px);
  vertical-align: top;
}

sub {
  bottom: rem(-4px);
  font-size: .6em;
  position: relative;
  vertical-align: bottom;
}

%section-title,
.section-title {
  @include gotham-light;
  font-size: rem(25px);
  line-height: rem(36px);
  margin-bottom: rem(5px);
  text-align: center;

  @include susy-media(tablet) {
    font-size: rem(32px);
    line-height: rem(40px);
  }

  @include susy-media(tablet-landscape) {
    font-size: rem(50px);
    line-height: rem(47px);
    margin-bottom: rem(10px);
  }
}

%section-description,
.section-description {
  @include gotham-light;
  font-size: rem(15px);
  line-height: rem(18px);
  margin-bottom: rem(26px);
  text-align: center;

  @include susy-media(tablet) {
    font-size: rem(20px);
    line-height: rem(30px);
  }
}

%title-border-bottom,
.title-border-bottom {
  border-bottom: rem(1px) solid $gray-dd;
  font-size: rem(24px);
  margin-bottom: rem(24px);
  padding-bottom: rem(1px);

  @include susy-media(tablet) {
    font-size: rem(40px);
    margin-bottom: rem(50px);
    padding-bottom: rem(3px);
  }
}

%block-title,
.block-title {
  @include gotham-light;
  font-size: rem(24px);
  margin-bottom: rem(16px);

  @include susy-media(tablet) {
    font-size: rem(40px);
    margin-bottom: rem(33px);
  }

  &--border-bottom {
    margin-bottom: rem(23px);

    @include susy-media(tablet) {
      padding-bottom: rem(13px);
      border-bottom: rem(1px) solid $gray-e4;
      margin-bottom: rem(59px);
    }
  }
}

%default-node-title {
  @include gotham-light;
  font-size: rem(30px);
  margin-bottom: rem(20px);
  line-height: rem(30px);

  @include susy-media(tablet) {
    line-height: rem(40px);
  }
}

.more-info {
  @include gotham-bold;
  color: $blue;
  display: inline-block;

  @include susy-media(desktop) {
    padding-top: rem(18px);
  }

  &:hover {
    color: $link-hover;
  }
}

.sidebar-title {
  @include gotham-bold;
  font-size: rem(15px);
  margin-bottom: rem(29px);

  @include susy-media(tabletOnly) {
    margin-bottom: rem(25px);
  }
}

.link-download {
  // Fix for IE-11 issue related
  // to min-height on flex container.
  display: flex;
  flex-direction: column;
  margin-bottom: rem(15px);

  @include susy-media(tablet) {
    margin-bottom: rem(10px);
  }

  .inner {
    border: 1px solid transparent;
    display: flex;
    font-size: rem(12px);
    margin-bottom: rem(15px);
    min-height: rem(60px);

    @include susy-media(tablet) {
      font-size: rem(18px);
      min-height: rem(90px);
    }

    &:hover {
      border: 1px solid lighten($blue-light, 20%);
    }
  }

  .files {
    background-color: $white;
    width: rem(70px);

    @include susy-media(tablet) {
      width: rem(102px);
    }
  }

  .text {
    align-items: center;
    background-color: $gray-fc;
    display: flex;
    padding-left: rem(32px);
    width: 100%;
  }
}

.tabs {
  margin-bottom: 20px;
  overflow: hidden;

  ul.primary {
    border: none;
    margin: 0;
    overflow: hidden;
    padding: 0 3px;

    li {
      display: block;
      float: left;
      margin: 0 5px 0 0;
      vertical-align: bottom;

      a {
        border: 1px solid $gray-da;
        transition: .3s;

        &:hover,
        &.is-active {
          background-color: $blue;
          border-color: $blue;
          color: $white;
          transition: .3s;
        }
      }
    }
  }
}
