// Block Block subscribe.

.block-subscribe {
  background-color: $blue;
  color: $white;
  padding: rem(114px 14px 28px 14px);
  text-align: center;

  @include susy-media(tablet) {
    padding: rem(164px 10px 86px 10px);
  }

  @include susy-media(desktop) {
    padding: rem(164px 10px 67px 10px);
  }

  &__form {
    position: relative;

    @include susy-media(tablet) {
      display: inline-block;
    }

    @include susy-media(desktop-wide) {
      max-width: span(6 of $susy-desktop);
    }

    &:before {
      background: url($image-path + 'vetcom.svg') no-repeat scroll 0 0;
      content: '';
      height: rem(85px);
      left: 50%;
      margin-left: rem(-44px);
      position: absolute;
      top: rem(-84px);
      width: rem(89px);

      @include susy-media(tablet) {
        width: rem(126);
        margin-left: rem(-63px);
        top: rem(-105px);
      }

      @include susy-media(desktop) {
        width: rem(140px);
        margin-left: rem(-70px);
        top: rem(-111px);
      }
    }

    &__inner {
      @extend %clearfix;
      margin-bottom: rem(23px);
    }

    .form-submit,
    .form-text {
      height: rem(52px);
      width: 100%;

      @include susy-media(tablet) {
        height: rem(44px);
        width: auto;
      }
    }

    .form-text {
      color: $gray;
      margin-bottom: 0;

      @include susy-media(tablet) {
        float: left;
        min-width: rem(462px);
      }
    }

    .form-submit {
      @include gotham-bold;
      float: left;
      font-size: rem(15px);
      padding: rem(10px 20px);

      @include susy-media(tablet) {
        padding: rem(10px 47px);
      }
    }

    ::-webkit-input-placeholder {
      color: $gray;
    }
    ::-moz-placeholder {
      color: $gray;
    }
    :-ms-input-placeholder {
      color: $gray;
    }
  }

  .suffix {
    font-size: rem(15px);

    @include susy-media(mobileOnly) {
      font-weight: bold;
      line-height: rem(18px);
      padding: rem(0 20px);
    }
  }
}
