.block-panels-menu {
  padding-bottom: rem(20px);
  padding-top: rem(40px);

  @include susy-media(tablet) {
    padding-bottom: rem(75px);
    padding-top: rem(67px);
  }

  &__item {
    margin-bottom: rem(30px);
    position: relative;
  }

  &__title {
    color: $red-light;
    font-size: rem(16px);
    margin-bottom: rem(10px);
    text-align: center;

    @include susy-media(tablet) {
      font-size: rem(18px);
      margin-bottom: rem(4px);
      text-align: left;
    }
  }

  &__body {
    ul {
      @extend %clearfix;
      align-items: stretch;
      background-color: $gray-f7;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: rem(10px 9px);

      li {
        color: $gray-66;
        float: left;
        font-size: rem(14px);
        margin-bottom: 0;
        padding: rem(10.5px 15px);
        position: relative;
        text-align: center;

        &:before {
          background-color: $gray-ee;
          content: '';
          height: rem(14px);
          position: absolute;
          right: 0;
          top: rem(15px);
          width: rem(1px);
        }

        &:last-child {
          &:before {
            background-color: transparent;
            height: 0;
            width: 0;
          }
        }

        @include susy-media(mobileTiny) {
          width: 33%;

          &:nth-child(3n) {
          &:before {
              background-color: transparent;
              height: 0;
              width: 0;
            }
          }
        }

        @include susy-media(mobileLandscapeOnly) {
          width: 19.9%;

          &:nth-child(5n) {
          &:before {
              background-color: transparent;
              height: 0;
              width: 0;
            }
          }
        }

        @include susy-media(tabletOnly) {
          width: 16.6%;

          &:nth-child(6n) {
          &:before {
              background-color: transparent;
              height: 0;
              width: 0;
            }
          }
        }

        @include susy-media(desktop) {
          min-width: 5%;
        }
      }
    }
  }

  &__link {
    overflow: hidden;

    @include susy-media(tablet) {
      position: absolute;
      right: 0;
      top: rem(-2px);
    }
  }

  &--status,
  &--package-insert,
  &--msds {
    @include gotham-bold;
    font-size: rem(12px);
    margin-left: rem(1px);
    margin-top: rem(10px);

    @include susy-media(tablet) {
      float: left;
      font-size: rem(10px);
      height: rem(31px);
      margin-top: 0;
    }

    a {
      background-color: $base-color;
      color: $white;
      display: block;
      height: rem(40px);
      line-height: 2.5;
      padding: rem(7px 20px);

      @include susy-media(tablet) {
        height: rem(31px);
        line-height: 1.5;
      }
    }

    i {
      color: $gray-ad;
      font-size: rem(11px);
      padding-right: rem(8px);

      &:hover {
        background-color: darken($base-color, 5%);
      }
    }
  }

  &--status {
    background-color: $green-77;
    color: $white;
    line-height: 1.75;
    margin-top: 0;
    padding: rem(6px 20px);

    i {
      color: $white;
      font-size: rem(13px);
    }
  }
}
