.block-faqs {
  font-size: rem(15px);

  &__item {
    margin-bottom: rem(18px);
    padding-left: rem(38px);
    position: relative;

    @include susy-media(tablet) {
      margin-bottom: rem(26px);
      padding-left: rem(98px);
    }

    &:before {
      @include gotham-bold;
      border-radius: 100%;
      border: 1px solid $mercury;
      color: $gray-9;
      content: '?';
      display: inline-block;
      font-size: rem(10px);
      height: rem(22px);
      left: 0;
      line-height: 2.2;
      position: absolute;
      text-align: center;
      top: 0;
      width: rem(22px);

      @include susy-media(tablet) {
        font-size: rem(15px);
        height: rem(28px);
        left: rem(26px);
        line-height: 1.8;
        top: rem(-4px);
        width: rem(28px);
      }
    }

    &__title {
      @include gotham-bold;
      font-size: rem(15px);
      margin-bottom: rem(3px);

      @include susy-media(mobileOnly) {
        line-height: rem(18px);
        margin-bottom: rem(10px);
      }

      &:hover {
        cursor: pointer;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &__body {
      display: none;
      line-height: rem(18px);
      padding-left: rem(18px);

      &.is-active {
        display: block;
      }

      @include susy-media(tablet) {
        padding-left: rem(18px);
        line-height: rem(25px);
      }
    }

    &__body {
      display: none;
    }

    &.is-active {
      .block-faqs__item {
        &__body {
          display: block;
        }
      }
    }
  }

  .more-question {
    padding-left: rem(38px);

    @include susy-media(tablet) {
      padding-left: rem(98px);
    }
  }

  &--consumbales {
    .block-faqs {
      &__item {
        @include susy-media(tablet) {
          padding-left: rem(59px);

          &:before {
            left: 0;
          }
        }
      }
    }

    .more-question {
      @include susy-media(tablet) {
        padding-left: rem(59px);
      }
    }
  }
}
