.bg-affair {
  background-color: #6C3A77;
}

.bg-sun {
  background-color: #FFB60F;
}

.bg-mantis {
  background-color: #5CC151;
}

.bg-blaze-orange {
  background-color: #FF7000;
}

.bg-viola {
  background-color: #C386A6;
}

.bg-limeade {
  background-color: #77B800;
}

.bg-persian-green {
  background-color: #00A29B;
}

.bg-pacific-blue {
  background-color: #0098CD;
}

.bg-razzmatazz {
  background-color: #D1005D;
}

.bg-java {
  background-color: #1DC0DC;
}

.bg-cerulean {
  background-color: #00AEEF;
}

.bg-pear {
  background-color: #0098CD;
}

.bg-hollywood-cerise {
  background-color: #E40090;
}

.bg-lochmara {
  background-color: #0082C0;
}

.bg-red-ribbon {
  background-color: #D6083B;
}

.bg-seance {
  background-color: #6b1687;
}

.bg-jordy-blue {
  background-color: #85bced;
}

.bg-cinnamon {
  background-color: #6f4400;
}

.bg-cerise {
  background-color: #da3899;
}

.bg-cinnabar {
  background-color: #e2373c;
}

.bg-tory-blue {
  background-color: #0e519f;
}

.bg-olive-haze {
  background-color: #867f6d;
}

.bg-cerulean-v2 {
  background-color: #0d94dc;
}

.bg-persian-green-v2 {
  background-color: #00a88e ;
}

.bg-razzmatazz-v2 {
  background-color: #e0004c;
}