{% block bg %}
<div class="component--demo bg--white">
  <div class="container">
    <h4>Class: bg--white, #FFFFFF = White</h4>
    <p>Nulla et lacus vitae dui faucibus posuere vel in est. <a href="#">Color link</a> ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis.</p>
    <h1>H1 | Bebas Neue | 64px, Mobile 40px</h1>
    <h2>H2 | Bebas Neue | 45px, Mobile 35px</h2>
    <h3>H3 | Bebas Neue | 32px</h3>
    <h4>H4 | Bebas Neue | 23px</h4>
    <h5>H5 | Bebas Neue | 17px</h5>
    <h6>H6 | Helvetica | 15px</h6>
    <p>Nulla et lacus vitae dui faucibus posuere vel in est. <a href="#">Color link</a> ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis.</p>
    <p><a class="btn" href="#">Default</a></p>
  </div>
</div>
<div class="component--demo bg--light-tan">
  <div class="container">
    <h4>Class: bg--light-tan, #F4F3F0 = Light Tan</h4>
    <p>Nulla et lacus vitae dui faucibus posuere vel in est. <a href="#">Curabitur ut</a> ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis? Sed mattis quam quam. Nunc congue felis id augue varius, non facilisis arcu scelerisque. Proin molestie nibh sapien, in varius lacus malesuada a.</p>
    <p><a class="btn" href="#">Default</a></p>
  </div>
</div>
<div class="component--demo bg--light-grey">
  <div class="container">
    <h4>Class: bg--light-grey, #F3F5F6 = Light Grey</h4>
    <p>Nulla et lacus vitae dui faucibus posuere vel in est. <a href="#">Color link</a> ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis.</p>
    <h1>H1 | Bebas Neue | 64px, Mobile 40px</h1>
    <h2>H2 | Bebas Neue | 45px, Mobile 35px</h2>
    <h3>H3 | Bebas Neue | 32px</h3>
    <h4>H4 | Bebas Neue | 23px</h4>
    <h5>H5 | Bebas Neue | 17px</h5>
    <h6>H6 | Helvetica | 15px</h6>
    <p>Nulla et lacus vitae dui faucibus posuere vel in est. <a href="#">Color link</a> ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis.</p>
    <p><a class="btn" href="#">Default</a></p>
  </div>
</div>
<div class="component--demo bg--slate-grey">
  <div class="container">
    <h4>Class: bg--slate-grey, #DCE4E7 = Slate Grey</h4>
    <p>Nulla et lacus vitae dui faucibus posuere vel in est. <a href="#">Color link</a> ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis.</p>
    <h1>H1 | Bebas Neue | 64px, Mobile 40px</h1>
    <h2>H2 | Bebas Neue | 45px, Mobile 35px</h2>
    <h3>H3 | Bebas Neue | 32px</h3>
    <h4>H4 | Bebas Neue | 23px</h4>
    <h5>H5 | Bebas Neue | 17px</h5>
    <h6>H6 | Helvetica | 15px</h6>
    <p>Nulla et lacus vitae dui faucibus posuere vel in est. <a href="#">Color link</a> ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis.</p>
    <p><a class="btn" href="#">Default</a></p>
  </div>
</div>
<div class="component--demo bg--blue">
  <div class="container">
    <h4>Class: bg--blue, #51788d = blue</h4>
    <p>Nulla et lacus vitae dui faucibus posuere vel in est. <a href="#">Color link</a> ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis.</p>
    <h1>H1 | Bebas Neue | 64px, Mobile 40px</h1>
    <h2>H2 | Bebas Neue | 45px, Mobile 35px</h2>
    <h3>H3 | Bebas Neue | 32px</h3>
    <h4>H4 | Bebas Neue | 23px</h4>
    <h5>H5 | Bebas Neue | 17px</h5>
    <h6>H6 | Helvetica | 15px</h6>
    <p>Nulla et lacus vitae dui faucibus posuere vel in est. <a href="#">Color link</a> ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis.</p>
    <p><a class="btn" href="#">Default</a></p>
  </div>
</div>
<div class="component--demo bg--teal">
  <div class="container">
    <h4>Class: bg--teal, #669d86 = teal</h4>
    <p>Nulla et lacus vitae dui faucibus posuere vel in est. <a href="#">Color link</a> ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis.</p>
    <h1>H1 | Bebas Neue | 64px, Mobile 40px</h1>
    <h2>H2 | Bebas Neue | 45px, Mobile 35px</h2>
    <h3>H3 | Bebas Neue | 32px</h3>
    <h4>H4 | Bebas Neue | 23px</h4>
    <h5>H5 | Bebas Neue | 17px</h5>
    <h6>H6 | Helvetica | 15px</h6>
    <p>Nulla et lacus vitae dui faucibus posuere vel in est. <a href="#">Color link</a> ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis.</p>
    <p><a class="btn" href="#">Default</a></p>
  </div>
</div>
<div class="component--demo bg--orange">
  <div class="container">
    <h4>Class: bg--orange, #f17735 = orange</h4>
    <p>Nulla et lacus vitae dui faucibus posuere vel in est. <a href="#">Color link</a> ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis.</p>
    <h1>H1 | Bebas Neue | 64px, Mobile 40px</h1>
    <h2>H2 | Bebas Neue | 45px, Mobile 35px</h2>
    <h3>H3 | Bebas Neue | 32px</h3>
    <h4>H4 | Bebas Neue | 23px</h4>
    <h5>H5 | Bebas Neue | 17px</h5>
    <h6>H6 | Helvetica | 15px</h6>
    <p>Nulla et lacus vitae dui faucibus posuere vel in est. <a href="#">Color link</a> ullamcorper tortor. Vivamus sagittis nibh vitae enim varius, ac porttitor metus rutrum. Pellentesque pharetra lorem iaculis risus blandit, et lacinia magna iaculis.</p>
    <p><a class="btn" href="#">Default</a></p>
  </div>
</div>
{% endblock %}
