{% block blockButton %}
<div class="block-buttons">
  <div class="container">
    <div class="block-buttons__group">
      <a class="btn btn--icon icon-comments" href="#">Chat with us</a>
      <a class="btn btn--icon icon-phone" href="#">Call us</a>
      <a class="btn btn--icon icon-envelope" href="#">Email us</a>
    </div>
  </div>
</div>
{% endblock %}
