{% block blockTextColumns %}
<div class="block-text-cols bg--light-tan">
  <div class="container">
    <div class="block-text-cols__cols">
    <div class="block-text-cols__cols__item">
      <h3 class="block-text-cols__title">Relative content 1</h3>
      <div class="block-text-cols__body list-in-article">
        <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
      </div>
      <div class="block-text-cols__links">
        <div class="block-text-cols__links__item">
          <a class="more-arrow-right" href="#">Traning resource</a>
        </div>
        <div class="block-text-cols__links__item">
          <a class="more-arrow-right" href="#">Traning resource</a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="block-text-cols block-text-cols--2cols bg--blue">
  <div class="container">
    <div class="block-text-cols__cols">
      <div class="block-text-cols__cols__item">
        <h3 class="block-text-cols__title">Relative content 1</h3>
        <div class="block-text-cols__body list-in-article">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="block-text-cols__links">
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
        </div>
      </div>
      <div class="block-text-cols__cols__item">
        <h3 class="block-text-cols__title">Relative content 1</h3>
        <div class="block-text-cols__body list-in-article">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="block-text-cols__links">
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block-text-cols block-text-cols--3cols bg--light-tan">
  <div class="container">
    <div class="block-text-cols__cols">
      <div class="block-text-cols__cols__item">
        <h3 class="block-text-cols__title">Relative content 1</h3>
        <div class="block-text-cols__body list-in-article">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="block-text-cols__links">
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
        </div>
      </div>
      <div class="block-text-cols__cols__item">
        <h3 class="block-text-cols__title">Relative content 1</h3>
        <div class="block-text-cols__body list-in-article">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="block-text-cols__links">
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
        </div>
      </div>
      <div class="block-text-cols__cols__item">
        <h3 class="block-text-cols__title">Relative content 1</h3>
        <div class="block-text-cols__body list-in-article">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="block-text-cols__links">
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block-text-cols block-text-cols--4cols bg--blue">
  <div class="container">
    <div class="block-text-cols__cols">
      <div class="block-text-cols__cols__item">
        <h3 class="block-text-cols__title">Relative content 1</h3>
        <div class="block-text-cols__body list-in-article">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="block-text-cols__links">
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
        </div>
      </div>
      <div class="block-text-cols__cols__item">
        <h3 class="block-text-cols__title">Relative content 1</h3>
        <div class="block-text-cols__body list-in-article">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="block-text-cols__links">
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
        </div>
      </div>
      <div class="block-text-cols__cols__item">
        <h3 class="block-text-cols__title">Relative content 1</h3>
        <div class="block-text-cols__body list-in-article">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="block-text-cols__links">
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
        </div>
      </div>
      <div class="block-text-cols__cols__item">
        <h3 class="block-text-cols__title">Relative content 1</h3>
        <div class="block-text-cols__body list-in-article">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="block-text-cols__links">
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
          <div class="block-text-cols__links__item">
            <a class="more-arrow-right" href="#">Traning resource</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
