{% block blockWideText %}
<div class="block-wide-text bg--light-tan">
  <div class="container">
    <div class="block-wide-text__body text--center">
      <h2 class="block-wide-text__title">Sed Id Libero Eu Magna Interdum</h2>
      <div class="block-wide-text__content">
        <p>Proofpoint is the leader in defending people, data, and brands where they’re most vulnerable — email, mobile, and social. Discover the power of integrated threat intelligence.</p>
      </div>
      <div class="block-wide-text__link"><a class="more-arrow-right" href="#">Learn more</a></div>
    </div>
  </div>
</div>
<div class="block-wide-text">
  <div class="container">
    <div class="block-wide-text__body text--right">
      <h2 class="block-wide-text__title">Sed Id Libero Eu Magna Interdum</h2>
      <div class="block-wide-text__content">
        <p>Proofpoint is the leader in defending people, data, and brands where they’re most vulnerable — email, mobile, and social. Discover the power of integrated threat intelligence.</p>
      </div>
      <div class="block-wide-text__link"><a class="more-arrow-right" href="#">Learn more</a></div>
    </div>
  </div>
</div>
<div class="block-wide-text bg--blue">
  <div class="container">
    <div class="block-wide-text__body text--left">
      <h2 class="block-wide-text__title">Sed Id Libero Eu Magna Interdum</h2>
      <div class="block-wide-text__content">
        <p>Proofpoint is the leader in defending people, data, and brands where they’re most vulnerable — email, mobile, and social. Discover the power of integrated threat intelligence.</p>
      </div>
      <div class="block-wide-text__link"><a class="more-arrow-right" href="#">Learn more</a></div>
    </div>
  </div>
</div>
{% endblock %}
