{% block blockAnnouncement %}
<div class="block-announcement">
  <span class="block-announcement__close js-block-announcement__close"></span>
  <div class="block-announcement__contents">Nulla vehicula dui vitae rhoncus commodo. Suspendisse potenti. Donec quam nisi, fermentum in hendrerit sit amet, elementum erat.</div>
  <a class="more-arrow-right link--citrine-white" href="#">Learn more</a>
</div>
{% endblock %}
