{% block blockFlat %}
<div class="block-flat block-with-img list-in-article">
  <div class="container">
    <h2 class="section-title">Threat insight</h2>
    <div class="block-flat__group">
      <div class="block-flat__left">
        <h3 class="big-title">Curabitur blandit tempus porttitor.</h3>
        <a class="btn-download" href="#"><div class="btn-download--text"><h5>Download Report</h5><span>January - March 2016</span></div><div class="icon-download"></div></a>
      </div>
      <div class="block-flat__right">
        <div class="block-flat__image"><img width="564" height"234" src="https://unsplash.it/564/234/?random"></div>
      </div>
      <div class="block-flat__main">
        <div class="block-flat__body">
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.</p>
          <strong>Stop threats before they enter</strong>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          <ul>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
            <li>Maecenas faucibus mollis interdum.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
          </ul>
        </div>
        <div class="block-flat__link">
          <a class="more-arrow-right" href="#">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block-flat has-border list-in-article">
  <div class="container">
    <h2 class="section-title">Threat insight</h2>
    <div class="block-flat__group">
      <div class="block-flat__left">
        <h3 class="big-title">Curabitur blandit tempus porttitor.</h3>
      </div>
      <div class="block-flat__main">
        <div class="block-flat__body">
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.</p>
          <strong>Stop threats before they enter</strong>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          <ul>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
            <li>Maecenas faucibus mollis interdum.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.
          </ul>
        </div>
        <div class="block-flat__link">
          <a class="more-arrow-right" href="#">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
