{% block boxFloating %}
  <div class="box-chat">
    <span class="box-chat__text">Talk to our sales</span>
    <div class="box-chat__content">
      <div class="box-chat__body">
        <p>Ask our sales for anythign related to our company or services:</p>
      </div>
      <div class="box-chat__phone">
        <a href="tel:+14085174710">+1 408 517 4710</a>
      </div>
      <div class="box-chat__link">
        <a href="#">Start a live chat</a>
      </div>
    </div>
  </div>
{% endblock %}
