{% block boxFeature %}
  <div class="box-feature box-feature--bigleft list-in-article">
    <div class="container">
      <div class="box-feature__left">
        <h3 class="box-feature__title">Unique architectural advantage</h3>
        <div class="box-feature__body">
          <strong>Stop threats before they enter</strong>
          <p>Proofpoint delivers next-generation email security solutions built on a single, extensible platform that offers clear visibility into all email communications. This means that Proofpoint TAP has greater context to analyze and extract threat intelligence, quickly mitigate the attack surface by blocking malicious messages, and reduce your security risk.</p>
          <ul>
            <li>Proofpoint delivers next-generation email</li>
            <li> This means that Proofpoint TAP has greater context to analyze and extract threat intelligence</li>
            <li>Quickly mitigate the attack surface by blocking malicious messages, and reduce your security risk.</li>
            <li>This means that Proofpoint TAP has greater context to analyze and extract threat intelligence</li>
          </ul>
        </div>
      </div>
      <div class="box-feature__right">
         <form>
          <div class="form-item form-type-textfield">
            <label>First Name</label>
            <input type="text" class="form-text" size="60" maxlength="60">
          </div>
          <div class="form-item form-type-textfield">
            <label>Last Name</label>
            <input type="text" class="form-text" size="60" maxlength="60">
          </div>
          <div class="form-item form-type-textfield">
            <label>Email</label>
            <input type="text" class="form-text" size="60" maxlength="60">
          </div>
          <div class="form-item form-actions">
            <input type="submit" value="Download" class="form-submit">
          </div>
          <p class="box-feature__description">*Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </form>
      </div>
    </div>
  </div>
  <div class="box-feature box-feature--bigright list-in-article">
    <div class="container">
      <div class="box-feature__left">
        <form>
          <div class="form-item form-type-textfield">
            <label>First Name</label>
            <input type="text" class="form-text" size="60" maxlength="60">
          </div>
          <div class="form-item form-type-textfield">
            <label>Last Name</label>
            <input type="text" class="form-text" size="60" maxlength="60">
          </div>
          <div class="form-item form-type-textfield">
            <label>Email</label>
            <input type="text" class="form-text" size="60" maxlength="60">
          </div>
          <div class="form-item form-actions">
            <input type="submit" value="Download" class="form-submit">
          </div>
          <p class="box-feature__description">*Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </form>
      </div>
      <div class="box-feature__right">
        <h3 class="box-feature__title">Unique architectural advantage</h3>
        <div class="box-feature__body">
          <strong>Stop threats before they enter</strong>
          <p>Proofpoint delivers next-generation email security solutions built on a single, extensible platform that offers clear visibility into all email communications. This means that Proofpoint TAP has greater context to analyze and extract threat intelligence, quickly mitigate the attack surface by blocking malicious messages, and reduce your security risk.</p>
          <ul>
            <li>Proofpoint delivers next-generation email</li>
            <li> This means that Proofpoint TAP has greater context to analyze and extract threat intelligence</li>
            <li>Quickly mitigate the attack surface by blocking malicious messages, and reduce your security risk.</li>
            <li>This means that Proofpoint TAP has greater context to analyze and extract threat intelligence</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
