{% block boxOverview %}
  <div class="box-overview">
    <div class="container">
      <h3 class="box-overview__title">Overview</h3>
      <div class="box-overview__description list-in-article"><p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p></div>
    </div>
  </div>
{% endblock %}
