{% block boxVideo  %}
<div class="box-video container list-in-article">
  <div class="box-video__item">
    <div class="video-wrap">
      <iframe width="300" height="150" src="https://www.youtube.com/embed/lWA2pjMjpBs" frameborder="0" allowfullscreen></iframe>
    </div>
    <h4 class="blue">Nunc a leo rhoncus, sagittis elit eu</h4>
    <div class="box-video__body">
      <p>Proofpoint delivers next-generation email</p>
    </div>
  </div>
  <div class="box-video__item">
    <div class="video-wrap">
      <iframe width="300" height="150" src="https://www.youtube.com/embed/lWA2pjMjpBs" frameborder="0" allowfullscreen></iframe>
    </div>
    <h4 class="blue">Nunc a leo rhoncus, sagittis elit eu</h4>
    <div class="box-video__body">
      <p>Proofpoint delivers next-generation email</p>
    </div>
  </div>
  <div class="box-video__item">
    <div class="video-wrap">
      <iframe width="300" height="150" src="https://www.youtube.com/embed/lWA2pjMjpBs" frameborder="0" allowfullscreen></iframe>
    </div>
    <h4 class="blue">Nunc a leo rhoncus, sagittis elit eu</h4>
    <div class="box-video__body">
      <p>Proofpoint delivers next-generation email</p>
    </div>
  </div>
</div>

<div class="bg--blue">
  <div class="box-video container list-in-article">
    <div class="box-video__item">
      <div class="video-wrap">
        <iframe width="300" height="150" src="https://www.youtube.com/embed/lWA2pjMjpBs" frameborder="0" allowfullscreen></iframe>
      </div>
      <h4 class="blue">Nunc a leo rhoncus, sagittis elit eu</h4>
      <div class="box-video__body">
        <p>Proofpoint delivers next-generation email</p>
      </div>
    </div>
    <div class="box-video__item">
      <div class="video-wrap">
        <iframe width="300" height="150" src="https://www.youtube.com/embed/lWA2pjMjpBs" frameborder="0" allowfullscreen></iframe>
      </div>
      <h4 class="blue">Nunc a leo rhoncus, sagittis elit eu</h4>
      <div class="box-video__body">
        <p>Proofpoint delivers next-generation email</p>
      </div>
    </div>
    <div class="box-video__item">
      <div class="video-wrap">
        <iframe width="300" height="150" src="https://www.youtube.com/embed/lWA2pjMjpBs" frameborder="0" allowfullscreen></iframe>
      </div>
      <h4 class="blue">Nunc a leo rhoncus, sagittis elit eu</h4>
      <div class="box-video__body">
        <p>Proofpoint delivers next-generation email</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
