{% block boxTitle %}
  <div class="box-title bg--light-tan">
    <div class="container">
      <div class="box-title__group">
        <div class="box-title__col-left">
          <h2 class="box-title__title">page title</h2>
        </div>
        <div class="box-title__col-right">
            <a class="btn btn--icon icon-comments" href="#">Chat with us</a>
            <a class="btn btn--icon icon-phone" href="#">Call us</a>
        </div>
      </div>
    </div>
  </div>
  <div class="box-title bg--blue">
    <div class="container">
      <div class="box-title__group">
        <div class="box-title__col-left">
          <h2 class="box-title__title">page title</h2>
        </div>
        <div class="box-title__col-right">
            <a class="btn btn--icon icon-comments" href="#">Chat with us</a>
            <a class="btn btn--icon icon-phone" href="#">Call us</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
