{% block button %}
<div class="container">
  <p><a class="btn" href="#">Default</a></p>
  <p><a class="btn btn--solid-orange" href="#">Solid Orange</a></p>
  <p><a class="btn btn--outline-blue" href="#">Outline Blue</a></p>
  <p><a class="btn btn--solid-blue" href="#">Solid Blue</a></p>
</div>
<div class="bg--blue component--demo">
  <div class="container">
    <p><a class="btn" href="#">Default</a></p>
    <p><a class="btn btn--solid-orange" href="#">Solid Orange</a></p>
    <p><a class="btn btn--outline-blue" href="#">Outline Blue</a></p>
    <p><a class="btn btn--solid-blue" href="#">Solid Blue</a></p>
  </div>
</div>
<div class="bg--teal component--demo">
  <div class="container">
    <p><a class="btn" href="#">Default</a></p>
    <p><a class="btn btn--solid-orange" href="#">Solid Orange</a></p>
    <p><a class="btn btn--outline-blue" href="#">Outline Blue</a></p>
    <p><a class="btn btn--solid-blue" href="#">Solid Blue</a></p>
  </div>
</div>
<div class="bg--orange component--demo">
  <div class="container">
    <p><a class="btn" href="#">Default</a></p>
    <p><a class="btn btn--solid-orange" href="#">Solid Orange</a></p>
    <p><a class="btn btn--outline-blue" href="#">Outline Blue</a></p>
    <p><a class="btn btn--solid-blue" href="#">Solid Blue</a></p>
  </div>
</div>
<div class="component--demo">
{% include 'button-download.twig' %}
</div>
{% endblock %}
