{% block btnDownload %}
  <div class="container">
    <a href="#" class="btn-download">
      <div class="btn-download--text">
        <h5>Compare Levels</h5>
        <span>Determine the Best Level of Support</span>
      </div>
      <div class = "icon-file-pdf-o"></div>
    </a>
    <a href="#" class="btn-download">
      <div class="btn-download--text">
        <span>Determine the Best Level of Support</span>
      </div>
      <div class = "icon-file-audio-o"></div>
    </a>
  </div>
{% endblock %}
