{% block dailyList %}
<div class="daily-list container">
  <div class="views-content">
    <div class="views-row">
      <div class="short-date">August 05, 2016</div>
      <div class="daily-list__title"><a class="blue" href="#">Aenean varius, erat et scelerisque porttitor, purus est laoreet nisl, id congue libero diam sed elit. Integer gravida imperdiet felis sit amet rhoncus?</a></div>
    </div>
    <div class="views-row">
      <div class="short-date">August 05, 2016</div>
      <div class="daily-list__title"><a class="blue" href="#">Aenean varius, erat et scelerisque porttitor, purus est laoreet nisl, id congue libero diam sed elit. Integer gravida imperdiet felis sit amet rhoncus?</a></div>
    </div>
   <div class="views-row">
      <div class="short-date">August 05, 2016</div>
      <div class="daily-list__title"><a class="blue" href="#">Aenean varius, erat et scelerisque porttitor, purus est laoreet nisl, id congue libero diam sed elit. Integer gravida imperdiet felis sit amet rhoncus?</a></div>
    </div>
    <div class="views-row">
      <div class="short-date">August 05, 2016</div>
      <div class="daily-list__title"><a class="blue" href="#">Aenean varius, erat et scelerisque porttitor, purus est laoreet nisl, id congue libero diam sed elit. Integer gravida imperdiet felis sit amet rhoncus?</a></div>
    </div>
    <div class="views-row">
      <div class="short-date">August 05, 2016</div>
      <div class="daily-list__title"><a class="blue" href="#">Aenean varius, erat et scelerisque porttitor, purus est laoreet nisl, id congue libero diam sed elit. Integer gravida imperdiet felis sit amet rhoncus?</a></div>
    </div>
    <div class="views-row">
      <div class="short-date">August 05, 2016</div>
      <div class="daily-list__title"><a class="blue" href="#">Aenean varius, erat et scelerisque porttitor, purus est laoreet nisl, id congue libero diam sed elit. Integer gravida imperdiet felis sit amet rhoncus?</a></div>
    </div>
  </div>
</div>
{% endblock %}
