{% block links %}
<div class="container">
  <p><a href="#">Link style A1. This is default link.</a></p>
  <p><a class="link--arrow-right" href="#">link arrow right</a></p>
  <p><a class="more-arrow-right" href="#">Read more arrow right</a></p>
</div>
<div class="bg--blue component--demo">
  <div class="container">
    <p><a href="#A3">Link style A3.</a></p>
    <p><a class="more-arrow-right" href="#">Read more underline</a></p>
    <p><a class="more-arrow-right" href="#">Read more arrow right</a></p>
  </div>
</div>
{% endblock %}
