{% block list %}
<div class="container">
  <h5>List for detail</h5>
  <ul class="list list--dot">
    <li>Nulla vitae elit libero, a pharetra augue.</li>
    <li><a href="#">Maecenas faucibus mollis interdum.</a></li>
    <li><a href="#">Maecenas sed diam eget risus varius.</a></li>
    <li>Blandit sit amet non magna.</li>
  </ul>
  <ol>
    <li>Nulla vitae elit libero, a pharetra augue.</li>
    <li><a href="#">Maecenas faucibus mollis interdum.</a></li>
    <li><a href="#">Maecenas sed diam eget risus varius.</a></li>
    <li>Blandit sit amet non magna.</li>
  </ol>
  <h5>List for sidebar</h5>
  <ul class="list">
    <li><a class="link--arrow-right link--gray" href="#">Press Releases</a></li>
    <li><a class="link--arrow-right link--gray" href="#">Proofpoint in the News</a></li>
    <li><a class="link--arrow-right link--gray" href="#">Proofpoint blog</a></li>
    <li><a class="link--arrow-right link--gray" href="#">Threat Insights blog</a></li>
    <li><a class="link--arrow-right link--gray" href="#">Events</a></li>
    <li><a class="link--arrow-right link--gray" href="#">Media contracts</a></li>
  </ul>
</div>
{% endblock %}
