{% block resourceList %}
<div class="resource-list container">
  <div class="view-content">
    <div class="views-row">
      <div class="resource-list__left">
        <div class="resource-list__link icon-file-text-o">
          <a href="#">White Paper</a>
        </div>
      </div>
      <div class="resource-list__right">
        <div class="short-date">August 11, 2016</div>
        <div class="resource-list__type">White Paper</div>
        <h3 class="big-title"><a class="blue" href="#">TAP Mobile Defense - Video Overview</a></h3>
        <div class="resource-list__body">
          <p>Learn how TAP Mobile Defense provides visibility and automated workflow for managing risk in your environment.</p>
        </div>
      </div>
    </div>
    <div class="views-row">
      <div class="resource-list__left">
        <div class="resource-list__link icon-laptop">
          <a href="#">Webinars</a>
        </div>
      </div>
      <div class="resource-list__right">
        <div class="short-date">August 11, 2016</div>
        <div class="resource-list__type">Webinars</div>
        <h3 class="big-title"><a class="blue" href="#">TAP Mobile Defense - Video Overview</a></h3>
        <div class="resource-list__body">
          <p>Learn how TAP Mobile Defense provides visibility and automated workflow for managing risk in your environment.</p>
        </div>
      </div>
    </div>
    <div class="views-row">
      <div class="resource-list__left">
        <div class="resource-list__link icon-cloud-download">
          <a href="#">Podcast</a>
        </div>
      </div>
      <div class="resource-list__right">
        <div class="short-date">August 11, 2016</div>
        <div class="resource-list__type">Podcast</div>
        <h3 class="big-title"><a class="blue" href="#">TAP Mobile Defense - Video Overview</a></h3>
        <div class="resource-list__body">
          <p>Learn how TAP Mobile Defense provides visibility and automated workflow for managing risk in your environment.</p>
        </div>
      </div>
    </div>
    <div class="views-row">
      <div class="resource-list__left">
        <div class="resource-list__link icon-info-circle">
          <a href="#">Datasheet</a>
        </div>
      </div>
      <div class="resource-list__right">
        <div class="short-date">August 11, 2016</div>
        <div class="resource-list__type">Datasheet</div>
        <h3 class="big-title"><a class="blue" href="#">TAP Mobile Defense - Video Overview</a></h3>
        <div class="resource-list__body">
          <p>Learn how TAP Mobile Defense provides visibility and automated workflow for managing risk in your environment.</p>
        </div>
      </div>
    </div>
    <div class="views-row">
      <div class="resource-list__left">
        <div class="resource-list__link icon-user-secret">
          <a href="#">Threat Report</a>
        </div>
      </div>
      <div class="resource-list__right">
        <div class="short-date">August 11, 2016</div>
        <div class="resource-list__type">Threat Report</div>
        <h3 class="big-title"><a class="blue" href="#">TAP Mobile Defense - Video Overview</a></h3>
        <div class="resource-list__body">
          <p>Learn how TAP Mobile Defense provides visibility and automated workflow for managing risk in your environment.</p>
        </div>
      </div>
    </div>
    <div class="views-row">
      <div class="resource-list__left">
        <div class="resource-list__link icon-youtube-play">
          <a href="#">Video</a>
        </div>
      </div>
      <div class="resource-list__right">
        <div class="short-date">August 11, 2016</div>
        <div class="resource-list__type">Video</div>
        <h3 class="big-title"><a class="blue" href="#">TAP Mobile Defense - Video Overview</a></h3>
        <div class="resource-list__body">
          <p>Learn how TAP Mobile Defense provides visibility and automated workflow for managing risk in your environment.</p>
        </div>
      </div>
    </div>
    <div class="views-row">
      <div class="resource-list__left">
        <div class="resource-list__link icon-sitemap">
          <a href="#">Infographic</a>
        </div>
      </div>
      <div class="resource-list__right">
        <div class="short-date">August 11, 2016</div>
        <div class="resource-list__type">Infographic</div>
        <h3 class="big-title"><a class="blue" href="#">TAP Mobile Defense - Video Overview</a></h3>
        <div class="resource-list__body">
          <p>Learn how TAP Mobile Defense provides visibility and automated workflow for managing risk in your environment.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
