<div class="form-rss container">
  <form>
    <h3 class="form-rss__title">Stay tuned</h3>
    <div class="form-item form-type-select">
      <div class="form-select">
        <select class="form-select">
          <option value="all" selected="selected">Select service...</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
    <div class="form-item form-type-select">
      <div class="form-select">
        <select class="form-select">
          <option value="all" selected="selected">Subscribe to...</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
    <div class="form-actions">
      <input type="submit" class="form-submit" value="Subscribe">
    </div>
  </form>
</div>
