{% block boxFeature %}
  <div class="box-feature box-feature--bigleft list-in-article">
    <div class="container">
      <div class="box-feature__left">
        <h3 class="box-feature__title">Unique architectural advantage</h3>
        <div class="box-feature__body">
          <strong>Stop threats before they enter</strong>
          <p>Proofpoint delivers next-generation email security solutions built on a single, extensible platform that offers clear visibility into all email communications. This means that Proofpoint TAP has greater context to analyze and extract threat intelligence, quickly mitigate the attack surface by blocking malicious messages, and reduce your security risk.</p>
          <ul>
            <li>Proofpoint delivers next-generation email</li>
            <li> This means that Proofpoint TAP has greater context to analyze and extract threat intelligence</li>
            <li>Quickly mitigate the attack surface by blocking malicious messages, and reduce your security risk.</li>
            <li>This means that Proofpoint TAP has greater context to analyze and extract threat intelligence</li>
          </ul>
        </div>
      </div>
      <div class="box-feature__right">
        <div class = "video-wrap">
          <iframe width="300" height="150" src="https://www.youtube.com/embed/lWA2pjMjpBs" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 class = "blue">Nunc a leo rhoncus, sagittis elit eu</h4>
        <p>Proofpoint delivers next-generation email</p>
      </div>
    </div>
  </div>
  <div class="box-feature box-feature--bigright list-in-article">
    <div class="container">
      <div class="box-feature__left">
        <div class = "video-wrap">
          <iframe width="300" height="150" src="https://www.youtube.com/embed/lWA2pjMjpBs" frameborder="0" allowfullscreen></iframe>
        </div>
        <h4 class = "blue">Nunc a leo rhoncus, sagittis elit eu</h4>
        <p>Proofpoint delivers next-generation email</p>
      </div>
      <div class="box-feature__right">
        <h3 class="box-feature__title">Unique architectural advantage</h3>
        <div class="box-feature__body">
          <strong>Stop threats before they enter</strong>
          <p>Proofpoint delivers next-generation email security solutions built on a single, extensible platform that offers clear visibility into all email communications. This means that Proofpoint TAP has greater context to analyze and extract threat intelligence, quickly mitigate the attack surface by blocking malicious messages, and reduce your security risk.</p>
          <ul>
            <li>Proofpoint delivers next-generation email</li>
            <li> This means that Proofpoint TAP has greater context to analyze and extract threat intelligence</li>
            <li>Quickly mitigate the attack surface by blocking malicious messages, and reduce your security risk.</li>
            <li>This means that Proofpoint TAP has greater context to analyze and extract threat intelligence</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
