.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* Breakpoints: */
/* Colors. */
/* Cross-browser display: inline-block. */
.dib { display: inline-block; zoom: 1; *display: inline; }

/* Fonts */
.sr, .pane-fsi-research-publ-series-list h2, .pane-fsi-research-publ-series-publ h2, .front .panel-col-last .views-field-field-related-authors div { font-family: "ss", Arial, "Helvetica Neue", Helvetica, sans-serif; font-style: normal; font-weight: normal; }

.ssb, .front .panel-col-last, .front .panel-col-last .views-field-title a, .multimedia-listing .views-field-field-pub-news-type .field-content { font-family: "ss_semibold", Arial, "Helvetica Neue", Helvetica, sans-serif; font-style: normal; font-weight: bold; }

.list-no-margin-left { margin-left: 0; }

@media screen and (min-width: 1025px) and (max-width: 1300px) { input.search-query { font-size: 16px; padding: 11px 35px 7px 10px; } }

.pane-fsi-research-publ-series-list h2, .pane-fsi-research-publ-series-publ h2 { padding-bottom: 25px; }

.front .publication-list .panel-col-first > .inside { border: none; }

.page-publications .publication-list .panel-col-first > .inside { border: 20px #ecebe5 solid; }

.node-type-research .span8 { width: 820px; }

.aparc-programs-front, .front .span9 { max-width: 850px; }

.aparc-programs-front .view-content .views-row { margin-bottom: 0px; margin-top: 10px; }
@media screen and (min-width: 1025px) { .aparc-programs-front .view-content .views-row:nth-child(1), .aparc-programs-front .view-content .views-row:nth-child(2), .aparc-programs-front .view-content .views-row:nth-child(3) { margin-top: 0 !important; } }
@media screen and (max-width: 1025px) { .aparc-programs-front .view-content .views-row:nth-child(1), .aparc-programs-front .view-content .views-row:nth-child(2), .aparc-programs-front .view-content .views-row:nth-child(3) { margin-top: 0 !important; } }
@media screen and (max-width: 979px) { .aparc-programs-front .view-content .views-row { margin-bottom: 25px !important; margin-top: 0; } }
@media screen and (max-width: 568px) { .aparc-programs-front .view-content .views-row { margin-bottom: 15px !important; margin-top: 0; } }
@media screen and (max-width: 979px) { .aparc-programs-front .view-content .views-row:last-child, .aparc-programs-front .view-content .views-row:nth-last-child(2) { margin-bottom: 10px !important; margin-top: 0; } }
@media screen and (max-width: 568px) { .aparc-programs-front .view-content .views-row:last-child, .aparc-programs-front .view-content .views-row:nth-last-child(2) { margin-bottom: 15px !important; margin-top: 0; } }
@media screen and (max-width: 568px) { .aparc-programs-front .view-content .views-row:last-child { margin-bottom: 5px !important; margin-top: 0; } }
.aparc-programs-front h2 { margin-bottom: 40px; }
.aparc-programs-front td { padding: 0 35px 45px 0; }
.aparc-programs-front td.col-last { padding-right: 0; }
.aparc-programs-front td .panel-col-first { width: 100px; margin-right: 10px; }
.aparc-programs-front td .front .panel-col-last { width: 120px; }
.aparc-programs-front td .front .panel-col-last .views-field { margin: 0; }
.aparc-programs-front td .front .panel-col-last a { display: table-cell; height: 90px; padding-left: 5px; font-family: "ss",Arial,sans-serif; font-size: 18px; vertical-align: middle; color: #414141; }

.front .frame-item-1 .span12 > .span3 { float: right; }

.aparc-events h2 { margin: 0; }

.front .two-columns .views-row { float: left; width: 400px; }
@media screen and (min-width: 1025px) and (max-width: 1300px) { .front .two-columns .views-row { width: 320px; } }
@media screen and (max-width: 1025px) { .front .two-columns .views-row { width: 49%; } }

.front .two-columns .front .panel-col-last { position: absolute; bottom: 15px; }

.aparc-publication .panel-2col .panel-panel { width: auto; }
@media screen and (max-width: 760px) { .aparc-publication .panel-2col .panel-panel { width: 100%; }
  .aparc-publication .panel-2col .panel-panel.panel-col-last { width: auto; } }

.front .two-columns .views-row-last { float: right; }

.two-columns .views-row { position: relative; }

.front .panel-col-last { position: absolute; bottom: 20px; left: 0; padding: 10px 15px; max-width: 80%; font-size: 14px; background: rgba(168, 5, 50, 0.85); }

.ie8 .front .panel-col-last { background: #ad2248; }

.front .panel-col-last .views-field-title a, .front .panel-col-last .views-field-field-related-authors { color: #fff; }

.front .panel-col-last .views-field-title a { font-size: 14px; }

.front .panel-col-last .views-field-field-related-authors div { font-size: 13px; }

.publication-list .views-row { margin-bottom: 15px; }

.page-annual-reports .three-columns.publication-list .pager { border-bottom: none; }

.aparc-directions-description .panels-flexible-region-first .inside { font-size: 18px; line-height: 32px; color: #414141; }

.page-fellowships .pane-fsi-term-details-fellowship-image span { position: absolute; bottom: 20px; left: 1px; padding: 15px 20px; font-size: 24px; color: #fff; background: #a80532; background: rgba(168, 5, 50, 0.85); }

.page-news-archive .pager { position: static; }

.page-news-archive .pager-load-more { border: none; }

.page-news-archive .pager-load-more .pager-next a { color: #8e130e; }

.field-slideshow-caption { position: absolute; bottom: 20px; left: 0; width: auto; padding: 11px 20px; max-width: 95%; min-width: 10%; background: #a80532; background: rgba(168, 5, 50, 0.85); }

.ie8 .field-slideshow-caption { max-width: 960px; }

.field-slideshow-wrapper { position: relative; }

.field-slideshow-caption-text { display: block; position: relative; bottom: auto; left: auto; background: transparent !important; }

.field-slideshow-caption-text a { white-space: nowrap; }
@media screen and (max-width: 760px) { .field-slideshow-caption-text a { white-space: normal; } }

span.field-slideshow-caption-text { padding: 0; }

.ie8 .field-slideshow-caption-text { background: #ad2248; }

.multimedia-listing .views-row { float: left; position: relative; width: 41%; margin-left: 5%; margin-bottom: 60px; }

.node-type-research .project-multimedia .views-row { padding-bottom: 24px; padding-top: 7px; width: 46%; margin-bottom: 0; margin-left: 0; margin-right: 8%; }

.node-type-research .project-multimedia .views-row-even { margin-right: 0; }

.serif-header { margin-bottom: 20px; }
.serif-header .multimedia-listing .views-row { width: 100%; margin-bottom: 0; }

.page-research-organization .pane-research-research-projects-by-organization { padding: 0; }

.multimedia-listing .views-row.views-row-odd { margin-left: 0; }

.multimedia-listing .views-row .panel-col-last { width: 43%; }

.multimedia-listing .views-field-field-pub-news-type .field-content { position: absolute; line-height: 1.5em; float: left; background: #5A5F69; color: #FFF; font-size: 12px; text-transform: uppercase; }

@media (max-width: 1300px) and (min-width: 980px) { .aparc-programs-front, .front .span9 { max-width: 670px; }
  .front .frame-item-1 .span12 .span3 { min-width: 265px; }
  .field-slideshow { height: 333px !important; } }
.page-search .pane-search-content-simple-people-search .placeholder-search { color: #9e3731; font-style: italic; }

.aparc-publication h2.pane-title { padding-top: 15px; padding-bottom: 20px; margin-top: 0; }
@media screen and (max-width: 979px) { .aparc-publication h2.pane-title { padding-bottom: 10px; } }
@media screen and (max-width: 979px) { .aparc-publication .view-content .views-row { float: left; width: 49%; }
  .aparc-publication .view-content .views-row.views-row-first { margin-right: 2%; } }
@media screen and (max-width: 760px) { .aparc-publication .view-content .views-row { float: none; width: 100%; margin-bottom: 1%; margin-right: 0; }
  .aparc-publication .view-content .views-row img { width: 100%; } }
