.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* Breakpoints: */
/* Colors. */
/* Cross-browser display: inline-block. */
.dib { display: inline-block; zoom: 1; *display: inline; }

/* Fonts */
.sr { font-family: "ss", Arial, "Helvetica Neue", Helvetica, sans-serif; font-style: normal; font-weight: normal; }

.ssb { font-family: "ss_semibold", Arial, "Helvetica Neue", Helvetica, sans-serif; font-style: normal; font-weight: bold; }

.list-no-margin-left { margin-left: 0; }

.pane-fsi-frontpage-events-panel-pane-9 { padding-bottom: 30px; }
.pane-fsi-frontpage-events-panel-pane-9 h2 { margin-bottom: -10px; }
.pane-fsi-frontpage-events-panel-pane-9 .view-header { position: absolute; top: -25px; right: 0; }
