.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* Breakpoints: */
/* Colors. */
/* Cross-browser display: inline-block. */
.dib { display: inline-block; zoom: 1; *display: inline; }

/* Fonts */
.sr, .pager_description, .reap-brief h2 { font-family: "ss", Arial, "Helvetica Neue", Helvetica, sans-serif; font-style: normal; font-weight: normal; }

.ssb, .type-container, .second-block > div .type-container, .title-container, .reap-brief .view-header a { font-family: "ss_semibold", Arial, "Helvetica Neue", Helvetica, sans-serif; font-style: normal; font-weight: bold; }

.list-no-margin-left { margin-left: 0; }

.nav-collapse { width: 70% !important; }

.site-search { position: relative; width: 30% !important; }
@media screen and (max-width: 320px) { .site-search input.search-query { width: 100px; } }

.serif-header { text-align: center; }

.content .serif-header p { padding-bottom: 5px; }

.region-second-topheader { position: relative; }

#block-locale-language { z-index: 999; position: absolute; top: 6px; left: -15px; }
@media screen and (min-width: 1025px) and (max-width: 1300px) { #block-locale-language { left: -25px; } }
@media screen and (max-width: 1025px) { #block-locale-language { left: -25px; } }
@media screen and (max-width: 979px) { #block-locale-language { left: -95px; } }
@media screen and (max-width: 760px) { #block-locale-language { left: -105px; } }
@media screen and (max-width: 568px) { #block-locale-language { left: -165px; } }
@media screen and (max-width: 480px) { #block-locale-language { left: -155px; } }
@media screen and (max-width: 320px) { #block-locale-language { left: -145px; } }
#block-locale-language li { display: block; }
#block-locale-language li a { display: block; padding: 4px 7px; color: #FFF; background: #8E130E; }
#block-locale-language .active, #block-locale-language h2 { display: none; }

.span3 .front-page-news .view-header a { margin-top: 0; }

.field-slideshow-wrapper { position: relative; width: 840px; }
@media screen and (max-width: 979px) { .field-slideshow-wrapper { width: 100%; } }

#field-slideshow-2-wrapper { width: 100%; }

.pager-title, .pager_description { margin: 0; }

.events-block { margin-top: 0; }

.front-page-news { margin-top: -4px !important; }
.front-page-news h3 { line-height: 100% !important; }

.views-field-title a { padding: 15px 0 5px 0; }

.view-display-id-panel_pane_1.front-page-news .views-row { margin-bottom: 0; }
.view-display-id-panel_pane_1.front-page-news .views-row.views-row-last { border-bottom: none; }

#field-slideshow-1-wrapper .field-slideshow-wrapper .field-slideshow { height: 365px !important; }

.field-slideshow-caption { position: absolute; bottom: 20px; padding: 20px; color: #fff; background: #A80532 !important; background: rgba(168, 5, 50, 0.85) !important; font-size: 18px; }

.field-slideshow-caption-text { position: relative; bottom: 0; left: 0; padding: 0 !important; background: transparent; }

.wrapper { position: absolute; bottom: 10px; max-width: 80%; color: #fff; background: #A80532; background: rgba(168, 5, 50, 0.85); }
@media screen and (max-width: 979px) { .wrapper { bottom: 0; } }

.first-block > div { float: left; margin-right: 10px; margin-bottom: 10px; position: relative; }

.second-block > div { position: relative; }

.first-block .item-1, .first-block .item-2 { width: 220px; }
.first-block .item-3 { width: 380px; }

.second-block .item-1 { clear: left; }

.type-container, .second-block > div .type-container { position: absolute; top: -34px; left: 0; padding: 5px 14px; text-transform: uppercase; font-size: 12px; color: #fff; background: #4D4F53; }

.title-container .title { display: block; line-height: 19px; }
.title-container a { color: #fff; }

.second-block > div .title-container { position: relative; top: 0; padding: 0; background: transparent; }

#field-slideshow-2-wrapper .field-slideshow-caption { bottom: 0; width: 100%; color: #4d4f53; background: #EBE9E1 !important; }
#field-slideshow-2-wrapper .field-slideshow-caption-text { background-color: transparent !important; font-family: 'ss_italic',Arial,sans-serif; font-size: 18px !important; font-style: italic; color: #4d4f53; }

#field-slideshow-2-controls a { display: block; bottom: 5px; width: 22px !important; height: 60px; overflow: hidden; text-indent: 0; font-family: FontAwesome; font-size: 60px; font-style: normal; font-weight: normal; line-height: normal; color: #4D4F53; background: none !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
@media screen and (max-width: 1025px) { #field-slideshow-2-controls a { bottom: 10px; } }
@media screen and (max-width: 760px) { #field-slideshow-2-controls a { font-size: 50px; } }
#field-slideshow-2-controls .prev { left: 10px; }
#field-slideshow-2-controls .prev:before { content: "\f104"; color: #4D4F53; }
#field-slideshow-2-controls .next { right: 10px; }
#field-slideshow-2-controls .next:before { content: "\f105"; color: #4D4F53; }

.front-page-news h2 { font-size: 26px; }

.reap-brief { margin-top: 30px; }
.reap-brief h2 { font-size: 24px; display: block; margin: 0 0 0 0; font-weight: normal; line-height: 1em; color: #4D4F53; }
.reap-brief a { display: block; font: normal 15px / normal "ss", Arial, sans-serif; line-height: 20px; color: #00505D; }
.reap-brief .view-header { position: absolute; top: -20px; right: 0; }
.reap-brief .view-header a { font-size: 16px; color: #8D130F; }
@media screen and (min-width: 1025px) and (max-width: 1300px) { .reap-brief .view-content .views-row.views-row-3, .reap-brief .view-content .views-row.views-row-4 { display: none; } }
@media screen and (max-width: 1025px) { .reap-brief .view-content .views-row.views-row-3, .reap-brief .view-content .views-row.views-row-4 { display: none; } }
.reap-brief .views-row a { padding-bottom: 10px; border-bottom: 1px #EFEFEF solid; }
.reap-brief .views-row-last a { border-bottom: none; }
.reap-brief .view-footer { display: block; padding-top: 20px; }
.reap-brief .view-footer a { margin-top: 0 !important; float: left; }
@media screen and (max-width: 760px) { .reap-brief .view-footer a { margin-bottom: 0 !important; } }
@media screen and (max-width: 320px) { .reap-brief .view-footer a { margin-bottom: 10px !important; } }

.skin-regular-slider .views-slideshow-controls-text-next, .skin-regular-slider .views-slideshow-controls-text-previous { bottom: 30px; top: 0; }
.skin-regular-slider .views-slideshow-controls-bottom { margin-top: 0; }
@media screen and (max-width: 760px) { .skin-regular-slider { margin-bottom: 20px; } }
@media screen and (max-width: 568px) { .skin-regular-slider { margin-bottom: 0; } }

.views-field-field-credit div, .views-field-field-file-image-title-text div { background: #EBE9E1; min-height: 20px; }

.slideshow-view .views-field-field-file-image-title-text { background: #EBE9E1; width: 100%; max-width: 100%; }

.slideshow-view .views-field-field-file-image-title-text { position: relative; bottom: 0; left: 0; padding-top: 10px; padding-bottom: 10px; }
.slideshow-view .views-field-field-credit div { padding-top: 10px; padding-bottom: 10px; }
@media screen and (max-width: 320px) { .slideshow-view .views-field-field-credit div { padding: 10px 35px; text-align: center; } }

.skin-regular-slider .views-slideshow-controls-text-next { right: 10px; }
@media screen and (max-width: 760px) { .skin-regular-slider .views-slideshow-controls-text-next { right: 0; } }
.skin-regular-slider .views-slideshow-controls-text-previous { left: 10px; }
@media screen and (max-width: 760px) { .skin-regular-slider .views-slideshow-controls-text-previous { left: 0; } }

@media (max-width: 1300px) and (min-width: 980px) { .nav-collapse { width: 650px !important; }
  .field-slideshow-wrapper, .row-fluid .span9 { width: 710px; }
  #field-slideshow-1-controls .field-slideshow-wrapper .field-slideshow { height: 305px !important; }
  .first-block .item-1, .first-block .item-2 { width: 182px; height: 180px; overflow: hidden; }
  .second-block .item-1, .second-block .item-3 { width: 182px; height: 180px; overflow: hidden; }
  .first-block .item-3, .second-block .item-2 { height: 180px; overflow: hidden; }
  .wrapper { padding: 8px; } }
@media screen and (max-width: 1025px) { .panel-two-column .span12 > .span9 { padding-right: 0; width: 710px; } }

.frame-front_content.frame-item-1 .panel-two-column .span12 > .span3 { padding-bottom: 30px; }
@media screen and (max-width: 979px) { .frame-front_content.frame-item-1 .panel-two-column .span12 > .span3 { padding-bottom: 10px; } }

.row-fluid > .span12 > .span9 .pane-bundle-slideshow-fpp { margin-bottom: 30px; }
@media screen and (max-width: 979px) { .row-fluid > .span12 > .span9 .pane-bundle-slideshow-fpp.pane-fpid-56 { margin-bottom: 10px; } }
.row-fluid > .span12 > .span9 .pane-bundle-slideshow-fpp #field-slideshow-1-wrapper .field-slideshow { /*@include breakpoint($max1025) { height: 318px !important;
}
@include breakpoint($max980) { height: 325px !important;
}
@include breakpoint($mobile) { height: 315px !important;
}
@include breakpoint($max568) { height: 222px !important;
}
@include breakpoint($max480) { height: 189px !important;
}
@include breakpoint($max320) { height: 124px !important;
}*/ }
@media screen and (min-width: 1281px) { .row-fluid > .span12 > .span9 .pane-bundle-slideshow-fpp #field-slideshow-1-wrapper .field-slideshow { height: 377px !important; } }
@media screen and (min-width: 1025px) and (max-width: 1300px) { .row-fluid > .span12 > .span9 .pane-bundle-slideshow-fpp #field-slideshow-1-wrapper .field-slideshow { height: 318px !important; } }

@media screen and (max-width: 480px) { div.field-slideshow-pager { height: 70px; } }
@media screen and (max-width: 320px) { div.field-slideshow-pager { height: 50px; } }

@media screen and (max-width: 480px) { ul.field-slideshow-pager li span { height: 70px; padding: 0 15px; } }
@media screen and (max-width: 320px) { ul.field-slideshow-pager li span { height: 50px; } }

@media screen and (max-width: 480px) { .field-slideshow-controls a { bottom: 15px; } }
@media screen and (max-width: 320px) { .field-slideshow-controls a { bottom: 5px; } }

@media screen and (min-width: 768px) { .subdomain-reap.front .pane-bundle-slideshow-fpp .field-slideshow-pager li { display: block; } }
