<a href="{{ boxIconItem.link }}" class="block-product-icon__item">
  <i class="block-product-icon__item__icon {{ boxIconItem.icon }} {{ boxIconItem.iconColor }}"></i>
  <span class="block-product-icon__item__title">{{ boxIconItem.text }}</span>
</a>
