@import "settings";

.pane-fsi-frontpage-events-panel-pane-9 {
  padding-bottom: 30px;
  h2 {
    margin-bottom: -10px;
  }
  .view-header {
    position: absolute;
    top: -25px;
    right: 0;
  }
}
