@import
  "settings",
  "../imports/buttons.scss";

.drop-content {
  .region-menu-4 {
    .block-menu-block {
      padding-right: 4%
    }
  }
}

.people-faculty-base .pane-title {
    margin-top: 34px;
    margin-bottom: 16px;
    padding: 10px 0 20px;
    @extend .sr;
    font-size: 48px;
    color: #4D4F53;
}
#block-fsi-custom-rewrites-fsi-domain-menu ul.menu li a,
#block-fsi-custom-rewrites-fsi-domain-menu ul.menu li span {
    font-size: 19px;
}
.people-derictory-list .panel-col-last .field-content {
    @extend .ssb;
    font-style: normal;
}

 #main-menu .menu .shopping-cart {
    position: relative;
    text-shadow: 0 1px 0 #fff;
}
 #main-menu .menu .shopping-cart {
    width: 130px !important;
}
 #main-menu .menu .shopping-cart,
 #main-menu .menu .shopping-cart .text {
    color: #8e130e;
}
  #main-menu .menu .shopping-cart {
  img, span {
    display: inline;
  }
  img {
    padding-right: 10px;
  }
  span {
    &.product-nr {
      float: right;
      height: auto;
      margin-top: 12px;
      border-radius: 100%;
      text-shadow: none;
      font-size: 12px;
      line-height: 16px;
      vertical-align: middle;
      color: #fff;
      background: #8e130e;
      width: 16px;
      height: 16px;
      text-align: center;
      &.more-than-2-digits {
        width: 22px;
        height: 22px;
        margin-top: 10px;
        line-height: 22px;
      }
    }
    &.text {
      width: 62px;
    }
  }
}
 .top-page-description a {
    color: #8d130e;
}

.front .center-wrapper .panel-col-last {
    float: right;
    width: 300px;
  @include breakpoint($mac) {
    width: 27%;
  }
  @include breakpoint($max1025) {
    width: 27%;
  }
  @include breakpoint($max980) {
    float: none;
    width: 100%;
  }
}

.center-wrapper .front-news-block {
  img {
    width: 100%;
  }
  .pane-title {
    margin-top: 0;
    padding-bottom: 10px;
    @extend .sr;
    font-size: 24px;
    line-height: 32px;
    color: #414141;
  }
  .views-field-field-image-media-single {
    img {
      @include breakpoint($max980) {
        width: 100%;
      }
    }
  }
}

.center-wrapper .front-news-block {
  padding-bottom: 20px;
  .view-header a {
    position: absolute;
    top: -36px;
    right: 0;
    font-family: 'ss_semibold',sans-serif;
    font-size: 16px;
    color: #8e130e;
  }
}


 .center-wrapper .front-news-block .view-content .views-row {
    float: none;
    width: 100%;
    margin-left: 0;
    border-bottom: 1px solid #efefef;
    a {
      display: block;
      margin-bottom: 10px;
    }
}

 .center-wrapper .front-news-block .view-content .views-row.views-row-last {
    padding-bottom: 0;
    border: none;
}

 .center-wrapper .front-news-block .views-field-field-image-media-single img {
    margin-bottom: 10px;
}

 .center-wrapper .front-news-block .views-field-title {
    font-size: 15px;
    line-height: 24px;
}

.front .center-wrapper:after,
.front .center-wrapper:before {
    content: "";
    display: table;
    line-height: 0;
}

.front .center-wrapper .panel-col-last .inside {
    margin: 0;
}

.front .center-wrapper:after {
    clear: both;
}

.front .panel-col-bottom {
    overflow: hidden;
}

.front .panel-col-bottom {
  position: relative;
  margin: 10px 0 30px 0;
  @include breakpoint($mobile) {
    margin-bottom: 10px;
  }
}

.front .panel-col-bottom .span12 .pane-bundle-single-image {
  float: left;
  position: relative;
  width: 23.7%;
  margin-right: 1.7333%;
  @include breakpoint($max980) {
    margin-bottom: 1%;
    margin-right: 1%;
    width: 49.5%;
    &:nth-child(2),
    &:nth-child(4) {
      margin-right: 0;
    }
  }
  @include breakpoint($mobile) {
    width: 100%;
  }
}

.front .panel-col-bottom .span12 .pane-bundle-single-image:last-child {
    margin-right: 0;
}

.front .panel-col-bottom .span12 .pane-bundle-single-image .field-type-link-field {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    background: #90042b;
    background: rgba(144,4,43,0.85);
}

.front .panel-col-bottom .span12 .pane-bundle-single-image .field-type-link-field a {
    color: #fff;
}

 .catalog-series-right-menu {
    float: right;
    width: 100%;
}

.catalog-series-right-menu .pane-title {
  @extend .sr;
}

 .catalog-series-right-menu .view-content {
    width: 90%;
}

 .catalog-series-right-menu .view-content a {
    font-size: 20px;
}

.catalog-series-page .pane-term-description .pane-content p {
    font-size: 18px;
}

.catalog-series-page {
  .region-content {
    padding-top: 25px;
  }
    .publication-list .views-field-field-pub-news-type {
        padding: 0;
        position: absolute;
        bottom: 0;
        margin: 0;
        height: auto;
        .field-content {
            position: relative;
        }
    }
}
.node-type-fellowship .panel-pane .pane-content{
    max-width: 760px;
}

.publication-item-page .span3.offset1 .pane-title {
    font-family: ss,sans-serif;
    color: #4d4f53;
}

 .center-wrapper .front-news-block .view-content .views-row {
    padding-top: 30px;
}

.front .center-wrapper .front-news-block .view-content .views-row {
    padding-top: 10px;
}

.front .center-wrapper .front-news-block .view-content .views-row.views-row-1 {
    padding-top: 0;
}

.catalog-series-block {
    padding: 20px 0;
    border-top: 1px solid #e5e3da;
  .pane-title {
    margin-bottom: 15px;
    margin-top: 0;
    font-family: 'ss',sans-serif;
    color: #4d4f53;
  }
  .views-row {
    &:nth-child(2n+1) {
      margin-left: 0;
    }
  }
}

 .catalog-series-block td {
    width: 33.3%;
}

 .catalog-series-block td a {
    font-size: 18px;
}

.catalog-series-page .center-wrapper > .panel-col-last {
    float: right;
    width: 24%;
}

/* Page checkout - shiping */

 .page-checkout-shipping #commerce-checkout-form-shipping .form-item {
    margin-bottom: 15px;
}

.page-checkout-shipping #commerce-checkout-form-shipping label {
    @extend .ssb;
}
.form-item-commerce-shipping-shipping-service .form-radio:checked + label{
  font-family: ss_bold, sans-serif !important;
}

.page-checkout-shipping #commerce-checkout-form-shipping,
.page-checkout-review #commerce-checkout-form-review {
  label {
    display: block;
    padding-left: 30px;
    padding-top: 0;
  }
   input[type=radio] {
    display: none;
    + label {
      background: url(../../images/radio-unchecked.png) no-repeat top left;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 19px;
      height: 19px;
      //background: url(../../images/radio-unchecked.png) 0 0 no-repeat;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:checked + label {
      background: url(../../images/radio-checked.png) no-repeat top left;
    }
  }
}



span.catalog-spice-homepage {
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 25px;
}

span.catalog-spice-homepage a {
    @extend .ssb;
    font-size: 16px;
    color: #8e130e;
}

.pane-bundle-slideshow-fpp {
    position: relative;
    margin-bottom: 25px;
}

.pane-fieldable-panels-pane img {
    height: auto !important;
}

.field-slideshow-caption {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 10px;
  text-align: center;
  @include breakpoint($min1280) {
    bottom: 160px;
  }
  @include breakpoint($mac) {
    bottom: 130px;
  }
  @include breakpoint($max1025) {
    bottom: 110px;
  }
  @include breakpoint($max980) {
    bottom: 90px;
  }
  @include breakpoint($mobile) {
    bottom: 80px !important;
  }
  @include breakpoint($max568) {
    bottom: 60px !important;
  }
  @include breakpoint($max480) {
    bottom: 0 !important;
    position: relative;
  }
  span {
    display: block;
    padding: 0;
    font-family: 'ss_bold',Arial,sans-serif;
    font-size: 45px !important;
    line-height: 45px;
    color: #fff;
    background: transparent;
    width: 100%;
    max-width: 100%;
    @include breakpoint($max480) {
      font-size: 45px !important;
    }
    a {
      @extend .dib;
      padding: 15px 40px;
      font-family: 'ss_bold',Arial,sans-serif;
      font-size: 45px !important;
      color: #fff;
      background: rgb(144, 4, 43);
      background: rgba(168, 5, 50, 0.85);
      width: auto;
      max-width: 80%;
      @include breakpoint($max980) {
        font-size: 25px !important;
        padding: 10px 20px;
      }
      @include breakpoint($max480) {
        display: block;
        font-size: 20px !important;
        max-width: 100%;
      }
    }
  }
}

.field-slideshow-caption-text {
    position: relative;
    right: auto;
    bottom: auto;
    left: auto;
}

span.featured-curriculum-title {
    display: block;
    @extend .sr;
    font-size: 24px;
    color: #414141;
    margin-bottom: 17px;
}

.pane-bundle-slideshow-fpp .field-slideshow-pager {
  display: block;
  text-align: center;
  background: none;
  bottom: 0;
  position: absolute;
  @include breakpoint($max980) {
    height: 70px;
  }
  @include breakpoint($mobile) {
    height: 60px;
  }
  @include breakpoint($max480) {
    bottom: 60px;
    height: 20px;
  }
  @include breakpoint($max320) {
    bottom: 20px;
    height: 20px;
  }
  a {
    @include breakpoint($max480) {
      margin: 0 14px !important;
    }
  }
}

.pane-bundle-slideshow-fpp .field-slideshow-pager a {
  display: inline-block;
  zoom: 1;
  width: 20px;
  height: 20px;
  margin: 25px 14px;
  font-size: 0;
  background: rgba(0, 0, 0, 0) url("../../images/slide-ina.png");
  cursor: pointer;
  &.activeSlide {
    background: rgba(0, 0, 0, 0) url("../../images/slide-a.png");
  }
}

.first-block-big-image {
    margin-top: 0;
    margin-right: 0;
}

.first-block-big-image .title-container {
    bottom: 0;
}

.second-block > div {
    float: left;
    width: 413px;
    margin: 0;
}
.second-block > div.item-2 {
    float: right;
}
.ie8 .second-block > div.item-2 {
    float: left; /* fix for strange IE behaviour */
    margin-left: 2px;
}
.second-block > div:first-child {
    margin-right: 12px;
}

.second-block > div .title-container {
    top: auto;
    bottom: 0;
}
.node-type-fellowship .field-type-text-with-summary li {
    font-size: 18px;
    line-height: 32px;
}

.node-type-fellowship h2 {
    font-size: 23px;
}

.view .date-nav-wrapper .date-heading {
    position: absolute;
}

@media(max-width:1300px) and (min-width:980px) {
    #block-fsi-custom-rewrites-fsi-domain-menu ul.menu li a,
    #block-fsi-custom-rewrites-fsi-domain-menu ul.menu li span {
        font-size: 15px;
    }
     .center-wrapper .front-news-block .view-content .views-row {
        display: none;
    }

     .center-wrapper .front-news-block .view-content .views-row.views-row-1,
     .center-wrapper .front-news-block .view-content .views-row.views-row-2,
     .center-wrapper .front-news-block .view-content .views-row.views-row-3 {
        display: block;
    }

    .field-slideshow-caption span {
        padding: 3px 25px;
        font-size: 45px;
        line-height: 45px;
    }

    .first-block-big-image {
        width: 660px;
    }

    .second-block > div {
        width: 324px;
    }

     .center-wrapper .front-news-block .view-content .views-row {
        padding: 10px 0 5px;
    }

    .inside .pane-views-panes {
        padding-bottom: 20px;
    }
}

.page-checkout-review {
  .checkout-help {
    display: none;
  }
  .commerce_payment .fieldset-legend {
    font-size: 24px;
    color: #4d4f53;
  }
  .cart-listing .views-field-field-image-media-single {
    width: 700px;
    img {
      margin-right: 50px;
    }
  }
}

.tax-info {
  position: absolute;
  left: 0;
  bottom: 0;
  @include breakpoint($max1025) {
    display: none;
  }
}

.page-node .pane-terms-from-node-topics {
    clear: both;
    padding-top: 30px;
    border-top: 1px #e5e3da solid;
}

.page-node .pane-terms-from-node-topics h2 {
    float: left;
    padding: 0 15px 0 0;
    @extend .sr;
    font-size: 18px;
    color: #888888;
}

.page-node .pane-terms-from-node-topics .views-row {
    float: left;
    padding: 0 15px 15px 0;
    line-height: 20px;
}

.page-node .pane-terms-from-node-topics .views-row .views-field {
    float: left;
    padding-right: 15px;
}

.page-node .pane-terms-from-node-topics .views-row .views-field a {
    @extend .ssb;
    font-size: 17px;
    color: #5F584E;
}

#fsi-join-spice-subscription-form {
  width: 400px;
  @include breakpoint($mobile) {
    width: 100%;
  }
  #edit-info {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.7em;
    color: #444;
    @include breakpoint($mobile) {
      margin-bottom: 10px;
    }
  }
  .form-type-textfield > label {
    text-transform: capitalize;
    @extend .ssb;
    font-size: 18px;
  }
  .form-type-item > label {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #ddd solid;
    @extend .sr;
    font-size: 18px;
    color: #666;
  }
  .form-type-checkbox {
    margin-bottom: 20px;
    > {
      input {
        float: left;
        margin-right: 10px;
      }
      label {
        margin-left: 24px;
        font-size: 16px;
        color: #444;
      }
    }
  }
  .form-text {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    margin-bottom: 15px;
    border: 1px #b6b1a9 solid;
    @extend .sr;
    font-size: 16px;
    font-weight: normal;
    background: #efeee8;
    &:focus {
      outline: none;
      background: #fff;
      box-shadow: none;
    }
  }
  .form-submit {
    @extend .red-button-white-text;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 100%;
    @include breakpoint($mobile) {
      margin-bottom: 20px;
    }
  }
}

.pane-bundle-slideshow-fpp {
  .first-block-big-image .title-container,
  .second-block > div .title-container {
    background: rgb(168,5,50) !important;
    background: rgba(168,5,50,0.85) !important;
  }
}

.two-images-bottom .wrapper .title-container {
  @include breakpoint($mobile) {
    padding: 7px 10px 5px !important;
  }
}

 .second-block > div .title-container {
    padding: 12px 13px;
}

 .second-block > div .title-container a {
    font-size: 16px;
}
 span.featured-curriculum-title + br {
    display: none;
}

.node-type-document .pane-node-title {
    color: #4d4f53;
}

.page-user-register #content .block-system {
    width: 70%;
    border: none;
}

.page-user-register .description {
    font-size: 14px;
}

 .spice-book-info-download {
    display: inline-block;
    margin-bottom: 15px;
}
 .node-type-document .pane-node-title {
    margin-top: 0;
}

.node-type-document .pane-node-title {
    margin-top: 0;
}
.node-type-spice-book-product .pane-node-title {
    padding-bottom: 20px;
}
.node-type-spice-book-product .pane-node-field-spice-product-type {
  padding-bottom: 10px;
}
.node-type-spice-book-product .pane-social-share-social-share {
  padding-bottom: 10px;
}
.span8 .pane-node-field-age-range,
td.views-field-field-book-includes {
  width: 420px;
  padding-right: 100px;
}
@media(max-width:1300px) and (min-width:980px) {
    .panel-frontpage .center-wrapper > .panel-col {
        width: 660px;
    }
}

#edit-customer-profile-billing,
.customer_profile_billing.form-wrapper {
  float: left;
  min-width: 29.14083259521701%;
  width: 29.14083259521701%;
  margin-right: 6.288751107174491%;
  @include breakpoint($mobile) {
    float: none;
    margin-right: 0;
    width: 100%;
  }
}
#edit-customer-profile-billing,
#customer-profile-shipping-ajax-wrapper,
.customer_profile_shipping.form-wrapper,
.customer_profile_billing.form-wrapper {
  legend {
    font-size: 24px;
    padding-bottom: 8px;
    color: #4d4f53;
    margin-bottom: 14px;
  }
}

.page-checkout .region-content {
  #edit-commerce-shipping-shipping-service {
    position: relative;
    input[type="radio"] {
      &.unchecked {
        cursor: default;
      }
    }
    label {
      position: relative;
      &.unchecked {
        color: #999;
        cursor: default;
      }
    }
    span.checkout-processing {
      position: absolute;
      top: 4px;
      left: -10px;
      line-height: 30px;
      width: 13px;
      height: 13px;
    }
  }
}

.form-item-commerce-payment-payment-method {
  margin-bottom: 20px;
  input {
    float: left;
  }
  label {
    display: block;
  }
  .form-radio:checked + label .option-title {
    font-weight: normal;
    font-family: 'ss_bold', Arial, sans-serif;
    padding-top: 0;
    line-height: 20px;
  }
  .option-title {
    font-size: 22px;
    display: inline;
    padding-left: 0;
    padding-top: 2px;
    font-family: 'ss', Arial, sans-serif;
  }
  .pay-descr {
    display: block;
    font-size: 16px;
    line-height: 25px;
    padding-top: 4px;
    padding-bottom: 15px;
  }
}

.two-images-bottom .first-block-big-image .wrapper {
  padding: 0 !important;
  .title-container {
    @include breakpoint($mobile) {
      padding: 0 !important;
    }
  }
  .title-container span.title {
    @include breakpoint($mobile) {
      background-color: transparent !important;
    }
  }
}

.pane-spice-catalog-spice-catalog-slider .custom-slideshow .views-field-field-spice-product-type {
  line-height: 1.9;
 }

.views-slideshow-cycle-main-frame-row-item .cart-button {
  margin: 8px 0 0 0;
}

.cart-button {
  padding: 0 10px;
  &.no-icon {
  background: #928b81;
  padding-left: 10px;
  }
}

.page-catalog {
  .exposed-white.exposed-news .views-exposed-widget {
    @include breakpoint($mobile) {
      width: 100%;
      margin-bottom: 20px;
      &.views-submit-button {
        width: 14px;
      }
    }
  }
}
