.anchor-link {
  @extend %clearfix;
  list-style: none;
  padding: 0;

  li {
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    position: relative;

    &:before {
      border-right: 1px solid #898d90;
      content: "";
      height: 15px;
      margin-top: -7px;
      position: absolute;
      right: 0;
      top: 50%;
      width: 1px;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      &:before {
        display: none;
      }
    }
  }
}
