<div class="block-card-9__item bg--light-beige">
  <div class="block-card-9__image">{{ card9Item.image }}</div>
  <div class="block-card-9__title">{{ card9Item.title }}</div>
  <div class="block-card-9__date">{{ card9Item.date }}</div>
  <div class="block-card-9__link">{{ card9Item.link }}</div>
</div>
