<div class="block-card-1__item bg--light-white bg--light">
  <div class="block-card-1__image">
    {{ card1Item.image }}
  </div>
  <h2 class="block-card-1__title">{{ card1Item.title }}</h2>
  <div class="block-card-1__description">{{ card1Item.description }}</div>
  <div class="block-card-1__links">{{ card1Item.links }}</div>
</div>
