<div class="avc-wrap">
  <div class="avc-image">{{ imageTextItem.image }}</div>
  <div class="avc-content">
    <h2 class="avc-block-title">{{ imageTextItem.title }}</h2>
    <div class="avc-body">{{ imageTextItem.body }}</div>
  </div>
</div>
