@charset 'utf-8';
// ICONS.

%icons {
  font-family: 'abaxis';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-'],
[class*=' icon-'] {
  &:before {
    @extend %icons;
  }
}

.icon-in:before {
  content: "\e92c";
}

.icon-check:before {
  content: "\e92b";
}

.icon-angle-left:before {
  content: '\e91f';
}

.icon-angle-double-left:before {
  content: '\e91d';
}

.icon-angle-double-right:before {
  content: '\e91e';
}

.icon-mail:before {
  content: '\e91c';
}

.icon-fax:before {
  content: '\e91b';
}

.icon-location:before {
  content: '\e91a';
}

.icon-arrow-drop-down:before {
  content: '\e901';
}

@mixin icon-arrow-drop-down-media {
  &:before {
    content: '\e901';
  }
}

.icon-search:before {
  content: '\e900';
}

.icon-instagram:before {
  content: '\e907';
}

.icon-warning:before {
  content: '\e906';
}

.icon-arrow-left:before {
  content: '\e905';
}

.icon-arrow-right:before {
  content: '\e904';
}

.icon-youtube:before {
  content: '\e903';
}

.icon-linkedin:before {
  content: '\e902';
}

.icon-caret-right:before {
  content: '\e908';
}

.icon-twitter:before {
  content: '\f099';
}

.icon-facebook:before {
  content: '\f09a';
}

.icon-facebook-f:before {
  content: '\f09a';
}

.icon-google-plus:before {
  content: '\f0d5';
}

.icon-angle-right:before {
  content: '\f105';
}

.icon-angle-down:before {
  content: '\f107';
}

.icon-paw:before {
  content: '\e909';
}

.icon-cow:before {
  content: '\e90a';
}

.icon-horseshoe:before {
  content: '\e90b';
}

.icon-rabbit:before {
  content: '\e90c';
}

.icon-microscope:before {
  content: '\e90d';
}

.icon-salamander:before {
  content: '\e90e';
}

.icon-gorilla:before {
  content: '\e90f';
}
.icon-cloud:before {
  content: '\e910';
}

.icon-heart:before {
  content: '\e911';
}

.icon-cross:before {
  content: '\e912';
}

.icon-hospital:before {
  content: '\e913';
}

.icon-aid-ribbon:before {
  content: '\e914';
}

.icon-house-cross:before {
  content: '\e915';
}

.icon-bear-cross:before {
  content: '\e916';
}

.icon-three-dots:before {
  content: '\e917';
}

.icon-building:before {
  content: '\e918';
}

.icon-link-external:before {
  content: '\e919';
}

.icon-lab:before {
    content: '\e920';
}

.icon-clock:before {
    content: '\e921';
}

.icon-calendar:before {
    content: '\e922';
}

.icon-angle-up:before {
    content: '\e923';
}

.icon-grid:before {
    content: '\e924';
}

.icon-list:before {
    content: '\e925';
}

.icon-triangle-up:before {
  content: '\e926';
}

.icon-bars:before {
  content: '\e927';
}

.icon-world:before {
  content: '\e928';
}

.icon-quotes-left:before {
  content: '\e929';
}

@mixin icon-quotes-left {
  &:before {
    content: '\e929';
  }
}

.icon-quotes-right:before {
  content: '\e92a';
}

@mixin icon-quotes-right {
  &:before {
    content: '\e92a';
  }
}

