<article class="content-group {{ articleSidebarDetail.classes }}">
  <div class="container">
    <div class="content-left">{{ articleSidebarDetail.contentLeft }}</div>
    <div class="content-right bg--light-sandstone">{{ articleSidebarDetail.contentRight }}</div>
  </div>
</article>

