<div class="block-features__item">
  <div class="block-features__item__image">{{ blockFeaturesItem.image }}</div>
  <div class="block-features__item__wrap">
    <h3 class="block-features__item__title">{{ blockFeaturesItem.title }}</h3>
    <div class="block-features__item__description">{{ blockFeaturesItem.body }}</div>
    <div class="block-features__item__link">{{ blockFeaturesItem.link }}</div>
  </div>
</div>
