<div class="block-text-cols bg--white">
  <div class="container">
    <div class="block-text-cols__cols">
    <div class="block-text-cols__cols__item">
      <h3 class="small-title">Relative content 1</h3>
      <div class="block-text-cols__body">
        <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
      </div>
      <div class="link-more-wrap">
        <a href="#">Traning resource</a>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="block-text-cols block-text-cols--2cols bg--stanford-beige10">
  <div class="container">
    <div class="block-text-cols__cols">
      <div class="block-text-cols__cols__item">
        <h3 class="small-title">Relative content 1</h3>
        <div class="block-text-cols__body">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="link-more-wrap">
        <a href="#">Traning resource</a>
      </div>
      </div>
      <div class="block-text-cols__cols__item">
        <h3 class="small-title">Relative content 1</h3>
        <div class="block-text-cols__body">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="link-more-wrap">
        <a href="#">Traning resource</a>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="block-text-cols block-text-cols--3cols bg--stanford-cgray">
  <div class="container">
    <div class="block-text-cols__cols">
      <div class="block-text-cols__cols__item">
        <h3 class="small-title">Relative content 1</h3>
        <div class="block-text-cols__body">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="link-more-wrap">
        <a href="#">Traning resource</a>
      </div>
      </div>
      <div class="block-text-cols__cols__item">
        <h3 class="small-title">Relative content 1</h3>
        <div class="block-text-cols__body">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="link-more-wrap">
        <a href="#">Traning resource</a>
      </div>
      </div>
      <div class="block-text-cols__cols__item">
        <h3 class="small-title">Relative content 1</h3>
        <div class="block-text-cols__body">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="link-more-wrap">
        <a href="#">Traning resource</a>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="block-text-cols block-text-cols--4cols bg--cardinal">
  <div class="container">
    <div class="block-text-cols__cols">
      <div class="block-text-cols__cols__item">
        <h3 class="small-title">Relative content 1</h3>
        <div class="block-text-cols__body">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="link-more-wrap">
        <a href="#">Traning resource</a>
      </div>
      </div>
      <div class="block-text-cols__cols__item">
        <h3 class="small-title">Relative content 1</h3>
        <div class="block-text-cols__body">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="link-more-wrap">
        <a href="#">Traning resource</a>
      </div>
      </div>
      <div class="block-text-cols__cols__item">
        <h3 class="small-title">Relative content 1</h3>
        <div class="block-text-cols__body">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="link-more-wrap">
        <a href="#">Traning resource</a>
      </div>
      </div>
      <div class="block-text-cols__cols__item">
        <h3 class="small-title">Relative content 1</h3>
        <div class="block-text-cols__body">
          <p>Mauris feugiat tellus in justo pharetra, eget fermentum arcu gravida. Nam vitae erat interdum, elementum.</p>
        </div>
        <div class="link-more-wrap">
        <a href="#">Traning resource</a>
      </div>
      </div>
    </div>
  </div>
</div>
