<div class="demo-scroll-wrapper bg--overlay">
  <!-- <h2 class="font--normal">Scroll With Icon</h2> -->
  <div class="demo-scroll-inner box-scroll--wrapper has--icon has--label-bottom">
    <div class="box-scroll">
      <div class="box-scroll__top ">
        <div class="scroll__icon js-scroll-down">
          <div class="mouse"><div class="wheel"></div></div>
            <div>
              <span class="unu"></span>
              <span class="doi"></span>
            </div>
          </div>
            <div class="scroll__content">
          <div class="scroll__title">WHAT WE DO</div>
          <div class="scroll__sub">Scroll Down</div>
        </div>
        <div class="box-scroll__line"></div>
      </div>
      <div class="box-scroll__bottom">
        <h2 class="scroll__heading">What we Do</h2>
      </div>
    </div>
  </div>
</div>
<div class="demo-scroll-wrapper bg--overlay">
  <!-- <h2 class="font--normal">Scroll With No Icon</h2> -->
  <div class="demo-scroll-inner box-scroll--wrapper has--label-bottom">
    <div class="box-scroll">
      <div class="box-scroll__top ">
        <div class="scroll__content">
          <div class="scroll__title"></div>
          <div class="scroll__sub"></div>
        </div>
        <div class="box-scroll__line"></div>
      </div>
      <div class="box-scroll__bottom">
        <h2 class="scroll__heading">What we Do</h2>
      </div>
    </div>
  </div>
</div>
<div class="demo-scroll-wrapper bg--overlay">
  <!-- <h2 class="font--normal">Scroll With No Icon , No Bottom Label</h2> -->
  <div class="demo-scroll-inner box-scroll--wrapper">
    <div class="box-scroll">
      <div class="box-scroll__top ">
        <div class="scroll__content">
          <div class="scroll__title"></div>
          <div class="scroll__sub"></div>
        </div>
        <div class="box-scroll__line"></div>
      </div>
    </div>
  </div>
</div>
