{% block button %}
<div class="container">
  <p><a class="btn" href="#">Button Default (Outline Crimson)</a></p>
  <p><a class="btn btn--solid-crimson" href="#">Solid Crimson</a></p>
  <p><a class="btn btn--outline-black" href="#">Outline Black</a></p>
  <p class="bg--stanford-cgray" style="padding: 10px;"><a class="btn btn--outline-white btn--small" href="#">Outline White</a></p>
</div>
{% endblock %}
