{% block button %}
<div class="container">
  <p><a href="#A1">Link style A1. This is default link.</a></p>
  <p><a class="link--charade" href="#A2">Link style A2. READ MORE &#124; FULL BIO</a></p>
  <a class="link--crimson" href="#A3">Link style A3. See all news</a>
</div>
{% endblock %}
