{% block list %}
<div class="container">
  <h3>List For Detail</h3>
  <ul class="list">
    <li>Nulla vitae elit libero, a pharetra augue.</li>
    <li><a href="#">Maecenas faucibus mollis interdum.</a></li>
    <li><a href="#">Maecenas sed diam eget risus varius.</a></li>
    <li>Blandit sit amet non magna.</li>
  </ul>
  <ol class="list list--number">
    <li>Nulla vitae elit libero, a pharetra augue.</li>
    <li><a href="#">Maecenas faucibus mollis interdum.</a></li>
    <li><a href="#">Maecenas sed diam eget risus varius.</a></li>
    <li>Blandit sit amet non magna.</li>
  </ol>
</div>
{% endblock %}
