{% block boxFeature %}
  <div class="box-feature box-feature--bigleft list-in-article">
    <div class="container">
      <div class="box-feature__left">
        <h2 class="small-title">Unique architectural advantage</h3>
        <div class="box-feature__body">
          <strong>Stop threats before they enter</strong>
          <p>Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt.</p>
          <ul>
            <li>Proin eget tortor risus</li>
            <li>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus</li>
            <li>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</li>
            <li>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt proin eget tortor risus.</li>
          </ul>
        </div>
      </div>
      <div class="box-feature__right">
        <div class="video-wrap js-play-video">
          <iframe class="youtube-video" src="https://www.youtube.com/embed/lWA2pjMjpBs?enablejsapi=1&version=3&playerapiid=ytplayer" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <div class="video-wrap__poster">
            <span class="video-wrap__icon icon-play"></span>
            <img class="" width="960" height="540" src="{{ img_path }}/960x540/960x540.jpg" alt="Image">
          </div>
        </div>
        <h2 class="small-title">Youtube video sagittis elit eu</h2>
        <div class="box-feature__body">
          <p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="box-feature box-feature--bigright list-in-article bg--cardinal">
    <div class="container">
      <div class="box-feature__left">
        <div class="video-wrap js-play-video">
          <iframe class="vimeo-video" src="https://player.vimeo.com/video/34650705" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <div class="video-wrap__poster">
            <span class="video-wrap__icon icon-play"></span>
            <img class="" width="960" height="540" src="{{ img_path }}/960x540/960x540-2.jpg" alt="Image">
          </div>
        </div>
        <h2 class="small-title">Vimeo video sagittis elit eu</h2>
        <div class="box-feature__body">
          <p>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt.</p>
        </div>
      </div>
      <div class="box-feature__right">
        <h2 class="small-title">Unique architectural advantage</h2>
        <div class="box-feature__body">
          <strong>Stop threats before they enter</strong>
          <p>Proin eget tortor risus. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt.</p>
          <ul>
            <li>Proin eget tortor risus</li>
            <li>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus</li>
            <li>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</li>
            <li>Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt proin eget tortor risus.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
