<div class="block-card-2__item">
  <div class="block-card-2__image">
    {{ card2Item.image }}
  </div>
  <div class="block-card-2__type">{{ card2Item.type }}</div>
  <div class="block-card-2__title">{{ card2Item.title }}</div>
  <div class="block-card-2__links">{{ card2Item.links }}</div>
</div>
