<div class="block-product__grid-3col__item block-product__content">
  <div class="block-product__logo">{{ blockProductItem.logo }}</div>
  <div class="block-product__body">{{ blockProductItem.body }}</div>
  <div class="block-product__image">{{ blockProductItem.image }}</div>
  <div class="block-product__link">{{ blockProductItem.link }}</div>
</div>
