<div class="grc-7__item">
    <div class="grc-7__image">{{ grc7Item.image }}</div>
    <h3 class="grc-7__title">{{ grc7Item.title }}</h3>
    <div class="grc-7__link">{{ grc7Item.link }}</div>
</div>
