<div class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__item footer__column-one">
        <div class="box-term-list js-slideToggle">
          <h2 class="box-title">Team</h2>
          <ul class="menu js-slideToggle-child">
            <li><a href="">CEO</a></li>
            <li><a href="">crop communications</a></li>
            <li><a href="">corporate development</a></li>
            <li><a href="">data science</a></li>
            <li><a href="">digital cockpit</a></li>
            <li><a href="">digital openrations</a></li>
            <li><a href="">digital systems</a></li>
            <li><a href="">electrification</a></li>
            <li><a href="">finance</a></li>
            <li><a href="">global procurement</a></li>
            <li><a href="">legal</a></li>
            <li><a href="">people operations</a></li>
            <li><a href="">product  management</a></li>
            <li><a href="">UI/UX</a></li>
            <li><a href="">vehicle Engineering</a></li>
            <li><a href="">vehicle integration</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__item footer__column-two">
        <div class="box-term-list js-slideToggle">
          <h2 class="box-title">workplace</h2>
          <ul class="menu js-slideToggle-child">
            <li><a href="">cafe</a></li>
            <li><a href="">conferebce rooms</a></li>
            <li><a href="">fitness</a></li>
            <li><a href="">locations</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__item footer__column-three">
        <div class="box-term-list js-slideToggle">
          <h2 class="box-title">hr</h2>
          <ul class="menu js-slideToggle-child">
            <li><a href="">time off / holidays</a></li>
            <li><a href="">gettting started at nextEV</a></li>
            <li><a href="">employee referrals</a></li>
            <li><a href="">business cards</a></li>
            <li><a href="">workday</a></li>
            <li><a href="">answer bar</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__item footer__column-four">
        <div class="box-term-list js-slideToggle ">
          <h2 class="box-title">communications</h2>
          <ul class="menu js-slideToggle-child">
            <li><a href="">digital assets</a></li>
            <li><a href="">news archive</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__item footer__column-five">
        <div class="box-term-list js-slideToggle">
          <h2 class="box-title">quick links</h2>
          <ul class="menu js-slideToggle-child">
            <li><a href="">companany holidays</a></li>
            <li><a href="">expense portal</a></li>
            <li><a href="">travel</a></li>
            <li><a href="">payroll</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="box-copyright">
        <div class="box-copyright__content">
          <p>Copyright@2016 NextEV USA Inc. All rights reserved. NextEV USA Internal.</p>
          <a href="internalusasite@nextev.com">internalusasite@nextev.com</a>
        </div>
        <p class="back-top js-scroll-top">
          <a href="#top"><span>Back to Top</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
