{% block navigation %}
  <div class="main-nav">
    <ul class="nav-menu">
      <li class="nav-menu__item js-slideToggle">
        <a href="">Team</a>
        <ul class="menu-dropdown js-slideToggle-child">
          <li><a href="">CEO</a></li>
          <li><a href="">crop communications</a></li>
          <li><a href="">corporate development</a></li>
          <li><a href="">data science</a></li>
          <li><a href="">digital cockpit</a></li>
          <li><a href="">digital openrations</a></li>
          <li><a href="">digital systems</a></li>
          <li><a href="">electrification</a></li>
        </ul>
      </li>
      <li class="nav-menu__item js-slideToggle">
        <a href="">about</a>
        <ul class="menu-dropdown js-slideToggle-child">
          <li><a href="">CEO</a></li>
          <li><a href="">crop communications</a></li>
          <li><a href="">corporate development</a></li>
          <li><a href="">data science</a></li>
          <li><a href="">digital cockpit</a></li>
        </ul>
      </li>
      <li class="nav-menu__item js-slideToggle">
        <a href="">workplace</a>
        <ul class="menu-dropdown js-slideToggle-child">
          <li><a href="">CEO</a></li>
          <li><a href="">crop communications</a></li>
          <li><a href="">corporate development</a></li>
          <li><a href="">data science</a></li>
          <li><a href="">digital cockpit</a></li>
        </ul>
      </li>
    </ul>
  </div>
{% endblock %}
