<div class="text-1__item">
  <h3 class="text-1__title">{{ txt1Item.title }}</h3>
  <div class="text-1__description">{{ txt1Item.description }}</div>
  <div class="text-1__links"> {{ txt1Item.links }}</div>
</div>
