<nav class="utility-link">
  <div class="container">
     <ul class="menu">
        <li class="menu__item menu__item--expanded">
          <a href="#">Solutions</a>
          <ul class="menu">
            <li><a href="#">Automotive</a></li>
            <li><a href="#">Industrial</a></li>
            <li><a href="#">Consumer</a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--expanded">
          <a href="#">Products</a>
          <ul class="menu">
            <li><a href="#">Wireless</a></li>
            <li><a href="#">Microcontrollers (MCUs)</a></li>
            <li><a href="#">Memory</a></li>
            <li><a href="#">Universal Serial Bus (USB)</a></li>
            <li><a href="#">Power Management</a></li>
            <li><a href="#">Touch Sensing</a></li>
            <li><a href="#">Clocks & Buffers</a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--expanded">
          <a href="#">Design Support</a>
          <ul class="menu">
            <li><a href="#">Community</a></li>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Development Kits</a></li>
            <li><a href="#">Quality & Reliability</a></li>
            <li><a href="#">Product Roadmaps</a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--expanded">
          <a href="#">Buy & Sample</a>
          <ul class="menu">
            <li><a href="#">Request Samples</a></li>
            <li><a href="#">Buy Devices</a></li>
            <li><a href="#">Buy Development Kits </a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--expanded">
          <a href="#">About Us</a>
          <ul class="menu">
            <li><a href="#">Investors</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </li>
     </ul>
  </nav>
</div>
