{#
/**
 * @file
 * Template for a 2 column panel layout.
 *
 * This template provides a two column panel display layout, with
 * each column roughly equal in width.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - $content['top']: Content in the top.
 *   - $content['left']: Content in the left column.
 *   - $content['right']: Content in the right column.
 *   - $content['bottom']: Content in the bottom.
 */
#}
<div class="panel-col-top">
  {{ content.top }}
</div>
<div class="container content-sidebar content-sidebar--sidebar-left">
  <div class="content-sidebar__sidebar">
    {{ content.left }}
  </div>
  <div class="content-sidebar__content">
    {{ content.right }}
  </div>
</div>
<div class="panel-col-bottom">
  {{ content.bottom }}
</div>


