<div class="video-wrap js-play-video">
  {{ videoWrap.video }}
  <div class="video-wrap__poster bg--dark-black--overlay">
    <span class="video-wrap__icon icon-play"></span>
    {{ videoWrap.image }}
  </div>
</div>
<h2 class="video-wrap__title">{{ videoWrap.title }}</h2>
<div class="video-wrap__description">{{ videoWrap.description }}</div>