<form>
  <div class="cards-view-filter__inner">
    <label>Show:</label>
    <div class="form-item form-type-select form-item-select">
      <select id="edit-select" name="select" class="form-select">
        <option value="" selected="selected">All groups</option>
        <option value="groups_1">Groups 1</option>
        <option value="groups_2">Groups 2</option>
        <option value="groups_3">Groups 3</option>
      </select>
    </div>
    <div class="form-item form-type-select form-item-select">
      <select id="edit-select" name="select" class="form-select">
        <option value="" selected="selected">All Topics</option>
        <option value="topics_1">Topics 1</option>
        <option value="topics_2">Topics 2</option>
        <option value="topics_3">Topics 3</option>
      </select>
    </div>
  </div>
</form>
