<div class="block-registration {{ blockRegistration.backgroundColor }} block-registration--with-logo">
  <div class="container-narrow">
    <div class="block-registration__text">{{ blockRegistration.body }}</div>
    <div class="block-registration__image">{{ blockRegistration.image }}</div>
    <div class="block-subscribe__form">{{ blockRegistration.link }}</div>
  </div>
</div>
