<div class="block-card-7__item">
  <div class="block-card-7__image">
    {{ card7Item.image }}
  </div>
  <div class="block-card-7__group">
    <h3 class="block-card-7__title">{{ card7Item.title }}</h3>
    <div class="block-card-7__description">{{ card7Item.description }}</div>
    <div class="block-card-7__links link-btn-wrap">{{ card7Item.links }}</div>
  </div>
</div>
