<h2 class="block-distributor__title">{{ blockDistributorItem.title }}</h2>
<div class="block-distributor__content-left">{{ blockDistributorItem.body }}</div>
<div class="block-distributor__link-left">{{ blockDistributorItem.link }}</div>
