.dropdown-filter {
  position: relative;

  &__list {
    background: $white;
    box-shadow: rem(0 1px 5px 0) rgba($gray-40, 0.75);
    display: none;
    padding: rem(10px 20px);
    margin-left: 0;
    position: absolute;
    top: 100%;
    z-index: 9;
    width: calc(100% - 30px);

    @include susy-media(desktop) {
      width: calc(100% - 20px)

    }

    li {
      a:hover {
        color: $primary-color;
      }
    }
  }
}

.page-events {
  #content-head {
    .container {
      margin: 0;
    }
  }
}

.calendar-event {
  &__filter {
    @include clearfix;

    @include susy-media(mobileTabletOnly) {
      margin: rem(0 -10px);
    }

    @include susy-media(mobileLandscapeOnly) {
      margin: 0;
    }

    > ul {
      margin-left: 0;

      > li {
        float: left;
        margin-bottom: rem(10px);
        width: 100%;
        padding: rem(0 10px);
        box-sizing: border-box;

        @include susy-media(tabletOnly) {
          padding: rem(0 10px);
          width: 50%;

          &:nth-child(2n + 2) {
            float: right;
          }
        }

        // @include susy-media(mobileLandscapeOnly) {
        //   font-size: rem(16px);
        //   padding: 0 !important;
        //   width: 100%;
        // }

        @include susy-media(desktop) {
          margin-bottom: 0;
          max-width: rem(220px);
          padding-right: rem(20px);
          padding-left: 0;
          width: auto;
        }

        &.show-dropdown-filter {
          .dropdown-filter__list {
            display: block;
          }
        }

        > a {
          border: rem(1px) solid $primary-color;
          padding: rem(10px 20px);

          &:hover {
            color: $white;
            background-color: $primary-color;
          }
        }

        &.active {
          > a {
            background-color: $primary-color;
            color: $white;
          }
        }
      }
    }

    li {
      position: relative;

      &.has-children {
        > a {
          padding-right: rem(30px);
          position: relative;

          &:before {
            @extend %icons;
            color: $primary-color;
            content: '\e906';
            margin-top: rem(-10px);
            position: absolute;
            right: rem(5px);
            top: 50%;
          }
        }

        &:hover {
          > a {
            background-color: $primary-color;
            color: $white;
          }
        }
      }

      &:hover {
        a:before {
          color: $white;
        }
      }

      a {
        color: $text-color;
        display: block;
        padding: rem(5px 0);

        @include susy-media(mobileTabletOnly) {
          font-size: rem(16px);
        }
      }
    }

    .views-exposed-form {
      .views-submit-button {
        position: relative;
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
        clear: both;
        float: none;

        .ajax-progress-throbber {
          position: absolute;
          width: 100%;
        }

        .form-submit {
          @extend %element-invisible;
        }
      }
    }
  }

  // &__schedule__icon {
  //   @include source-sans-pro;
  //   border: rem(1px) solid $primary-color;
  //   color: $text-color;
  //   cursor: pointer;
  //   display: block;
  //   padding: rem(10px 20px);
  //   position: relative;
  //   width: calc(50% - 10px);

  //   @include susy-media(mobileLandscapeOnly) {
  //     font-size: rem(16px);
  //     width: 100%;
  //   }

  //   &:before {
  //     @extend %icons;
  //     color: $primary-color;
  //     content: '\e907';
  //     font-size: rem(24px);
  //     margin-top: rem(-13px);
  //     position: absolute;
  //     right: rem(5px);
  //     top: 50%;
  //   }

  //   &:hover {
  //     background-color: $primary-color;
  //     color: $white;

  //     &:before {
  //       color: $white;
  //     }
  //   }
  // }

  &__list {
    padding: rem(50px 0 0);

    .block-two-column-views {
      padding: 0;
    }

    @include susy-media(mobileTabletOnly) {
      &.hidden {
        display: none;
      }
    }

    @include susy-media(desktop) {
      float: left;
      padding-right: rem(60px);
      width: 65%;
    }

    .block-events__dayweek {
      background-color: $gray-ed;
    }
  }

  &__schedule {
    padding: rem(35px 0 0);

    .view-header {
      .date-nav {
        padding-bottom: 0;
      }

      .date-heading {
        @include clearfix;
        position: static;
        padding: 20px 0;

        h3 {
          @include source-sans-pro-bold;
          color: $primary-color;
          display: inline-block;
          font-size: rem(20px);
          font-weight: normal;
          height: auto;
          overflow: inherit;
          position: relative;
          text-align: center;
          text-indent: inherit;
          text-transform: capitalize;
          width: auto;
          z-index: 2;
        }
      }

      .pager {
        @include clearfix;
        margin-top: rem(-20px);
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: 1;

        li {
          display: inline-block;
          position: static;
          width: auto;

          a {
            background-color: $gray-ed;
            border-radius: 50%;
            border: none;
            cursor: poiter;
            height: rem(38px);
            position: relative;
            text-align: center;
            text-indent: -999em;
            width: rem(38px);

            &:before {
              @extend %icons;
              font-size: rem(22px);
              left: 0;
              margin-top: rem(-11px);
              position: absolute;
              right: 0;
              text-indent: 0;
              top: 50%;
            }

            &:hover {
              &:before {
                color: $primary-color;
              }
            }
          }
        }

        .date-prev {
          float: left;

          a {
            margin-left: 0;

            &:before{
              @extend .icon-chevron-left;
            }
          }
        }

        .date-next {
          float: right;

          a {
            margin-right: 0;

            &:before{
              @extend .icon-chevron-right;
            }
          }
        }
      }
    }

    .view-filters {
      position: relative;

      .views-exposed-form {
        @extend %element-invisible;
      }
    }

    .calendar-calendar {
      .month-view {
        width: 100%;
      }

      table {
        border-collapse: collapse !important;
        border-color: $gray-ed;
        width: 100%;
      }

      thead {
        border-top: rem(1px) solid $gray-ed;
        padding: rem(5px 0);

        th.days {
          @include source-sans-pro-bold;
          background-color: transparent;
          border: 0;
          box-shadow: none;
          font-size: rem(16px);
          font-weight: normal;
          text-align: center;
        }
      }

      tbody {
        tr {
          border-top: rem(1px) solid $gray-ed;
        }

        td {
          @include source-sans-pro;
          background-color: $white;
          background-image: none;
          font-size: rem(16px);
          height: auto;
          padding: rem(8px 0);
          text-align: center;
          width: auto;

          .month {
            display: block;
            height: rem(38px);
            line-height: rem(38px);
            margin: 0 auto;
            vertical-align: middle;
            width: rem(38px);
          }

          a {
            text-decoration: none;
          }

          .mini-day-off,
          .mini-day-on {
            border-radius: 50%;
          }

          &.has-events {
            @include source-sans-pro-bold;
            color: $gray-3c4;

            .mini-day-on {
              background-color: $gray-ed;
            }

            a {
              color: $gray-3c4;

              &:hover {
                color: $primary-color;
              }
            }
          }

          &.today {
            color: $white;

            .mini-day-off {
              background-color: $primary-color;
            }
          }

          &.empty {
            background-color: $white;
          }
        }
      }
    }

    @include susy-media(mobileTabletOnly) {
      display: none;

      &.active {
        display: block;
      }
    }

    @include susy-media(desktop) {
      float: left;
      width: 35%;
    }
  }

  &__header {
    position: relative;

    .date-heading {
      @include source-sans-pro-bold;
      color: $primary-color;
      font-size: rem(20px);
      padding: rem(20px 0);
      text-align: center;
      text-transform: capitalize;
    }

    .controls {
      margin-top: rem(-20px);
      position: absolute;
      top: 50%;
      width: 100%;
    }

    li {
      background-color: $gray-ed;
      border-radius: 50%;
      cursor: poiter;
      height: rem(38px);
      position: relative;
      text-align: center;
      width: rem(38px);

      &:before {
        font-size: rem(22px);
        left: 0;
        margin-top: rem(-11px);
        position: absolute;
        right: 0;
        top: 50%;
      }
    }

    .date-prev {
      float: left;
      margin-left: rem(6px);
    }

    .date-next {
      float: right;
      margin-right: rem(6px);
    }
  }

  table {
    border-color: $gray-ed;
  }

  thead {
    padding: rem(5px 0);

    th.days {
      @include source-sans-pro-bold;
      border-bottom: none;
      font-size: rem(16px);
      text-align: center;
      border-top: rem(1px) solid $gray-ed;
      background-color: transparent;
    }
  }

  tbody {
    td {
      border-top: rem(1px) solid $gray-ed;
      font-size: rem(16px);
      text-align: center;

      .month {
        display: block;
        height: rem(38px);
        margin: 0 auto;
        padding: rem(6px 0);
        vertical-align: middle;
        width: rem(38px);
      }

      &.has-events {
        @include source-sans-pro-bold;
        color: $gray-3c4;

        .mini-day-off {
          background-color: $gray-ed;
          border-radius: 50%;
        }
      }

      &.today {
        color: $white;

        .mini-day-off {
          background-color: $primary-color;
        }
      }
    }
  }
}
