@charset 'utf-8';
// ICONS.

%icons {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'proofpoint';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

[class^='icon-'],
[class*=' icon-'] {
  &:before {
    @extend %icons;
  }
}

.icon-angle-double-right:before {
  content: '\e927';
}

.icon-angle-double-left:before {
  content: '\e928';
}

.icon-minus:before {
  content: '\e901';
}

.icon-plus:before {
  content: '\e900';
}

.icon-quote:before {
  content: '\e90e';
}

.icon-caret-down:before {
  content: '\e90d';
}

.icon-files-empty:before {
  content: '\e90c';
}

.icon-menu:before {
  content: '\e90b';
}

.icon-price-tags:before {
  content: '\e906';
}

.icon-caret-up:before {
  content: '\e90a';
}

.icon-caret-right:before {
  content: '\e902';
}

.icon-caret-left:before {
  content: '\e903';
}

.icon-check:before {
  content: '\e904';
}

.icon-search:before {
  content: '\f002';
}

.icon-envelope-o:before {
  content: '\f003';
}

.icon-film:before {
  content: '\f008';
}

.icon-clock-o:before {
  content: '\f017';
}

.icon-download:before {
  content: '\f019';
}

.icon-headphones:before {
  content: '\f025';
}

.icon-info-circle:before {
  content: '\f05a';
}

.icon-mail-forward:before {
  content: '\f064';
}

.icon-exclamation-triangle:before {
  content: '\f071';
}

.icon-comment:before {
  content: '\f075';
}

.icon-shopping-cart:before {
  content: '\f07a';
}

.icon-bar-chart:before {
  content: '\f080';
}

.icon-cogs:before {
  content: '\f085';
}

.icon-comments:before {
  content: '\f086';
}

.icon-thumb-tack:before {
  content: '\f08d';
}

.icon-phone:before {
  content: '\f095';
}

.icon-twitter:before {
  content: '\f099';
}

.icon-facebook:before {
  content: '\f09a';
}

.icon-rss:before {
  content: '\f09e';
}

.icon-hdd-o:before {
  content: '\f0a0';
}

.icon-bullhorn:before {
  content: '\f0a1';
}

.icon-globe:before {
  content: '\f0ac';
}

.icon-wrench:before {
  content: '\f0ad';
}

.icon-briefcase:before {
  content: '\f0b1';
}

.icon-users:before {
  content: '\f0c0';
}

.icon-flask:before {
  content: '\f0c3';
}

.icon-paperclip:before {
  content: '\f0c6';
}

.icon-google-plus:before {
  content: '\f0d5';
}

.icon-envelope:before {
  content: '\f0e0';
}

.icon-linkedin:before {
  content: '\f0e1';
}

.icon-tachometer:before {
  content: '\f0e4';
}

.icon-comments-o:before {
  content: '\f0e6';
}

.icon-sitemap:before {
  content: '\f0e8';
}

.icon-umbrella:before {
  content: '\f0e9';
}

.icon-lightbulb-o:before {
  content: '\f0eb';
}

.icon-cloud-download:before {
  content: '\f0ed';
}

.icon-suitcase:before {
  content: '\f0f2';
}

.icon-file-text-o:before {
  content: '\f0f6';
}

.icon-angle-left:before {
  content: '\f104';
}

.icon-angle-right:before {
  content: '\f105';
}

.icon-angle-down:before {
  content: '\f107';
}

.icon-laptop:before {
  content: '\f109';
}

.icon-mobile:before {
  content: '\f10b';
}

.icon-folder-open-o:before {
  content: '\f115';
}

.icon-code:before {
  content: '\f121';
}

.icon-code-fork:before {
  content: '\f126';
}

.icon-puzzle-piece:before {
  content: '\f12e';
}

.icon-microphone:before {
  content: '\f130';
}

.icon-shield:before {
  content: '\f132';
}

.icon-unlock-alt:before {
  content: '\f13e';
}

.icon-usd:before {
  content: '\f155';
}

.icon-youtube:before {
  content: '\f167';
}

.icon-youtube-play:before {
  content: '\f16a';
}

.icon-apple:before {
  content: '\f179';
}

.icon-android:before {
  content: '\f17b';
}

.icon-university:before {
  content: '\f19c';
}

.icon-graduation-cap:before {
  content: '\f19d';
}

.icon-cubes:before {
  content: '\f1b3';
}

.icon-file-pdf-o:before {
  content: '\f1c1';
}

.icon-file-word-o:before {
  content: '\f1c2';
}

.icon-file-excel-o:before {
  content: '\f1c3';
}

.icon-file-archive-o:before {
  content: '\f1c6';
}

.icon-file-audio-o:before {
  content: '\f1c7';
}

.icon-file-video-o:before {
  content: '\f1c8';
}

.icon-file-code-o:before {
  content: '\f1c9';
}

.icon-life-ring:before {
  content: '\f1cd';
}

.icon-paper-plane-o:before {
  content: '\f1d9';
}

.icon-history:before {
  content: '\f1da';
}

.icon-sliders:before {
  content: '\f1de';
}

.icon-binoculars:before {
  content: '\f1e5';
}

.icon-at:before {
  content: '\f1fa';
}

.icon-pie-chart:before {
  content: '\f200';
}

.icon-line-chart:before {
  content: '\f201';
}

.icon-user-secret:before {
  content: '\f21b';
}

.icon-heartbeat:before {
  content: '\f21e';
}

.icon-server:before {
  content: '\f233';
}

.icon-balance-scale:before {
  content: '\f24e';
}

.icon-hourglass-half:before {
  content: '\f252';
}

.icon-calendar-check-o:before {
  content: '\f274';
}

.icon-industry:before {
  content: '\f275';
}

.icon-map-signs:before {
  content: '\f277';
}

.icon-map-o:before {
  content: '\f278';
}

.icon-commenting-o:before {
  content: '\f27b';
}

.icon-shopping-bag:before {
  content: '\f290';
}

.icon-question-circle-o:before {
  content: '\f29c';
}

.icon-hamburger-close-ppoint:before {
  content: '\e907';
}

.icon-hamburger-ppoint:before {
  content: '\e908';
}

.icon-search-ppoint:before {
  content: '\e909';
}

.icon-close-ppoint:before {
  content: '\e905';
}

.icon-bullhorn-ppoint:before {
  content: '\e90f';
}

.icon-phone-ppoint:before {
  content: '\e910';
}

.icon-clock-ppoint:before {
  content: '\e911';
}

.icon-announcement-ppoint:before {
  content: '\e912';
}

.icon-webinar-ppoint:before {
  content: '\e913';
}

.icon-event-ppoint:before {
  content: '\e914';
}

.icon-calendar-ppoint:before {
  content: '\e915';
}

.icon-location-ppoint:before {
  content: '\e916';
}

.icon-stats-mobile-ppoint:before {
  content: '\e917';
}

.icon-stats-social-ppoint:before {
  content: '\e918';
}

.icon-stats-mail-ppoint:before {
  content: '\e919';
}

.icon-mail-ppoint-2:before {
  content: '\e91b';
}

.icon-demo-ppoint:before {
  content: '\e91c';
}

.icon-check-ppoint:before {
  content: '\e91a';
}

.icon-industry-video-ppoint:before {
  content: '\e91d';
}

.icon-industry-datasheet-ppoint:before {
  content: '\e91e';
}

.icon-industry-infographic-ppoint:before {
  content: '\e91f';
}

.icon-industry-research-ppoint:before {
  content: '\e920';
}

.icon-industry-whitepaper-ppoint:before {
  content: '\e921';
}

.icon-industry-solution-ppoint:before {
  content: '\e922';
}

.icon-pressrelease-ppoint:before {
  content: '\e923';
}

.icon-news-ppoint:before {
  content: '\e924';
}

.icon-media-ppoint:before {
  content: '\e925';
}

.icon-blog-ppoint:before {
  content: '\e926';
}

.icon-search-wide-ppoint:before {
  content: '\e929';
}

.icon-threat-ppoint:before {
  content: '\e92a';
}

.icon-people-ppoint:before {
  content: '\e92b';
}

.icon-data-ppoint:before {
  content: '\e92c';
}
